@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.edit-profile-section {
    .section-container {
        background-color: $gl-2;
        border-radius: $round-corner-3;
        padding: 16px;
        gap: 12px;
        justify-self: center;
    }

    .form {
        .input-group {
            input,
            textarea {
                width: 100%;
                font-size: 1.2rem;
                padding: 4px 8px;
                border: 2px solid $gd-1;
                outline: none;
                color: $gd-1;
                background-color: $white;
                border-radius: $round-corner-1;
    
                &:focus {
                    outline: none;
                    border: 2px solid $red-1;
                }
            }

            .input-label {
                font-size: 0.7rem;
            }
        }
    }

    .grid-group-container {
        width: 100%;
    }

    .grid-group-col-container {
        width: calc(50% - 6px);
        gap: 12px;
    }

    .grid-container {
        background-color: $gl-1;
        padding: 16px;
        border-radius: $round-corner-2;
        gap: 8px;

        &.w-100 {
            width: 100%;
        }

        &.w-50 {
            width: calc(50% - 6px);
            gap: 4px;
        }

        &.w-40 {
            width: calc(40% - 8px);
            gap: 4px;
        }

        &.w-20 {
            width: calc(20% - 8px);
        }

        .grid-title {
            font-weight: 600;
        }

        .grid-text {
            font-size: 1.2rem;
        }
    }

    .personal-container {
        gap: 24px;
        width: 100%;
    }

    .save-container {
        .btn {
            width: 100%;
            height: 54px;
        }
    }

    .personal-info-container {
        width: 100%;

        .name-title-container {
            width: 100%;
            gap: 4px;
            height: 100px;
        }

        .profile-name {
            font-size: 1.8rem;
            font-weight: 600;
        }

        .profile-title {
            font-size: 1.4rem;
        }

        .input-group {
            width: 100%;
        }

        .input-group-container {
            width: 100%;
            gap: 8px;

            .input-group {
                width: calc(50% - 4px);
            }
        }
    }

    .contact-container {
        gap: 4px;
        width: 100%;

        .input-group {
            width: calc(100% - 40px);
        }
    }

    .contact-btn {
        gap: 8px;
        width: 100%;

        .red-text {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 2px solid $red-1;
            font-size: 1.1rem;
        }
    }

    .bio-container {
        height: calc(458px - 98px);
        overflow: hidden;

        .grid-text {
            height: calc(100% - 54px);
            width: 100%;

            textarea {
                height: 100%;
                overflow-y: scroll;
                width: 100%;
                resize: none;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-thumb  {
                    background-color: $red-1;
                    border: none;
                    border-radius: $round-corner-1;
                }
            }   
        }
    }

    .select-container {
        position: relative;

        .selected-container {
            width: 100%;
            padding: 4px 8px;
            border: 2px solid $gd-1;
            background-color: $white;
            border-radius: $round-corner-1;
            cursor: pointer;

            &.open {
                border: 2px solid $red-1;
            }
        }

        .select-options-container {
            position: absolute;
            bottom: 86px;
            width: calc(100% - 32px);
            background-color: $white;
            border: 2px solid $red-1;
            border-radius: $round-corner-1;
            left: 16px;
            padding: 12px;
            gap: 4px;
            max-height: 148px;
            overflow-y: scroll;
            display: none;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb  {
                background-color: $red-1;
                border: none;
                border-radius: $round-corner-1;
            }

            &.open {
                display: flex;
            }

            .select-item {
                cursor: pointer;
                padding: 8px 16px;
                border-radius: $round-corner-1;
                width: 100%;

                &:hover {
                    background-color: $gl-2;
                }
            }
        }
    }

    .hidden-input-container {
        display: none;
    }

}