@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.profile-section {
    justify-content: flex-start;
    padding: 40px 0;
    
    .items-container {
        width: 600px;
        gap: 32px;
    }

    .item-container  {
        width: 100%;
        padding: 24px;
        gap: 12px;
        background-color: $gl-1;
        border-radius: $round-corner-3;

        .item-heading {
            font-weight: 600;
        }

        .text-item {
            padding-left: 48px;
        }

        .item-text-container {
            gap: 12px;
            width: 100%;
        }
    }

    .input-group-container {
        width: calc(100% - 108px - 48px);
        justify-content: space-between;
    }

    .input-container {
        width: calc(50% - 4px);

        input,
        select,
        textarea {
            padding: 8px 12px;
            font-size: $small-font-size;
            border-radius: $round-corner-1;
        }
    }

    .info-visit-link {
        width: 100%;

        .icon-container {
            cursor: pointer;

            &.hide {
                display: none;
            }
        }

        .input-container {
            width: calc(100% - 48px);
        }
    }

    .personal-container {
        position: relative;

        .img-name-container {
            gap: 8px;
        }

        .personal-img-container {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .profile-section-action-menu-btn {
            .btn-text {
                right: calc(100% + 8px);
                top: 50%;
                translate: 0 -50%;
            }
        }
    }

    .bio-container {
        position: relative;

        .bio-count-text {
            position: absolute;
            right: 4px;
            bottom: 4px;
            font-size: 0.9rem;
        }
    }
}