@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.profile-section {
    justify-content: flex-start;
    padding: 30px 0;
    
    .section-container {
        background-color: $gl-2;
        border-radius: $round-corner-3;
        padding: 16px;
        gap: 16px;
    }

    .grid-group-container {
        width: 100%;
        gap: 16px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .grid-group-col-container {
        width: calc(50% - 8px);
        gap: 16px;
    }

    .grid-container {
        background-color: $gl-1;
        padding: 16px;
        border-radius: $round-corner-2;
        gap: 8px;

        &.w-100 {
            width: 100%;
        }

        &.w-50 {
            width: calc(50% - 8px);
            gap: 4px;
        }

        &.w-75 {
            width: calc(75% - 8px);
        }

        &.w-25 {
            width: calc(25% - 8px);
        }

        .grid-title {
            font-weight: 600;
        }

        .grid-text {
            font-size: 1.2rem;
        }
    }

    .personal-container {
        gap: 24px;
        width: 100%;
    }

    .profile-img-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;

        .edit-profile-picture-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(0,0,0, 0.9);
            filter: blur(10px);
            display: none;
        }

        .edit-profile-picture-icon {
            font-size: 2rem;
            color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            cursor: pointer;
            display: none;
        }

        &:hover {
            .edit-profile-picture-icon,
            .edit-profile-picture-overlay {
                display: flex;
            }
        }
    }

    .personal-info-container {

        .btn {
            width: 100px;
            padding: 4px 4px;
            font-size: 1.1rem;
            margin-bottom: 4px;
        }

        .profile-name {
            font-size: 1.8rem;
            font-weight: 600;
        }

        .profile-title {
            font-size: 1.4rem;
        }
    }

    .grid-group-col-container {
        
    }

    .contact-text-container {
        gap: 8px;
    }

    .contact-btn {
        gap: 8px;

        .dark-text {
            font-size: 1.2rem;
        }

    }


    .bio-container {
        min-height: calc(100vh - 340px);
        overflow: hidden;
        align-self: stretch;

        .grid-text {
            max-height: calc(100% - 56px);
            overflow-y: scroll;
            width: 100%;
            padding-right: 10px;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb  {
                background-color: $red-1;
                border: none;
                border-radius: $round-corner-1;
            }
        }

        .bio-text {
            gap: 8px;

            p {
                font-size: 1.2rem;
                color: $gd-1;
            }
        }
    }

    .edit-container {
        .btn {
            width: 100%;
            height: 100%;
            font-size: 2rem;
        }

        align-self: stretch;
        padding: 24px;
    }

}