{% extends "base.html" %}

{% load static %}
{% block extra_title %}- Membership Redirect{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/membership_redirect.css' %}">
{% endblock %}

{% block content %}

<section class="membership-redirect-section account-section section h-100b">
    <div class="section-container container-row">
        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">{{ heading_text }}</h2>
                <p class="dark-text">Now select/confirm your membership and you will be redirected to the checkout page</p>
                <p class="dark-text small-text">Please confirm your membership and click continue to payment</p>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            
            <form class="form" method="POST" action="{% url 'membership_redirect' %}">
                {% csrf_token %}
                <div class="hidden-input-container">
                    <label for="id_package_name" class="sr-only">name</label>
                    {{ form.package_name }}
                    <label for="id_package_friendly_name" class="sr-only">friendly name</label>
                    {{ form.package_friendly_name }}
                </div>

                <div class="packages-select-container select-container">
                    {% if single_membership_package %}
                        <div class="single-package-select-item select-item selected" data-name="{{ single_membership_package.name }}" data-description="{{ single_membership_package.description }}" data-duration="{{ single_membership_package.duration }}" data-checkout_url="{{ single_membership_package.checkout_url }}">
                            <p class="dark-text">{{ single_membership_package.friendly_name }}</p>
                            <p class="dark-text">${{ single_membership_package.price }}</p>
                        </div>
                    {% else %}

                    <div class="default-select-item select-item selected">
                        <p class="default-friendly-name-text dark-text">Select</p>
                        <p class="default-price-text dark-text"><span class="sr-only">Select Icon</span><i class="fa-solid fa-chevron-down dark-text"></i></p>
                    </div>

                    <div class="select-container-items">
                        {% for package in membership_packages %}
                        <div class="select-item" data-name="{{ package.name }}" data-description="{{ package.description }}" data-duration="{{ package.duration }}" data-checkout_url="{{ package.checkout_url }}">
                            <p class="friendly-name-text dark-text">{{ package.friendly_name }}</p>
                            <p class="price-text dark-text">${{ package.price }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    
                    {% endif %}
                </div>

                {% if single_membership_package %}

                <div class="single-package-info-container package-info-container container-col">
                    <p class="package-description-text dark-text small-text">{{ single_membership_package.description }}</p>
                    <div class="info-group container-row space-between">
                        <p class="dark-text info-left">Price:</p>
                        <p class="dark-text info-right">{{ single_membership_package.price }} USD$</p>
                    </div>
                    <div class="info-group container-row space-between">
                        <p class="dark-text info-left">Duration:</p>
                        <p class="dark-text info-right">{{ single_membership_package.duration }} Days</p>
                    </div>
                </div>

                {% else %}

                <div class="multiple-package-info-container package-info-container container-col">
                    <p class="package-description-text dark-text">Select your membership package from the dropdown above</p>
                    <div class="info-group container-row space-between">
                        <p class="dark-text info-left">Price:</p>
                        <p class="dark-text info-right"><span class="package-price-text">--</span> USD$</p>
                    </div>
                    <div class="info-group container-row space-between">
                        <p class="dark-text info-left">Duration:</p>
                        <p class="dark-text info-right"><span class="package-duration-text">--</span> Days</p>
                    </div>
                </div>

                {% endif %}
                
                <button class="btn btn-2 submit-btn" type="submit" data-checkout_url="">Continue to Payment <span class="fa-icon-right"><i class="fa-regular fa-credit-card"></i></span></button>
              </form>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/membership_redirect.js' %}"></script>

{% endblock %}