.announcements-section {
  padding: 20px 0 40px 0;
  justify-content: flex-start;
}
.announcements-section .section-container {
  gap: 24px;
}
.announcements-section .img-container {
  width: 100%;
  height: 160px;
  position: relative;
  border-radius: 16px;
}
.announcements-section .img-container .img-100a {
  position: absolute;
  top: 0;
  z-index: 2;
}
.announcements-section .events-wrapper {
  width: 100%;
  gap: 24px;
}
.announcements-section .events-wrapper .heading-container {
  gap: 8px;
  margin-top: 24px;
}
.announcements-section .events-wrapper .heading-container .icon-container {
  width: calc(1.8rem + 24px);
  height: calc(1.8rem + 24px);
  padding: 12px;
}
.announcements-section .events-wrapper .add-event-btn {
  width: 100%;
  border-radius: 16px;
  background-color: #f7f7f7;
  padding: 16px;
  cursor: pointer;
}
.announcements-section .events-wrapper .add-event-btn:hover {
  background-color: #ececec;
}
.announcements-section .events-wrapper .add-event-btn:hover .icon-container {
  background-color: #f7f7f7;
}
.announcements-section .events-wrapper .upcoming-events-container,
.announcements-section .events-wrapper .past-events-container {
  width: 100%;
  gap: 24px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container,
.announcements-section .events-wrapper .past-events-container .events-container {
  width: calc(50% - 12px);
  gap: 24px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .event-container,
.announcements-section .events-wrapper .past-events-container .events-container .event-container {
  padding: 24px;
  border-radius: 16px;
  background-color: #f7f7f7;
  width: 100%;
  gap: 12px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .visit-link,
.announcements-section .events-wrapper .past-events-container .events-container .visit-link {
  gap: 8px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .visit-link .icon-container,
.announcements-section .events-wrapper .past-events-container .events-container .visit-link .icon-container {
  width: calc(1.3rem + 12px);
  height: calc(1.3rem + 12px);
  padding: 6px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .event-heading-container,
.announcements-section .events-wrapper .past-events-container .events-container .event-heading-container {
  margin-bottom: 8px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .event-heading-container .icon-container,
.announcements-section .events-wrapper .past-events-container .events-container .event-heading-container .icon-container {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .link-container,
.announcements-section .events-wrapper .past-events-container .events-container .link-container {
  align-self: flex-end;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .description-text,
.announcements-section .events-wrapper .past-events-container .events-container .description-text {
  gap: 1.1rem;
  margin-bottom: 8px;
}
.announcements-section .events-wrapper .upcoming-events-container .events-container .description-text p,
.announcements-section .events-wrapper .past-events-container .events-container .description-text p {
  font-size: 1.1rem;
  color: #242424;
}

/*# sourceMappingURL=announcements.css.map */
