{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block content %}
<section class="login-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">Welcome Back!</h2>
                <p class="dark-text">Not a Member? <a href="{% url 'account_signup' %}" class="red-text dark-text">Join Today!</a></p>
                <p class="dark-text small-text">Please Login to Continue</p>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            
            <form class="form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <p class="input-label dark-text">Email</p>
                    <label for="id_login" class="sr-only">email login</label>
                    {{ form.login }}
                </div>

                <div class="input-group">
                    <p class="input-label dark-text">Password</p>
                    <label for="id_password" class="sr-only">password</label>
                    {{ form.password }}
                </div>
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="remember-forget-container container-row">
                    <div class="input-group row">
                        <p class="input-label dark-text small-text remember-label">Remember Me</p>
                        <label for="id_remember" class="sr-only">remember</label>
                        {{ form.remember }}
                    </div>
                    <a class="dark-text small-text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
                
                <button class="btn btn-2" type="submit">{% trans "Sign In" %}<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></button>
              </form>
        </div>
    </div>

    
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'account/js/login.js' %}"></script>

{% endblock %}


