{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Logout{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/logout.css' %}">
{% endblock %}

{% block content %}
<section class="logout-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col box-shadow">
            <div class="info-container container-col">
                <h2 class="dark-text subheading center-text">Goodbye</h2>
                <p class="dark-text small-text center-text">Are you sure you want to log out? <a href="{% url 'home' %}" class="red-text small-text-text">Return Home</a></p>
            </div>
            <form class="form" method="POST" action="{% url 'account_logout' %}">
              {% csrf_token %}
              
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              
              <button class="btn" type="submit">Log Out</button>
            </form>
        </div>
        <a href="{% url 'contact' %}" class="dark-text small-text">Having a Problem?</a>
    </div>
</section>

{% endblock %}


