{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="account-section login-account-section section">
    <div class="container-col account-card">
        <div class="account-card-section login-account-section-upper container-col">
          <div class="account-card-wrapper container-col">
              <div class="heading white-text">Password Reset</div>
              <div class="white-text">
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
              </div>
              <div class="white-text"><p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p></div>
          </div>
          <div class="account-card-img-overlay dark-overlay"></div>
          <div class="account-card-bg-img-container">
              <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689337702/MREEA/worndkdhbiwlhhq5jhlx.png" alt="Starry background image" class="img-100a account-card-bg-img">
          </div>
        </div>
        <div class="account-card-section container-col login-accouint-section-lower">
            <div class="sub-heading red-text sign-in-heading">User {% trans "Sign In" %}</div>
            <form method="POST" action="{% url 'account_reset_password' %}" class="account-form container-col">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" class="account-btn btn reset-password-btn"/>
            </form>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </div>
    
</section>

    
{% endblock %}
