{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Key{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset_from_key.css' %}">
{% endblock %}

{% block content %}
<section class="login-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col box-shadow align-start">
            <div class="info-container container-col align-start">
                <h2 class="dark-text subheading">Change Your Password</h2>
                <p class="dark-text small-text">Enter your new password, confirm it and then click change password</p>
            </div>
            
            <div class="form-container">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="dark-text small-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="red-text" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <form class="form" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    <div class="input-container col-2">
                        <label for="id_password1" class="sr-only">new password</label>
                        {{ form.password1 }}
                        <div class="icon-container btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 16 16">
                                <path d="M9 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0M5 4h-.5A2.5 2.5 0 0 0 2 6.5v5A2.5 2.5 0 0 0 4.5 14h7a2.5 2.5 0 0 0 2.5-2.5v-5A2.5 2.5 0 0 0 11.5 4H11v-.5a3 3 0 0 0-6 0zm1-.5a2 2 0 1 1 4 0V4H6zM11.5 5A1.5 1.5 0 0 1 13 6.5v5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-5A1.5 1.5 0 0 1 4.5 5z" />
                            </svg>
                        </div>
                    </div>
    
                    <div class="input-container col-2">
                        <label for="id_password2" class="sr-only">new password again</label>
                        {{ form.password2 }}
                        <div class="icon-container btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 16 16">
                                <path d="M9 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0M5 4h-.5A2.5 2.5 0 0 0 2 6.5v5A2.5 2.5 0 0 0 4.5 14h7a2.5 2.5 0 0 0 2.5-2.5v-5A2.5 2.5 0 0 0 11.5 4H11v-.5a3 3 0 0 0-6 0zm1-.5a2 2 0 1 1 4 0V4H6zM11.5 5A1.5 1.5 0 0 1 13 6.5v5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-5A1.5 1.5 0 0 1 4.5 5z" />
                            </svg>
                        </div>
                    </div>
                    
                    <button class="btn" name="action" type="submit">Change Password</button>
                  </form>
                  {% endif %}
            </div>
        </div>
        <a href="{% url 'contact' %}" class="dark-text small-text">Having a Problem?</a>
    </div>
</section>

{% endblock %}


