{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Done{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset_done.css' %}">
{% endblock %}

{% block content %}
<section class="logout-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="form-container">
            <div class="info-container container-col">
                <div class="text-container container-col">
                    <h2 class="dark-text heading">Password Reset Done</h2>
                    <p class="dark-text">We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise <a href="{% url 'contact' %}" class="red-text dark-text">contact us</a> if you do not receive it in a few minutes.</p>
                </div>
                <div class="img-container">
                    <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
