{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Key Done{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/logout.css' %}">
{% endblock %}

{% block content %}
<section class="logout-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="form-container">
            <div class="info-container container-col">
                <div class="text-container container-col">
                    <h2 class="dark-text heading">Change Password</h2>
                    <p class="dark-text">Your password is now changed</p>
                    <p class="dark-text small-text">Please click log in to continue</p>
                </div>
                <a href="{% url 'account_login' %}" class="btn btn-2">Log in<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></a>
                <div class="img-container">
                    <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


