{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Key Done{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/logout.css' %}">
{% endblock %}

{% block content %}
<section class="logout-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col box-shadow align-start">
            <div class="info-container container-col align-start">
                <h2 class="dark-text subheading">Change Password</h2>
                <p class="dark-text small-text">Your password is now changed</p>
                <p class="dark-text small-text">Please click log in to continue</p>
            </div>

            <div class="form">
                <a href="{% url 'account_login' %}" class="btn">Log In</a>
            </div>
        </div>
        <a href="{% url 'contact' %}" class="dark-text small-text">Having a Problem?</a>
    </div>
</section>

{% endblock %}


