{% extends "../base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Done{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset_done.css' %}">
{% endblock %}

{% block content %}
<section class="password-reset-done-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col align-start box-shadow">
            <div class="info-container container-col align-start">
                <h2 class="dark-text subheading center-text">Password Reset Done</h2>
                <p class="dark-text small-text">We have sent you an e-mail. If you have not received it please check your spam folder.</p>
                <p class="dark-text small-text"> Otherwise <a href="{% url 'contact' %}" class="red-text small-text">contact us</a> if you do not receive it in a few minutes.</p>
            </div>
        </div>
        <a href="{% url 'contact' %}" class="dark-text small-text">Having a Problem?</a>
    </div>
</section>

{% endblock %}
