{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="account-section login-account-section section">
    <div class="container-col account-card">
        <div class="account-card-section login-account-section-upper container-col">
          <div class="account-card-wrapper container-col">
              <div class="heading white-text">{% trans "Change Password" %}</div>
          </div>
          <div class="account-card-img-overlay dark-overlay"></div>
          <div class="account-card-bg-img-container">
              <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689337702/MREEA/worndkdhbiwlhhq5jhlx.png" alt="Starry background image" class="img-100a account-card-bg-img">
          </div>
        </div>
        <div class="account-card-section container-col login-accouint-section-lower">
            <form method="POST" action="{% url 'account_change_password' %}" class="account-form container-col">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" class="account-btn btn reset-password-btn">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}" class="forgot-password red-text">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
    
</section>

{% endblock %}
