{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% load static %}
{% block extra_title %}- Password Reset{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset.css' %}">
{% endblock %}

{% block content %}

<section class="account-section login-account-section section h-100b">
    <div class="section-container container-row">

        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">Forgotten your password?</h2>
                <p class="dark-text">Enter your e-mail address, and we'll send you an e-mail allowing you to reset it</p>
                <p class="dark-text small-text">Misclicked? <a href="{% url 'account_login' %}" class="red-text dark-text small-text">Return to Login</a></p>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            
            <form class="form" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="input-group">
                    <p class="input-label dark-text">Email</p>
                    <label for="id_email" class="sr-only">email</label>
                    {{ form.email }}
                </div>
                
                <button class="btn btn-2" type="submit">{% trans 'Reset My Password' %}</button>
              </form>
        </div>
</section>

    
{% endblock %}
