{% extends "../base.html" %}

{% load i18n %}
{% load account %}

{% load static %}
{% block extra_title %}- Password Reset{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset.css' %}">
{% endblock %}

{% block content %}

<section class="account-section login-account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col box-shadow align-start">
            <div class="info-container container-col align-start">
                <h2 class="dark-text subheading">Forgotten your password?</h2>
                <p class="dark-text small-text">Enter your e-mail address, and we'll send you an e-mail allowing you to reset it</p>
            </div>
    
            <div class="form-container">
                <form class="form" method="POST" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="input-container col-2">
                        <label for="id_email" class="sr-only">email</label>
                        {{ form.email }}
                        <div class="icon-container btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 16 16">
                                <path d="M2 6.038V11a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM4 4h8a1 1 0 0 1 1 1v.74L8 8.432L3 5.74V5a1 1 0 0 1 1-1M3 6.876L7.763 9.44a.5.5 0 0 0 .474 0L13 6.876V11a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                            </svg>
                        </div>
                    </div>
                    
                    <button class="btn" type="submit">Reset My Password</button>
                </form>
            </div>
        </div>

        <p class="dark-text small-text">Misclicked? <a href="{% url 'account_login' %}" class="red-text small-text">Return to Login</a></p>
    </div>
</section>

    
{% endblock %}
