{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Password Reset Key{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/password_reset_from_key.css' %}">
{% endblock %}

{% block content %}
<section class="login-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">Change Your Password</h2>
                <p class="dark-text">Enter your new password, confirm it and then click change password</p>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="dark-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="red-text" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            <form class="form" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div class="input-group">
                    <p class="input-label dark-text">New Password</p>
                    <label for="id_password1" class="sr-only">new password</label>
                    {{ form.password1 }}
                </div>

                <div class="input-group">
                    <p class="input-label dark-text">New Password (Again)</p>
                    <label for="id_password2" class="sr-only">new password again</label>
                    {{ form.password2 }}
                </div>
                
                <button class="btn btn-2" name="action" type="submit">Change Password<span class="fa-icon-right"><i class="fa-solid fa-pen-to-square"></i></span></button>
              </form>
              {% endif %}
        </div>
    </div>

    
</section>

{% endblock %}


