{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-section account-section section h-100b">
    <div class="section-container container-row">
        <div class="account-container container-col align-start box-shadow">
            <div class="info-container container-col align-start">
                <h2 class="dark-text subheading">Start Your Journey</h2>
                <p class="dark-text small-text visit-link">
                    Already a Member? 
                    <a href="{% url 'account_login' %}" class="visit-link">
                        <span class="red-text small-text">Login</span>
                        <span class="btn-icon icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="red-text small-text" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M9 3a1 1 0 0 0 0 2h9v13a1 1 0 0 1-1 1H9a1 1 0 0 0 0 2h8a3 3 0 0 0 3-3V4a1 1 0 0 0-1-1zm3.707 5.293A1 1 0 0 0 11 9v2H5a1 1 0 0 0 0 2h6v2a1 1 0 0 0 1.707.707l3-3a1 1 0 0 0 0-1.414z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                </p>
                <p class="dark-text small-text">Please fill out this form to create an account.</p>
            </div>
    
            <div class="form-container">
                <form class="form" method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="input-container col-2">
                        <label for="id_email" class="sr-only">email</label>
                        {{ form.email }}
                    </div>
    
                    <div class="input-group-container">
                        <div class="input-container">
                            <label for="id_first_name" class="sr-only">first_name</label>
                            {{ form.first_name }}
                        </div>
    
                        <div class="input-container">
                            <label for="id_last_name" class="sr-only">last_name</label>
                            {{ form.last_name }}
                        </div>
                    </div>
    
                    <div class="input-group-container">
                        <div class="input-container">
                            <label for="id_password1" class="sr-only">password1</label>
                            {{ form.password1 }}
                        </div>
    
                        <div class="input-container">
                            <label for="id_password2" class="sr-only">password2</label>
                            {{ form.password2 }}
                        </div>
                    </div>
                    
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
    
                    <button class="btn" type="submit">
                        <span class="white-text">{% trans "Sign Up" %}</span>
                        <span class="btn-icon btn-icon-right icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="white-text" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M9 3a1 1 0 0 0 0 2h9v13a1 1 0 0 1-1 1H9a1 1 0 0 0 0 2h8a3 3 0 0 0 3-3V4a1 1 0 0 0-1-1zm3.707 5.293A1 1 0 0 0 11 9v2H5a1 1 0 0 0 0 2h6v2a1 1 0 0 0 1.707.707l3-3a1 1 0 0 0 0-1.414z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                  </form>
            </div>
        </div>
    </div>

    
</section>

{% endblock %}


