{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">Start Your Journey</h2>
                <p class="dark-text">Already a Member? <a href="{% url 'account_login' %}" class="red-text dark-text">Login Here</a></p>
                <p class="dark-text small-text">Please fill in this info to create an account</p>
                <p class="dark-text small-text">After you will be taken to a payment portal</p>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            
            <form class="form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="input-group col-2">
                    <p class="input-label dark-text">Email</p>
                    <label for="id_email" class="sr-only">email</label>
                    {{ form.email }}
                </div>

                <div class="input-group-container">
                    <div class="input-group">
                        <p class="input-label dark-text">First Name</p>
                        <label for="id_first_name" class="sr-only">first_name</label>
                        {{ form.first_name }}
                    </div>

                    <div class="input-group">
                        <p class="input-label dark-text">Last Name</p>
                        <label for="id_last_name" class="sr-only">last_name</label>
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="input-group-container">
                    <div class="input-group">
                        <p class="input-label dark-text">Password</p>
                        <label for="id_password1" class="sr-only">password1</label>
                        {{ form.password1 }}
                    </div>

                    <div class="input-group">
                        <p class="input-label dark-text">Password (Confirmation)</p>
                        <label for="id_password2" class="sr-only">password2</label>
                        {{ form.password2 }}
                    </div>
                </div>
                
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button class="btn btn-2" type="submit">{% trans "Sign Up" %}</button>
              </form>
        </div>
    </div>

    
</section>

{% endblock %}


