{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block extra_title %}- Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col align-start box-shadow">
            <h2 class="dark-text subheading">Create Account</h2>
            
            <div class="form-container">
                <form class="form" method="POST" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="input-group-container">
                        <div class="input-container">
                            <label for="id_first_name" class="sr-only">first_name</label>
                            {{ form.first_name }}
                            <div class="btn-icon icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                    <path d="M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52" />
                                </svg>
                            </div>
                        </div>
                        
                        <div class="input-container">
                            <label for="id_last_name" class="sr-only">last_name</label>
                            {{ form.last_name }}
                            <div class="btn-icon icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                    <path d="M234.38 210a123.36 123.36 0 0 0-60.78-53.23a76 76 0 1 0-91.2 0A123.36 123.36 0 0 0 21.62 210a12 12 0 1 0 20.77 12c18.12-31.32 50.12-50 85.61-50s67.49 18.69 85.61 50a12 12 0 0 0 20.77-12M76 96a52 52 0 1 1 52 52a52.06 52.06 0 0 1-52-52" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    
                    <div class="input-container col-2">
                        <label for="id_email" class="sr-only">email</label>
                        {{ form.email }}
                        <div class="icon-container btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
                            </svg>
                        </div>
                    </div>
                    
                    <div class="input-container col-2">
                        <label for="id_password1" class="sr-only">password1</label>
                        {{ form.password1 }}
                        <div class="icon-container btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                <path d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm0-2h12V10H6zm6-3q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6zM6 20V10z" />
                            </svg>
                        </div>
                    </div>

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    <button class="btn" type="submit">
                        <span class="white-text">Create Account</span>
                    </button>
                </form>
            </div>
        </div>
        <p class="dark-text small-text visit-link">
            Already a Member? <a href="{% url 'account_login' %}" class="red-text small-text">Login</a>
        </p>
    </div>
</section>

{% endblock %}


