@import '../../../static/css/variables';
@import '../../../static/css/mixins';
@import '../../../static/account/css/account';


.contact-section {
    .contact-btn {
        gap: 8px;

        .red-text {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 3px solid $red-1;
        }
    }

    .contact-btns-container {
        gap: 4px;
    }
}