{% extends "base.html" %}

{% load static %}

{% block extra_title %}- {{ event.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}

<section class="event-detail-section section">
    <div class="section-container container-col">
        <div class="event-detail-container container-row">

            <div class="event-container container-col justify-start red">
                <h2 class="heading white-text container-col">{{ event.friendly_name }}</h2>

                <div class="detail-container container-row align-start space-between">
                    <div class="info-container container-col align-start">
                        {% if event.date %}
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Date:</p>
                            <p class="extra-detail-text dark-text">{{ event.date|date:"M d Y" }}</p>
                        </div>
                        {% endif %}
                        {% if event.date %}
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Time:</p>
                            <p class="extra-detail-text dark-text">{{ event.time|time:"H:i A" }}</p>
                        </div>
                        {% endif %}
                        {% if event.location %}
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Location:</p>
                            <p class="extra-detail-text dark-text">{{ event.location }}</p>
                        </div>
                        {% endif %}
                        {% if event.duration %}
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Duration:</p>
                            <p class="extra-detail-text dark-text">{{ event.duration }} minutes</p>
                        </div>
                        {% endif %}
                    </div>
                    

                    <div class="description-container container-col align-start justify-start">
                        <p class="description-text dark-text">{{ event.description }}</p>
                    </div>
                </div>
            </div>

            <div class="img-container">
                <img src="{{ MEDIA_URL }}event-detail-2.png" alt="MREEA Event" class="img-100a">
            </div>
        </div>
        <div class="event-detail-container container-row">
            <div class="img-container">
                <img src="{{ MEDIA_URL }}event-detail.png" alt="MREEA Event" class="img-100a">
            </div>

            <div class="event-container container-col justify-start red">
                <h2 class="heading white-text container-col">Resources</h2>

                <div class="resources-container detail-container container-col">
                    
                    {% if display_folder %}
                        {% if folders or resources %}
                        <div class="items-container container-col">
                            {% for f in folders %}

                            <div class="item-container container-row" data-url="{% url 'folder' f.name %}">
                                <div class="info-container w-50 container-row justify-start">
                                    <div class="icon-container circle">
                                        <img src="{{ MEDIA_URL }}default-folder-icon.png" alt="Folder Icon" class="img-100a">
                                    </div>
                                    <p class="dark-text">{{ f.friendly_name }}</p>
                                </div>
                                <div class="info-container w-25 container-row justify-start">
                                    <p class="dark-text">Folder</p>
                                </div>
                                <div class="info-container w-25 container-row space-between">
                                    <p class="dark-text">{{ f.date | date:"m/d/Y" }}</p>
                                    <div class="icon-container open-menu-btn">
                                        <img src="{{ MEDIA_URL }}internal-open-icon.png" alt="Internal Open Icon" class="img-100a">
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                            {% for r in resources %}

                            <div class="item-container container-row" data-url="{{ r.link }}" data-new-tab="true">
                                <div class="info-container w-50 container-row justify-start">
                                    <div class="icon-container">
                                        <img src="{{ r.resource_type.icon.url }}" alt="Folder Icon" class="img-100a">
                                    </div>
                                    <p class="dark-text">{{ r.friendly_name }}</p>
                                </div>
                                <div class="info-container w-25 container-row justify-start">
                                    <p class="dark-text">{{ r.resource_type.friendly_name }}</p>
                                </div>
                                <div class="info-container w-25 container-row space-between">
                                    <p class="dark-text">{{ r.date | date:"m/d/Y" }}</p>
                                    <div class="icon-container open-menu-btn">
                                        <img src="{{ MEDIA_URL }}external-open-icon.png" alt="External Open Icon" class="img-100a">
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="dark-text">Resources will go here</p>
                        {% endif %}
                    {% else %}
                    <p class="dark-text">Become A member to view resources</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/event_detail.js' %}"></script>

{% endblock %}