{% extends "base.html" %}

{% load static %}

{% block extra_title %}- {{ event.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}

<section class="event-detail-section section">
    <div class="section-container container-col">
        <div class="event-detail-container container-row">

            <div class="event-container container-col justify-start red">
                <h2 class="heading white-text container-col">{{ event.name }}</h2>

                <div class="detail-container container-row align-start space-between">
                    <div class="info-container container-col align-start">
                        <p class="date-text white-text container-col">{{ event.date|date:"d M" }} - {{ event.time|time:"H:i" }}</p>
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Location:</p>
                            <p class="extra-deatil-text dark-text">{{ event.location }}</p>
                        </div>
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Duration:</p>
                            <p class="extra-deatil-text dark-text">{{ event.duration }} minutes</p>
                        </div>
                    </div>
                    

                    <div class="description-container container-col align-start justify-start">
                        <p class="description-text dark-text">{{ event.description }}</p>
                    </div>
                </div>
            </div>

            <div class="img-container">
                <img src="{{ MEDIA_URL }}event-detail-2.png" alt="MREEA Event" class="img-100a">
            </div>
        </div>
        <div class="event-detail-container container-row">
            <div class="img-container">
                <img src="{{ MEDIA_URL }}event-detail.png" alt="MREEA Event" class="img-100a">
            </div>

            <div class="event-container container-col justify-start red">
                <h2 class="heading white-text container-col">Resources</h2>

                <div class="detail-container container-col">
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/event_detail.js' %}"></script>

{% endblock %}