{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}

<section class="events-section section">
    <div class="section-container container-col">
        <div class="img-container">
            <img src="{{ MEDIA_URL }}events-home.png" alt="MREEA Event" class="img-100a">
            <h2 class="heading white-text">Meetings and Events</h2>
        </div>

        <div class="events-container-row container-row space-between">
            <div class="events-container container-col justify-start upcoming">
                <h3 class="subheading white-text container-col">Upcoming</h3>
                <div class="event-items-container container-col justify-start">
                    {% for event in upcoming_events %}
                    <a href="{% url 'event_detail' event.name %}" class="event-container container-row justify-start">
                        <div class="info-container container-col align-start">
                            <p class="name-text dark-text container-col align-start">{{ event.friendly_name }}</p>
                            <p class="date-text dark-text container-col">Date: {{ event.time|time:"H:i A" }} - {{ event.date|date:"M d Y" }}</p>
                        </div>
                        <div class="view-btn container-col">
                            <p class="white-text"><span class="sr-only">View Icon</span><i class="fa-solid fa-chevron-right"></i></p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="events-container container-col justify-start past">
                <h3 class="subheading white-text container-col">Past</h3>
                <div class="event-items-container container-col justify-start">
                    {% for event in past_events %}
                    <a href="{% url 'event_detail' event.name %}" class="event-container container-row justify-start">
                        <div class="info-container container-col align-start">
                            <p class="name-text dark-text container-col align-start">{{ event.friendly_name }}</p>
                            <p class="date-text dark-text container-col">Date: {{ event.time|time:"H:i A" }} - {{ event.date|date:"M d Y" }}</p>
                        </div>
                        
                        <div class="view-btn container-col">
                            <p class="white-text"><span class="sr-only">View Icon</span><i class="fa-solid fa-chevron-right"></i></p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/events.js' %}"></script>

{% endblock %}