{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_detail.css' %}">
{% endblock %}

{% block content %}

<section class="event-detail-section section">
    <div class="section-container container-col">
        <div class="event-detail-container container-row space-between">
            <div class="img-container">
                <img src="{{ MEDIA_URL }}event-detail.png" alt="MREEA Event" class="img-100a">
            </div>

            <div class="event-container container-col justify-start red">
                <h2 class="heading white-text container-col">{{ event.name }}</h2>

                <div class="detail-container container-row justify-start">
                    <div class="date-container container-col space-between">
                        <p class="date-text white-text container-col">{{ event.date|date:"d M" }}</p>
                        <p class="time-text dark-text container-col">{{ event.time|time:"H:i" }}</p>
                    </div>
                    <div class="extra-detail-container-col container-col align-start space-between">
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Location</p>
                            <p class="extra-deatil-text dark-text">{{ event.location }}</p>
                        </div>
                        <div class="extra-detail-container container-row">
                            <p class="extra-detail-title dark-text">Duration</p>
                            <p class="extra-deatil-text dark-text">{{ event.duration }} minutes</p>
                        </div>
                    </div>
                </div>

                <p class="description-text dark-text">{{ event.description }}</p>
            </div>
        </div>
        <div class="resources-container-col container-col justify-start">
            <h2 class="heading white-text container-col">Event Resources</h2>
    
            
            <div class="resources-container-row container-row space-between">
                <p class="resource-container container-col dark-text">
                    Video Recording
                </p>
                <p class="resource-container container-col dark-text">
                    Event Notes
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/event_detail.js' %}"></script>

{% endblock %}