{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero-section section">
    <div class="section-container container-row space-between">
        <div class="img-container">
            <img src="{{ MEDIA_URL }}home-hero-1.png" alt="Hero Image" class="img-100a">
        </div>

        <div class="main-text-container container-col align-start">
            <div class="heading-container container-col align-start">
                <h2 class="heading dark-text">Real Estate Mastery</h2>
                <h2 class="heading dark-text">Starts Here</h2>
            </div>
            <div class="subheading dark-text">Maryland Real Estate Education Association</div>
            <div class="subheading-container container-col align-start">
                <h3 class="subheading dark-text">Your Journey to Success Begins here</h3>
                <h3 class="subheading dark-text">Building Minds, Building Futures</h3>
            </div>
            <a href="#" class="btn btn-2">Join Now</a>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}