{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home-hero-section section">
    <div class="section-container container-col">
        <div class="cta-container container-col align-end">
            <div class="heading-container container-col align-end">
                <h2 class="white-text heading">Master Real</h2>
                <h2 class="white-text heading">Estate Education</h2>
                <p class="white-text">Building Minds, Building Futures</p>
                {% if user.is_authenicated %}
                <a href="{% url 'membership_status'%}" class="btn small-btn">Renew<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn small-btn">Join Now<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></a>
                {% endif %}
                
            </div>
            <img src="{{ MEDIA_URL }}home-hero.png" alt="Mreea Meeting" class="img-100a">
        </div>

        <div class="icons-container container-row">
            <div class="icon-container-col container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}connect-icon-1.png" alt="Connect Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Connect</p>
            </div>
            <div class="icon-container-col container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}learn-icon-1.png" alt="Learn Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Learn</p>
            </div>
            <div class="icon-container-col container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}grow-icon-1.png" alt="Grow Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Grow</p>
            </div>
        </div>
    </div>
</section>

<section class="intro-section section">
    <div class="section-container container-row">
        <div class="text-container container-col align-start">
            <h2 class="heading dark-text">Who is MREEA?</h2>
            <p class="dark-text">MREEA unites real estate educators, including instructors, school owners, regulators, attorneys and more, with the goal of being professional real estate educators in Maryland.</p>
            <a href="#" class="btn small-btn">Learn More</a>
        </div>
        <div class="img-container">
            <img src="{{ MEDIA_URL }}home-intro.png" alt="Mreea Meeting" class="img-100a">
        </div>
    </div>
</section>

<section class="reason-section section">
    <div class="section-container container-col align-end">
        <h2 class="heading dark-text">Why Join?</h2>

        <div class="reasons-container container-row">
            <div class="reason-container container-col align-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}community-icon-1.png" alt="Community Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Community</p>
                <p class="dark-text">Engage with a diverse network of real estate educators, sharing their experiences</p>
            </div>
            <div class="reason-container container-col align-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}progression-icon-1.png" alt="Progression Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Progression</p>
                <p class="dark-text">Tap into industry leaders' expertise, staying updated on trends and best practices </p>
            </div>
            <div class="reason-container container-col align-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}support-icon-1.png" alt="Support Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Support</p>
                <p class="dark-text">Benefit from experienced educators' mentorship, offering personalized guidance</p>
            </div>
        </div>
    </div>
</section>

<section class="social-proof-section section">
    <div class="section-container container-row">
        <div class="img-container">
            <img src="{{ MEDIA_URL }}testimonial-1.png" alt="Profile of Testimonail" class="img-100a">
        </div>
        <div class="text-container container-col align-start justify-start">
            <div class="icon-container">
                <img src="{{ MEDIA_URL }}quote-icon-1.png" alt="Quote Icon" class="img-100a">
            </div>
            <p class="quote-text dark-text">MREEA transformed my real estate journey. The community and mentorship provided solid support, propelling my career forward. It's a must for anyone serious about advancing in the industry.</p>
            <p class="person-text dark-text">Jane Doe</p>
        </div>
    </div>
</section>

<section class="services-section section">
    <div class="section-container container-col align-start">
        <h2 class="heading dark-text">What we offer?</h2>
        <div class="services-container container-row">
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}community-icon-2.png" alt="Networking Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Networking</p>
            </div>
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}resources-icon-1.png" alt="Resources Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Resources</p>
            </div>
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}workshops-icon-1.png" alt="Workshops Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Workshops</p>
            </div>
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}insights-icon-1.png" alt="Insights Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Insights</p>
            </div>
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}connect-icon-1.png" alt="Meetings Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Meetings</p>
            </div>
            <div class="service-container container-col">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}support-icon-2.png" alt="Support Icon" class="img-100a">
                </div>
                <p class="dark-text subheading">Support</p>
            </div>
        </div>
        <a href="#" class="dark-text red-text">View All</a>
    </div>
</section>

<section class="testimonial-section section">
    <div class="section-container container-col align-end">
        <h2 class="heading dark-text">Hear from our Members</h2>
        <div class="testimonials-container container-row">
            <div class="testimonial-container container-col align-start">
                <p class="subheading dark-text">Love the <br>community</p>
                <p class="main-text dark-text">Lorem ipsum praesent ac massa at ligula reet﻿ est iaculis. Vivamus est mist aliquet elit ac nisl. </p>
                <div class="rating-container container-row">
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="person-container container-row">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}testimonial-1.png" alt="Testimonial Profile" class="img-100a">
                    </div>
                    <div class="info-container container-col align-start">
                        <div class="name-text dark-text">Jane Doe</div>
                        <div class="title-text dark-text">Real Estate Professional</div>
                    </div>
                </div>
            </div>
            <div class="testimonial-container container-col align-start">
                <p class="subheading dark-text">Keeps me in <br>the Loop</p>
                <p class="main-text dark-text">Lorem ipsum praesent ac massa at ligula reet﻿ est iaculis. Vivamus est mist aliquet elit ac nisl. </p>
                <div class="rating-container container-row">
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="person-container container-row">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}testimonial-2.png" alt="Testimonial Profile" class="img-100a">
                    </div>
                    <div class="info-container container-col align-start">
                        <div class="name-text dark-text">Jane Doe</div>
                        <div class="title-text dark-text">Real Estate Professional</div>
                    </div>
                </div>
            </div>
            <div class="testimonial-container container-col align-start">
                <p class="subheading dark-text">Networking Opportunities</p>
                <p class="main-text dark-text">Lorem ipsum praesent ac massa at ligula reet﻿ est iaculis. Vivamus est mist aliquet elit ac nisl. </p>
                <div class="rating-container container-row">
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                    <p class="icon dark-text"><span class="sr-only">star rating icon</span><i class="fa-solid fa-star"></i></p>
                </div>
                <div class="person-container container-row">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}testimonial-3.png" alt="Testimonial Profile" class="img-100a">
                    </div>
                    <div class="info-container container-col align-start">
                        <div class="name-text dark-text">Jane Doe</div>
                        <div class="title-text dark-text">Real Estate Professional</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section section">
    <div class="section-container container-row">
        <div class="join-container container-col">
            <div class="text-container container-col">
                <h2 class="subheading dark-text">Ready to elevate you <br>real estate career?</h2>
                <p class="dark-text">Join MREEA to redefine your real estate journey with community, mentorship, and a direct path to career success</p>
                {% if user.is_authenicated %}
                <a href="{% url 'membership_status'%}" class="btn small-btn">Renew<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn small-btn">Join Now<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></a>
                {% endif %}
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-logo-1.png" alt="MREEA logo" class="img-100a">
            </div>
        </div>

        <div class="contact-container form-container align-start">
            <div class="heading-container container-col align-start">
                <p class="dark-text">Still Undecide?</p>
                <p class="dark-text subheading">Have a Chat with Us!</p>
            </div>
            <form action="" method="POST" class="form">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id" class="dark-text">Name</label>
                    <input type="text">
                </div>
                <div class="input-group">
                    <label for="id" class="dark-text">Email</label>
                    <input type="text">
                </div>
                <div class="input-group">
                    <label for="id" class="dark-text">Message</label>
                    <textarea></textarea>
                </div>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}