{% extends "base.html" %}

{% load static %}

{% block extra_title %}- {{ profile }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
{% endblock %}

{% block content %}

<section class="profile-section section">
    <form class="section-container container-col align-start justify-start form" action="{% url 'edit_profile' user.username %}" method="POST">
        
        <div class="grid-group-container container-row">
            <div class="personal-container grid-container {% if profile_editable %}w-75{% else %}w-100{% endif %} container-row justify-start">
                <div class="profile-img-container img-container">
                    {% if user_profile.image %}
                    <img src="{{ user_profile.image.url }}" alt="{{ user_profile.first_name }}'s Profile Image" class="img-100a">
                    {% else %}
                    <img src="{{ MEDIA_URL }}default-profile-picture.webp" alt="Default Profile Picture" class="img-100a">
                    {% endif %}
                    <div class="edit-profile-picture-overlay container-col"></div>
                    <a href="{% url 'edit_profile_picture' user.username %}" class="edit-profile-picture-icon container-col">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
                <div class="personal-info-container container-row align-start justify-start">
                    <div class="name-title-container container-col profile-small-container align-start">
                        <div class="input-group-container container-row justify-start">
                            <div class="input-group container-col align-start">
                                <label for="id_first_name" class="input-label dark-text">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="input-group container-col align-start">
                                <label for="id_last_name" class="input-label dark-text">Last Name</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        
                        <div class="input-group container-col align-start">
                            <label for="id_title" class="input-label dark-text">Title</label>
                            {{ form.title }}
                        </div>
                    </div>
                </div>
            </div>

            {% if profile_saveable %}
            <div class="edit-container grid-container w-25 container-col">
                <button type="submit" class="save-btn btn btn-2 small-btn">
                    <span class="fa-icon-left"><i class="fa-regular fa-floppy-disk"></i></span> Save
                </button>
            </div>
            
            {% endif %}

        </div>
        <div class="second-row-grid-group grid-group-container container-row align-start">
            <div class="second-row-child bio-container grid-container w-50 container-col align-start justify-start">
                <p class="dark-text grid-title">Bio</p>
                <div class="bio-text dark-text grid-text container-col align-start justify-start">
                    <div class="input-group container-col align-start">
                        <label for="id_bio" class="input-label dark-text sr-only">Bio</label>
                        {{ form.bio }}
                    </div>
                </div>
            </div>
            <div class="second-row-child grid-group-col-container container-col align-start justify-start">
                <div class="contact-container grid-container w-100 container-col align-start justify-start">
                    <p class="grid-title dark-text">Contact</p>
                    <div class="contact-text-container container-col align-start">
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Email Icon</span><i class="fa-solid fa-envelope"></i></p>
                            <div class="input-group container-col align-start">
                                <label for="id_email" class="input-label dark-text">Display Email Address</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Phone_number Icon</span><i class="fa-solid fa-phone"></i></p>
                            <div class="input-group container-col align-start">
                                <label for="id_phone_number" class="input-label dark-text">Display Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                        {% for l in user_profile.links.all %}
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Link Icon</span><i class="fa-solid fa-link"></i></p>
                            <div class="input-group-container container-row justify-start">
                                <div class="input-group container-col align-start">
                                    <label for="id_pl_link_{{ i }}" class="input-label dark-text">Display Link {{ i }}</label>
                                    <input type="text" name="id_pl_link_{{ i }}" id="id_pl_link_{{ i }}" value="{{ l.link }}">
                                </div>
                                <div class="input-group container-col align-start">
                                    <label for="id_pl_name_{{ i }}" class="input-label dark-text">Display Link Name {{ i }}</label>
                                    <input type="text" name="id_pl_name_{{ i }}" id="id_pl_name_{{ i }}" value="{{ l.friendly_name }}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="class-container grid-container container-col w-100 align-start justify-start">
                    <div class="dark-text grid-title">Classes / Certifications</div>
                </div>

                {% for category in category_and_classes %}
                <div class="class-container grid-container container-col w-100 align-start justify-start">
                    <p class="grid-title dark-text">{{ category.category.friendly_name }}</p>
                    {% if category.user_classes %}
                    {% for class in category.user_classes %}
                    <div class="contact-btn container-row">
                        <p class="dark-text red-text container-col"><span class="sr-only">Check Icon</span><i class="fa-regular fa-circle-check"></i></p>
                        <p class="dark-text">{{ class.friendly_name }}</p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="contact-btn container-row">
                        <p class="dark-text red-text container-col"><span class="sr-only">Xmark Icon</span><i class="fa-regular fa-circle-xmark"></i></p>
                        <p class="dark-text">No {{ category.friendly_name }} Classes Displayed</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/edit_profile.js' %}"></script>

{% endblock %}