{% extends "base.html" %}

{% load static %}

{% block extra_title %}- {{ profile }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<section class="profile-section section">

    <div class="profile-section-container section-container container-col align-start justify-start">
        {% if profile_editable %}
        <div class="quick-actions-container container-row justify-start show">
            <p class="dark-text subheading">Edit:</p>
            <a href="{% url 'edit_profile' user_profile.user.username %}" class="quick-action-btn container-col label-container">
                <p class="dark-text small-text"><span class="sr-only">Edit Icon</span><i class="fa-solid fa-pen"></i></p>
                <p class="label">Edit Profile</p>
            </a>

            <a href="{% url 'edit_profile_picture' user_profile.user.username %}" class="quick-action-btn container-col label-container">
                <p class="dark-text small-text"><span class="sr-only">Profile Picture Icon</span><i class="fa-solid fa-user-pen"></i></p>
                <p class="label">Edit Profile Picture</p>
            </a>
        </div>
        {% endif %}
        <div class="grid-group-container container-row">
            <div class="personal-container grid-container w-100 container-row justify-start">
                <div class="profile-img-container img-container">
                    {% if user_profile.image %}
                    <img src="{{ user_profile.image.url }}" alt="{{ user_profile.first_name }}'s Profile Image" class="img-100a">
                    {% else %}
                    <img src="{{ MEDIA_URL }}default-profile-picture.webp" alt="Default Profile Picture" class="img-100a">
                    {% endif %}
                    {% if profile_editable %}
                    <div class="edit-profile-picture-overlay container-col"></div>
                    <a href="{% url 'edit_profile_picture' user.username %}" class="edit-profile-picture-icon container-col">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="personal-info-container container-row align-start">
                    <div class="name-title-container container-col profile-small-container align-start">
                        <p class="profile-name dark-text">{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                        <p class="profile-title dark-text">{{ user_profile.title }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="second-row-grid-group grid-group-container container-row align-start">
            <div class="second-row-child grid-group-col-container container-col align-start justify-start">
                <div class="contact-container grid-container w-100 container-col align-start justify-start">
                    <p class="grid-title dark-text">Contact</p>
                    <div class="contact-text-container container-col align-start">
                        {% if user_profile.email %}
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Email Icon</span><i class="fa-solid fa-envelope"></i></p>
                            <p class="dark-text">{{ user_profile.email }} <span class="copy-btn cursor-btn red-text fa-icon-right" title="Copy Email" data-copy="{{ user_profile.email }}"><i class="fa-solid fa-clone"></i></span></p>
                        </div>
                        {% else %}
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Email Icon</span><i class="fa-solid fa-envelope"></i></p>
                            <p class="dark-text">No Email Displayed</p>
                        </div>
                        {% endif %}
                        {% if user_profile.phone_number %}
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Phone_number Icon</span><i class="fa-solid fa-phone"></i></p>
                            <p class="dark-text">{{ user_profile.phone_number }} <span class="copy-btn cursor-btn red-text fa-icon-right" title="Copy Number" data-copy="{{ user_profile.phone_number }}"><i class="fa-solid fa-clone"></i></span></p>
                        </div>
                        {% else %}
                        <div class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Phone_number Icon</span><i class="fa-solid fa-phone"></i></p>
                            <p class="dark-text">No Phone Number Displayed</p>
                        </div>
                        {% endif %}
                        {% for l in user_profile.links.all %}
                        <a href="{{ l.link }}" target="_blank" class="contact-btn container-row">
                            <p class="dark-text red-text container-col"><span class="sr-only">Link Icon</span><i class="fa-solid fa-link"></i></p>
                            <p class="dark-text">{{ l.friendly_name }} <span class="cursor-btn red-text fa-icon-right"><i class="fa-solid fa-up-right-from-square"></i></span></p>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="class-container grid-container container-col w-100 align-start justify-start">
                    <div class="dark-text grid-title">Classes / Certifications</div>
                </div>

                {% for category in category_and_classes %}
                <div class="class-container grid-container container-col w-100 align-start justify-start">
                    <p class="grid-title dark-text">{{ category.category.friendly_name }}</p>
                    {% if category.user_classes %}
                    {% for class in category.user_classes %}
                    <div class="contact-btn container-row">
                        <p class="dark-text red-text container-col"><span class="sr-only">Check Icon</span><i class="fa-regular fa-circle-check"></i></p>
                        <p class="dark-text">{{ class.friendly_name }}</p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="contact-btn container-row">
                        <p class="dark-text red-text container-col"><span class="sr-only">Xmark Icon</span><i class="fa-regular fa-circle-xmark"></i></p>
                        <p class="dark-text">No {{ category.friendly_name }} Classes Displayed</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="second-row-child bio-container grid-container w-50 container-col align-start justify-start">
                <p class="dark-text grid-title">Bio</p>
                <div class="bio-text dark-text grid-text container-col align-start justify-start">
                    {% if user_profile.bio %}
                    {{ user_profile.bio|linebreaks }}
                    {% else %}
                    No Bio Displayed
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/profile.js' %}"></script>

{% endblock %}