.management-section {
  position: relative;
  background-color: #f7f7f7;
  padding: 40px 0 80px 0;
  /* Small devices (larger phones, 576px to 767px) */
  /* Extra small devices (phones, 380px to 575px) */
}
.management-section .section-container {
  gap: 32px;
}
.management-section .heading-container {
  gap: 12px;
}
.management-section .heading-container .icon-container {
  width: calc(1.8rem + 24px);
  height: calc(1.8rem + 24px);
  padding: 12px;
}
.management-section .management-container {
  width: 600px;
  gap: 32px;
}
.management-section .management-container .inputs-container {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 16px;
  padding: 32px;
  gap: 12px;
}
.management-section .management-container .inputs-container .input-wrapper {
  width: 100%;
  gap: 8px;
}
.management-section .management-container .inputs-container .default-select-item .icon-container {
  width: 1.3rem;
  height: 1.3rem;
}
.management-section .management-container .inputs-container .select-options .select-item {
  justify-content: flex-start;
}
.management-section .management-container .inputs-container .select-options .select-item:hover .icon-container {
  background-color: #f7f7f7;
}
.management-section .management-container .inputs-container .select-options .select-item .friendly-name-text {
  width: calc(100% - 48px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.management-section .management-container .inputs-container .visit-link {
  gap: 8px;
}
.management-section .management-container .inputs-container .input-container {
  position: relative;
}
.management-section .management-container .inputs-container .input-container input, .management-section .management-container .inputs-container .input-container textarea {
  padding-left: 16px;
}
.management-section .management-container .management-btns-container {
  gap: 4px;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: #f7f7f7;
}
.management-section .management-container .management-btns-container .save-btn {
  padding: 0;
  background-color: #f7f7f7;
  border: none;
}
.management-section .management-container .management-btns-container .visit-link {
  justify-content: flex-start;
  width: 100%;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding: 12px;
  gap: 8px;
  cursor: pointer;
}
.management-section .management-container .management-btns-container .visit-link:hover {
  background-color: #ececec;
}
.management-section .management-container .management-btns-container .visit-link:hover .icon-container {
  background-color: #f7f7f7;
}
.management-section .management-container .management-btns-container .visit-link:hover .icon-container.success:hover {
  background-color: #399c3e;
}
.management-section .management-container .management-btns-container .visit-link:hover .icon-container.error:hover {
  background-color: #c53d52;
}
.management-section .management-container .management-btns-container .delete-btn-wrapper {
  width: 100%;
}
.management-section .management-container .management-btns-container .delete-btn-wrapper .confirm-delete-btn {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ececec;
}
.management-section .management-container .management-btns-container .delete-btn-wrapper .confirm-delete-btn.hide {
  display: none;
}
.management-section .management-container .management-btns-container .delete-btn-wrapper .confirm-delete-btn .success {
  margin-left: 16px;
}
@media (max-width: 767px) {
  .management-section .management-container {
    width: 496px;
  }
}
@media (max-width: 575px) {
  .management-section .management-container {
    width: 320px;
  }
}

/*# sourceMappingURL=resources_management.css.map */
