@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.management-section {
    position: relative;
    background-color: $gl-1;
    padding: 40px 0 80px 0;

    .section-container {
        gap: 32px;
    }

    .heading-container {
        gap: 12px;

        .icon-container {
            width: calc($subheading-size + 24px);
            height: calc($subheading-size + 24px);
            padding: 12px;
        }
    }

    .management-container {
        width: 600px;
        gap: 32px;

        .inputs-container {
            width: 100%;
            background-color: $gl-1;
            border-radius: $round-corner-3;
            padding: 32px;
            gap: 12px;

            .input-wrapper {
                width: 100%;
                gap: 8px;
            }

            .default-select-item {
                .icon-container {
                    width: $font-size;
                    height: $font-size;
                }
            }
            
            .select-options .select-item {
                justify-content: flex-start;

                &:hover .icon-container {
                    background-color: $gl-1;
                }
            }
    
            .visit-link {
                gap: 8px;
            }
    
            .input-container {
                position: relative;
    
                input, textarea {
                    padding-left: 16px;
                }
            }
        }

        .management-btns-container {
            gap: 4px;
            width: 100%;
            padding: 16px;
            border-radius: $round-corner-3;
            background-color: $gl-1;
    
            .save-btn {
                padding: 0;
                background-color: $gl-1;
                border: none;
            }
    
            .visit-link {
                justify-content: flex-start;
                width: 100%;
                border-radius: $round-corner-2;
                background-color: $gl-1;
                padding: 12px;
                gap: 8px;
                cursor: pointer;
    
                &:hover {
                    background-color: $gl-2;
    
                    .icon-container {
                        background-color: $gl-1;
    
                        &.success:hover {
                            background-color: $success;
                        }
    
                        &.error:hover {
                            background-color: $error;
                        }
                    }
                }
            }
    
            .delete-btn-wrapper {
                width: 100%;
    
                .confirm-delete-btn {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $gl-2;
    
                    &.hide {
                        display: none;
                    }
    
                    .success {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}