{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Announcements{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/announcements.css' %}">
{% endblock %}

{% block content %}

<section class="announcements-section section h-100b">
    <form class="section-container container-col view-all-form" method="POST" action="{% url 'announcements' %}">
        {% csrf_token %}

        <input type="hidden" id="id_view_all" name="id_view_all" value="">
        <label for="id_view_all" class="sr-only">View All</label>

        <div class="announcements-wrapper container-col align-start">
            {% if draft_announcements or user.is_superuser %}
            <div class="heading-container visit-link">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M20.085 16.932a62.152 62.152 0 0 0 0-12.864c-.159-1.525-1.917-2.298-3.148-1.383l-4.103 3.05a7.25 7.25 0 0 1-4.326 1.432H4.68c-.69 0-1.25.56-1.25 1.25v4.166c0 .69.56 1.25 1.25 1.25h.624l-.845 3.155a.75.75 0 0 0 .408.874l3.68 1.717a.75.75 0 0 0 1.042-.486l1.263-4.712a.78.78 0 0 0 .024-.15a7.25 7.25 0 0 1 1.959 1.034l4.103 3.05c1.23.915 2.99.142 3.148-1.383m-1.492-12.71a60.696 60.696 0 0 1 0 12.555a.478.478 0 0 1-.76.334l-4.105-3.05a8.75 8.75 0 0 0-5.22-1.728H4.93V8.667h3.58a8.75 8.75 0 0 0 5.22-1.728l4.103-3.05a.478.478 0 0 1 .76.334m-9.157 9.67a7.256 7.256 0 0 0-.928-.059H6.856L6.07 16.77l2.3 1.073l1.032-3.85a.759.759 0 0 1 .034-.1" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Announcements Icon</span>
                </div>
                <h2 class="subheading dark-text-2">Draft Announcements</h2>
            </div>
            <a href="{% url 'add_announcement' %}" class="add-announcement-btn container-col box-shadow">
                <div class="visit-link">
                    <div class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 16 16">
                            <path d="M8 2.5a.5.5 0 0 0-1 0V7H2.5a.5.5 0 0 0 0 1H7v4.5a.5.5 0 0 0 1 0V8h4.5a.5.5 0 0 0 0-1H8z" />
                        </svg>
                        <span class="sr-only">Plus Icon</span>
                    </div>
                    <p class="dark-text-2">Add Announcement</p>
                </div>
            </a>

            <div class="draft-announcements-container container-row align-start justify-start">

                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in draft_announcements %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:15 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
    
                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in draft_announcements %}
                    {% if not forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:15 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if recent_announcements or user.is_superuser %}
            <div class="heading-container visit-link">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M20.085 16.932a62.152 62.152 0 0 0 0-12.864c-.159-1.525-1.917-2.298-3.148-1.383l-4.103 3.05a7.25 7.25 0 0 1-4.326 1.432H4.68c-.69 0-1.25.56-1.25 1.25v4.166c0 .69.56 1.25 1.25 1.25h.624l-.845 3.155a.75.75 0 0 0 .408.874l3.68 1.717a.75.75 0 0 0 1.042-.486l1.263-4.712a.78.78 0 0 0 .024-.15a7.25 7.25 0 0 1 1.959 1.034l4.103 3.05c1.23.915 2.99.142 3.148-1.383m-1.492-12.71a60.696 60.696 0 0 1 0 12.555a.478.478 0 0 1-.76.334l-4.105-3.05a8.75 8.75 0 0 0-5.22-1.728H4.93V8.667h3.58a8.75 8.75 0 0 0 5.22-1.728l4.103-3.05a.478.478 0 0 1 .76.334m-9.157 9.67a7.256 7.256 0 0 0-.928-.059H6.856L6.07 16.77l2.3 1.073l1.032-3.85a.759.759 0 0 1 .034-.1" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Announcements Icon</span>
                </div>
                <h2 class="subheading dark-text-2">Recent Announcements</h2>
                <p class="view-all-btn small-text red-text" data-view-all="recent">View All</p>
            </div>

            <div class="recent-announcements-container container-row align-start justify-start">
                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in recent_announcements %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:20 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
    
                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in recent_announcements %}
                    {% if not forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:15 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
            {% endif %}
            {% if past_announcements or user.is_superuser %}
            <div class="heading-container visit-link">
                <div class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M20.085 16.932a62.152 62.152 0 0 0 0-12.864c-.159-1.525-1.917-2.298-3.148-1.383l-4.103 3.05a7.25 7.25 0 0 1-4.326 1.432H4.68c-.69 0-1.25.56-1.25 1.25v4.166c0 .69.56 1.25 1.25 1.25h.624l-.845 3.155a.75.75 0 0 0 .408.874l3.68 1.717a.75.75 0 0 0 1.042-.486l1.263-4.712a.78.78 0 0 0 .024-.15a7.25 7.25 0 0 1 1.959 1.034l4.103 3.05c1.23.915 2.99.142 3.148-1.383m-1.492-12.71a60.696 60.696 0 0 1 0 12.555a.478.478 0 0 1-.76.334l-4.105-3.05a8.75 8.75 0 0 0-5.22-1.728H4.93V8.667h3.58a8.75 8.75 0 0 0 5.22-1.728l4.103-3.05a.478.478 0 0 1 .76.334m-9.157 9.67a7.256 7.256 0 0 0-.928-.059H6.856L6.07 16.77l2.3 1.073l1.032-3.85a.759.759 0 0 1 .034-.1" clip-rule="evenodd" />
                    </svg>
                    <span class="sr-only">Announcements Icon</span>
                </div>
                <h2 class="subheading dark-text-2">Past Announcements</h2>
                <p class="view-all-btn small-text red-text" data-view-all="past">View All</p>
            </div>

            <div class="past-announcements-container container-row align-start justify-start">
                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in past_announcements %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:15 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>

                <div class="announcements-container container-col justify-start align-start">
                    {% for announcement in past_announcements %}
                    {% if not forloop.counter0|divisibleby:2 %}
                    <div class="announcement-container container-col align-start box-shadow">
                        <h2 class="announcement-heading-text dark-text-2">{{ announcement.friendly_name }}</h2>
                        {% if announcement.description %}
                        <p class="description-text dark-text-2">
                            {% with description=announcement.description|urlizetrunc:15 %}
                            {{ description|linebreaksbr }}
                            {% endwith %}
                        </p>
                        {% endif %}
                        {% if announcement.date_made_public %}
                        <p class="date-text dark-text-2 small-text">{{ announcement.date_made_public|date:'M d, Y' }}</p>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url 'edit_announcement' announcement.name %}" class="link-container visit-link">
                            <p class="time-text dark-text-2">Edit</p>
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                    <path d="M17.181 2.927a2.975 2.975 0 0 0-4.259-.054l-9.375 9.375a2.44 2.44 0 0 0-.656 1.194l-.877 3.95a.5.5 0 0 0 .596.597l3.927-.873a2.5 2.5 0 0 0 1.234-.678l9.358-9.358a2.975 2.975 0 0 0 .052-4.153m-3.552.653a1.975 1.975 0 1 1 2.793 2.793l-.671.671l-2.793-2.792zm-1.378 1.38l2.793 2.792l-7.98 7.98a1.5 1.5 0 0 1-.744.409l-3.16.702l.708-3.183c.059-.267.193-.511.386-.704z" />
                                </svg>
                                <span class="sr-only">Edit Icon</span>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/view_all.js' %}"></script>

{% endblock %}