@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.events-section {
    padding: 20px 0;

    .section-container {
        gap: 20px;
    }

    .img-container {
        width: 100%;
        height: 150px;
        position: relative;
        border-radius: $round-corner-3;

        .heading {
            position: absolute;
            top: 50%;
            left: 0;
            translate: 0 -50%;
            width: 100%;
            text-align: center;
            z-index: 3;
        }

        .img-100a {
            position: absolute;
            top: 0;
            z-index: 2;
        }
    }

    .events-container-row {
        width: 100%;
    }

    .events-container {
        width: calc(50% - 10px);
        height: 404px;
        background-color: $gl-2;
        border-radius: $round-corner-3;
        gap: 12px;
        overflow: hidden;

        .event-items-container {
            width: 100%;
            gap: 12px;
            max-height: 320px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb  {
                background-color: $red-1;
                border: none;
                border-radius: $round-corner-1;
            }
        }

        .subheading {
            width: 100%;
            padding: 12px 0;
        }

        &.upcoming .subheading {
            background-color: $gd-1;
        }

        &.past .subheading {
            background-color: $gd-1;
        }

        .event-container {
            background-color: $gl-1;
            width: calc(100% - 24px);
            border-radius: 10px;
            cursor: pointer;
            padding: 12px;
            position: relative;
            overflow: hidden;
        }

        .info-container {
            gap: 4px;
            width: calc(100% - 56px);
        }

        .date-text {
            padding: 8px 0;
            border-radius: 5px;
            width: 240px;
        }

        &.upcoming .date-text {
            background-color: $gd-1;
        }

        &.past .date-text {
            background-color: $gd-1;
        }

        .name-text {
            width: 100%;
        }

        .view-btn {
            position: absolute;
            width: 44px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: $gd-1;

            .white-text {
                font-size: 2rem;
            }
        }
    }
}