@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.event-detail-section {
    padding: 20px 0;

    .section-container {
        gap: 16px;
        padding: 16px;
        background-color: $gl-2;
        border-radius: $round-corner-5;
    }

    .event-detail-container {
        width: 100%;
        gap: 16px;
    }

    .img-container {
        width: 250px;
        height: 250px;
        border-radius: 15px;
    }

    .event-container {
        width: calc(100% - 266px);
        height: 250px;
        border-radius: 15px;
        background-color: $gl-1;
        overflow: hidden;

        .heading {
            width: 100%;
            font-size: $subheading-size;
            padding: 12px 0;
        }

        &.red .heading {
            background-color: $gd-1;
        }
    }

    .detail-container {
        width: 100%;
        padding: 12px;
        gap: 50px;
    }

    .info-container {
        gap: 8px;
        width: 252px;
    }

    // .date-text {
    //     width: 240px;
    //     padding: 8px;
    //     border-radius: 5px;
    // }

    // .date-text {
    //     background-color: $gd-1;
    // }

    .extra-detail-container {
        gap: 8px;

        .dark-text {
            font-size: 1.2rem;
        }
    }

    .extra-detail-title {
        font-weight: 600;
    }

    .description-container {
        width: calc(100% - 252px);
        height: 214px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb  {
            background-color: $red-1;
            border: none;
            border-radius: $round-corner-1;
        }
    }

    .description-text {
        width: 100%;
        font-size: 1.2rem;
    }

    .items-container {
        width: 100%;
        gap: 12px;
    }

    .item-container {
        width: 100%;
        gap: 16px;
        border-radius: $round-corner-1;
        background-color: $gl-2;
        position: relative;
        cursor: pointer;

        .info-container {
            padding: 8px 12px;
            gap: calc(8px + 0.2rem);
        }

        .w-50 {
            width: calc(50% - 10.6px);
        }

        .w-25 {
            width: calc(25% - 10.6px);
            padding-left: calc(20px + 1.4rem);
        }

        .icon-container {
            width: 1.2rem;
            height: 1.2rem;
        }

        .dark-text {
            font-size: 1.2rem;
        }

    }

    .resources-container {
        padding: 16px;
    }
}