.events-section {
  padding: 40px 0 80px 0;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgb(247, 247, 247) 0%, rgb(238, 238, 238) 50%, rgb(247, 247, 247) 100%);
  /* Medium devices (tablets, 768px to 999px) */
  /* Small devices (larger phones, 576px to 767px) */
  /* Extra small devices (phones, 380px to 575px) */
}
.events-section .img-container {
  width: 100%;
  height: 160px;
  position: relative;
  border-radius: 16px;
}
.events-section .img-container .img-100a {
  position: absolute;
  top: 0;
  z-index: 2;
}
.events-section .events-wrapper {
  width: 100%;
  gap: 20px;
}
.events-section .events-wrapper .heading-container {
  gap: 8px;
  margin-top: 24px;
  width: calc(50% - 20px);
  justify-content: flex-start;
  position: relative;
}
.events-section .events-wrapper .heading-container .icon-container {
  width: calc(1.8rem + 24px);
  height: calc(1.8rem + 24px);
  padding: 12px;
}
.events-section .events-wrapper .heading-container .view-all-btn {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 50%;
  translate: 0 -50%;
}
.events-section .events-wrapper .add-event-btn {
  width: calc(50% - 20px);
  border-radius: 16px;
  background-color: #f7f7f7;
  padding: 16px;
  cursor: pointer;
}
.events-section .events-wrapper .add-event-btn:hover {
  background-color: #ececec;
}
.events-section .events-wrapper .add-event-btn:hover .icon-container {
  background-color: #f7f7f7;
}
.events-section .events-wrapper .events-container {
  width: calc(50% - 20px);
  gap: 40px;
}
.events-section .events-wrapper .events-container .event-container {
  padding: 32px;
  border-radius: 16px;
  background-color: #f7f7f7;
  width: 100%;
  gap: 12px;
  position: relative;
}
.events-section .events-wrapper .events-container .visit-link {
  gap: 8px;
}
.events-section .events-wrapper .events-container .event-heading-text {
  margin-bottom: 4px;
  font-size: 1.5rem;
}
.events-section .events-wrapper .events-container .link-container {
  flex-direction: row-reverse;
}
.events-section .events-wrapper .events-container .description-text {
  margin-bottom: 16px;
}
.events-section .events-wrapper .events-container-row {
  gap: 40px;
  width: 100%;
}
.events-section .events-wrapper .events-container-wrapper {
  width: calc(50% - 20px);
  gap: 40px;
}
.events-section .events-wrapper .events-container-wrapper .events-container {
  width: 100%;
  gap: 40px;
}
.events-section .events-wrapper .events-container-wrapper .heading-container {
  width: 100%;
}
@media (max-width: 999px) {
  .events-section .events-wrapper .events-container {
    width: 100%;
  }
  .events-section .events-wrapper .events-container-row {
    flex-direction: column;
  }
  .events-section .events-wrapper .events-container-row .events-container-wrapper {
    width: 100%;
  }
  .events-section .events-wrapper .add-event-btn {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .events-section .events-wrapper .events-container .events-container {
    padding: 20px;
  }
  .events-section .mobile-text {
    display: none;
  }
}

/*# sourceMappingURL=events.css.map */
