/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Project wide */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.box-shadow {
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.3);
}

.container-row, .btn, .img-container, .icon-container, .form-container .select-container .select-item, .form-container .input-group-container, .container-col, .form-container .select-container .select-container-items, .form-container .input-group, .form-container .form, .form-container .heading-container, .form-container, .section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-col, .form-container .select-container .select-container-items, .form-container .input-group, .form-container .form, .form-container .heading-container, .form-container, .section {
  flex-direction: column;
}

.section {
  width: 100%;
  background: #f7f7f7;
}
.section.ptb-100 {
  padding: 100px 0;
}
.section.h-100a {
  height: 100vh;
}
.section.h-100b {
  height: calc(100vh - 100px);
}

.section-container {
  width: 1140px;
}

.form-container {
  padding: 24px;
  background-color: #f7f7f7;
  gap: 16px;
  border-radius: 15px;
  align-items: flex-start;
}
.form-container .heading-container {
  align-items: flex-start;
  width: 100%;
}
.form-container .form {
  gap: 8px;
  align-items: flex-start;
}
.form-container .form .btn {
  align-self: center;
  width: 100%;
  margin-top: 8px;
}
.form-container .hidden-input-container {
  display: none;
}
.form-container .input-group {
  align-items: flex-start;
  width: 350px;
  gap: 4px;
}
.form-container .input-group.row {
  flex-direction: row;
}
.form-container .input-group.col-2 {
  width: 600px;
}
.form-container .input-group input, .form-container .input-group select, .form-container .input-group textarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 15px;
  border: none;
  outline: none;
  color: #242424;
  background-color: #ececec;
  border-radius: 5px;
}
.form-container .input-group input:focus, .form-container .input-group select:focus, .form-container .input-group textarea:focus {
  outline: 2px solid #c64f4a;
}
.form-container .input-group textarea {
  resize: none;
}
.form-container .input-group select {
  cursor: pointer;
}
.form-container .input-group-container {
  gap: 20px;
}
.form-container .input-group-container .input-group {
  width: 290px;
}
.form-container .select-container {
  width: 350px;
  position: relative;
  height: 48px;
}
.form-container .select-container .select-container-items {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  justify-content: flex-start;
  height: 0px;
  overflow: hidden;
  gap: 5px;
  position: absolute;
  left: 0;
  top: 48px;
}
.form-container .select-container .select-container-items.open {
  height: 224px;
  overflow-y: scroll;
  padding: 5px;
}
.form-container .select-container .select-container-items.open::-webkit-scrollbar {
  width: 4px;
}
.form-container .select-container .select-container-items.open::-webkit-scrollbar-thumb {
  background-color: #c64f4a;
  border: none;
  border-radius: 5px;
}
.form-container .select-container .select-item {
  width: 100%;
  padding: 10px 15px;
  height: 48px;
  background-color: #f7f7f7;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}
.form-container .select-container .select-item:hover {
  background-color: #ececec;
}
.form-container .select-container .select-item.default-select-item {
  background-color: #ececec;
}
.form-container .select-container .select-item.default-select-item.open {
  border-radius: 5px 5px 0 0;
}
.form-container .select-container .select-item.default-select-item:hover {
  background-color: #ececec;
}

.img-container, .icon-container {
  overflow: hidden;
  position: relative;
}

.img-100a {
  width: 100%;
  height: auto;
}

.dark-text, .nav-link {
  color: #242424;
  font-size: 1.4rem;
}

.dark-text-2 {
  color: #494949;
  font-size: 1.4rem;
}

.white-text {
  color: #ffffff;
  font-size: 1.4rem;
}

.red-text {
  color: #c64f4a;
}

.yellow-text {
  color: #ffe457;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.subheading {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.small-text {
  font-size: 1.1rem;
}

.center-text {
  text-align: center;
}

.fa-icon-left {
  margin-right: 8px;
}

.fa-icon-right {
  margin-left: 8px;
}

.btn {
  font-size: 1.4rem;
  padding: 10px 15px;
  border-radius: 5px;
  color: #ffffff;
  width: 240px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #c64f4a;
}
.btn:visited {
  color: #ffffff;
}
.btn.btn-2 {
  background-color: transparent;
  color: #c64f4a;
  outline: 3px solid #c64f4a;
  outline-offset: -3px;
}
.btn.btn-2:visited {
  color: #c64f4a;
}
.btn.btn-2 .fa-icon-left {
  color: #c64f4a;
}
.btn.btn-2 .fa-icon-right {
  color: #c64f4a;
}
.btn.btn-neg {
  background-color: #c53d52;
}
.btn.btn-pos {
  background-color: #399c3e;
}
.btn.small-btn {
  width: 200px;
}

.sr-only {
  display: none !important;
}

.space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/* Header */
header {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
}

.header-container {
  width: calc(100% - 100px);
  height: 100%;
}

.logo-container {
  gap: 10px;
  width: 300px;
}

.logo-img-container {
  width: 80px;
  height: 80px;
}

h1.logo-text {
  font-size: 2rem;
  letter-spacing: 2px;
  position: relative;
}
h1.logo-text::after {
  content: "";
  position: absolute;
  background-color: #ffe457;
  width: 100%;
  height: 4px;
  bottom: -3px;
  left: 0;
}
h1.logo-text::before {
  content: "";
  position: absolute;
  background-color: #c64f4a;
  width: 100%;
  height: 4px;
  top: -3px;
  left: 0;
}

.nav-btn {
  cursor: pointer;
  width: 50px;
  height: 36px;
  justify-content: space-between;
  display: none;
}
.nav-btn .nav-btn-bar {
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  position: relative;
}
.nav-btn.active .nav-btn-bar.b1 {
  transform: rotate(-45deg) translateY(21px);
}
.nav-btn.active .nav-btn-bar.b3 {
  transform: rotate(45deg) translateY(-21px);
}
.nav-btn.active .nav-btn-bar.b2 {
  display: none;
}

.nav-menu {
  gap: 20px;
}
.nav-menu.active {
  transform: translateX(0);
}
.nav-menu .small-btn {
  margin-left: 60px;
}

.nav-link {
  position: relative;
}
.nav-link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #c64f4a;
  transition: all 0.3s ease;
  content: "";
}
.nav-link:hover::after {
  width: 100%;
}

.account-btns-container {
  gap: 20px;
  width: 300px;
}

.profile-container {
  width: 300px;
  gap: 10px;
  position: relative;
}
.profile-container .profile-menu-container {
  position: absolute;
  top: calc(100% + 10px);
  right: calc(50% - 35px);
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7f7f7;
  gap: 15px;
  display: none;
  z-index: 999;
}
.profile-container .profile-menu-container.show {
  display: flex;
}
.profile-container .profile-menu-container .profile-menu-btn {
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  border-radius: 10px;
}
.profile-container .profile-menu-container .profile-menu-btn:hover {
  background-color: #ececec;
}
.profile-container .profile-menu-container .profile-menu-btn .dark-text, .profile-container .profile-menu-container .profile-menu-btn .nav-link {
  font-weight: 600;
}
.profile-container .profile-menu-container .icon-container {
  background-color: #ececec;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}
.profile-container .profile-btn-container {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
}
.profile-container .profile-btn-container .profile-btn-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ececec;
  outline: 4px solid #f7f7f7;
  outline-offset: -1px;
  transition: all 0.3s ease;
}
.profile-container .profile-btn-container .profile-btn-icon.rotate {
  rotate: -180deg;
}
.profile-container .profile-btn-container .profile-btn-icon .dark-text, .profile-container .profile-btn-container .profile-btn-icon .nav-link {
  font-size: 0.7rem;
}
.profile-container .profile-btn-container .img-container, .profile-container .profile-btn-container .icon-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 80px 0 40px 0;
}
footer .footer-container {
  width: calc(100% - 100px);
}
footer .footer-top, footer .footer-bottom {
  width: 100%;
}
footer .footer-top {
  padding-bottom: 20px;
  border-bottom: 2px solid #242424;
}
footer .footer-bottom {
  padding-top: 20px;
}
footer .footer-nav {
  gap: 8px;
}
footer .divider {
  width: 2px;
  height: 1.2rem;
  background-color: #242424;
}
footer .footer-contact-container {
  gap: 20px;
}
footer .bold {
  font-weight: 600;
}
footer .img-container, footer .icon-container {
  width: 65px;
  height: 65px;
}

/*# sourceMappingURL=base.css.map */
