@import './variables';

/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Project wide */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $gl-1;
    min-height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;

    &:visited {
        color: $gd-1;
    }
}

.box-shadow {
    box-shadow: 13px 13px 22px 3px rgba(0,0,0,0.65);
    -webkit-box-shadow: 13px 13px 22px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: 13px 13px 22px 3px rgba(0,0,0,0.65);
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-col {
    @extend .container-row;
    flex-direction: column;
}

.section {
    width: 100%;
    @extend .container-col;
    background: $gl-1;
    padding: 100px 0;
}

.section-container {
    width: 1400px;
}

.img-container {
    @extend .container-row;
    overflow: hidden;
    position: relative;
}

.img-100a {
    width: 100%;
    height: auto;
}

.dark-text {
    color: $gd-1;
    font-size: $font-size;
}

.white-text {
    color: $white;
    font-size: $font-size;
}

.red-text {
    color: $red-1;
}

.yellow-text {
    color: $yellow-1;
}

.heading {
    font-size: $heading-size;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.subheading {
    font-size: $subheading-size;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.center-text {
    text-align: center;
}

.btn {
    @extend .container-row;
    font-size: $font-size;
    padding: 15px 30px;
    border-radius: 5px;
    color: $white;
    width: 240px;
    border: none;
    text-align: center;
    cursor: pointer;
    border: 3px solid $yellow-1;
}

.btn-2 {
    background-color: $yellow-1;
}

.small-btn {
    width: 200px;
}

.sr-only {
    display: none !important;
}

.space-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background-color: $gl-1;
}

.header-container {
    width: calc(100% - 100px);
    height: 100%;
}

.logo-container {
    gap: 10px;
}

.logo-img-container {
    width: 90px;
    height: 90px;
}

h1.logo-text {
    font-size: 2.5rem;
    letter-spacing: 2px;
    position: relative;
    align-self: flex-end;
    margin-bottom: 10px;

    &::after {
        content: "";
        position: absolute;
        background-color: $yellow-1;
        width: 100%;
        height: 4px;
        bottom: -3px;
        left: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $red-1;
        width: 100%;
        height: 4px;
        top: -3px;
        left: 0;
    }
}



.nav-btn {
    cursor: pointer;
    width: 50px;
    height: 36px;
    justify-content: space-between;
    display: none;

    .nav-btn-bar {
        width: 100%;
        height: 5px;
        border-radius: 20px;
        background-color: $white;
        transition: all 0.3s ease;
        position: relative;
    }

    &.active {
        .nav-btn-bar {
            &.b1 {
                transform: rotate(-45deg) translateY(21px);
            }

            &.b3 {
                transform: rotate(45deg) translateY(-21px);
            }
            
            &.b2 {
                display: none;
            }
        }
    }
}

.nav-menu {
    gap: 20px;

    &.active {
        transform: translateX(0);
    }

    .small-btn {
        margin-left: 60px;
    }
}

.nav-link {
    @extend .dark-text;
    position: relative;

    &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 3px;
        width: 0;
        background-color: $yellow-1;
        transition: all 0.3s ease;
        content: "";
    }

    &:hover {
        &::after {
            width: 100%;
        }   
    }
}