/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --WHITE: #ffffff;
    --GRAY-DARK-1: #333333;
    --RED-LOGO: #d61810;
    --RED-LOGO-TRANSPARENT: #d61710cc;
    --YELLOW-LOGO: #ffd600;
    --GRAY-DARK-2: #636363;
    --GRAY-LIGHT-1: #f5f5f5;
    --GRAY-LIGHT-2: #f0f0f0;
    --GRAY-LIGHT-3: #eeeeee;
    --TRANSPARENT-DARK-1: #00000094;
    --TRANSPARENT-DARK-2: #00000079;
    --TRANSPARENT-DARK-3: #000000cb;
    --TRANSPARENT-LIGHT-1: #f5f5f5c0;
}

body {
    background-color: var(--GRAY-LIGHT-1);
    min-height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    background-color: transparent !important;
}

/* Header */

header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    z-index: 4;
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
    background-color: var(--GRAY-LIGHT-1);
}

.header-container {
    height: 100px;
    width: calc(100vw - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

/* Logo */

.logo-container {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

.logo-img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* Nav Bar */

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
}

.nav-item {
    list-style-type: none;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: var(--GRAY-DARK-1);
    display: flex;
    align-items: center;
    position: relative;
}

.nav-link::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--YELLOW-LOGO);
    transition: width 0.5s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--GRAY-DARK-1);
    border-radius: 3px;
}

/* Account Login */

.account-login-container {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.account-login-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.account-login-icon-container {
    display: none;
}

.btn {
    background-color: var(--RED-LOGO);
    padding: 10px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
    color: var(--WHITE);
}

.btn:hover {
    background-color: var(--RED-LOGO);
    color: var(--WHITE);
}

.yellow-btn {
    background-color: var(--YELLOW-LOGO);
    color: var(--GRAY-DARK-1);
}

.yellow-btn:hover {
    background-color: var(--YELLOW-LOGO);
    color: var(--GRAY-DARK-1);
}

.btns-container {
    gap: 10px;
}

/* Media Queries */

@media (max-width: 1400px) {
    /* Nav Bar */

    .header-container {
        width: calc(100vw - 40px);
    }

}

@media (max-width: 1250px) {
    /* Header */

    /* Nav Bar */

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--RED-LOGO);
        width: 100vw;
        max-width: 100%;
        height: fit-content;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        padding: 100px 0;
        gap: 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    header.active {
        position: fixed;
    }

    .nav-item {
        height: fit-content;
    }

    .nav-dropdown-container {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        position: absolute;
        display: none;
    }

    .nav-dropdown-container.active {
        display: flex;
    }

    .nav-dropdown {
        width: 100%;
        border-radius: 0;
        height: fit-content;
    }

    .nav-dropdown-btn:hover .nav-dropdown-icon {
        transform: rotate(0);
    }

    .nav-link {
        color: var(--WHITE);
    }
}

@media (max-width: 768px) {
    .logo-text {
        display: none;
    }

    .logo-container {
        width: 100px;
    }

    .account-login-container {
        width: 100px;
    }
}

/* Footer */

footer {
    width: 100vw;
    max-width: 100%;
    background-color: var(--GRAY-LIGHT-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source-Sans-Pro", sans-serif;
    border-top: 1px solid var(--GRAY-LIGHT-2);
}

.footer-container {
    height: 100px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

.copyright {
    font-size: 1rem;
    color: var(--GRAY-DARK-2);
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.footer-logo-img-container {
    width: 75px;
    height: 75px;
}

.footer-logo {
    width: 100%;
    height: auto;
}

/* Media Queries */

@media (max-width: 1000px) {
    .footer-container {
        height: 250px;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .disclaimer {
        padding: 0;
    }

}

@media (max-width: 768px) {
    .footer-container {
        width: calc(100% - 80px);
        padding: 20px 0 10px 0;
    }
}

/* Home Hero Section */

.section {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-hero-container {
    width: 100%;
    min-height: calc(100vh - 100px);
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    transition: transform 0.5s ease;
}

.carousel-item-1 {
    transform: translateX(0%);
}

.carousel-item-2 {
    transform: translateX(100%);
}

.carousel-item-3 {
    transform: translateX(200%);
}

.home-hero-content-container {
    width: 100%;
    height: calc(100vh - 100px);
}

.home-hero-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}

.hero-img-container {
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    min-width: 100%;
    max-width: none;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--TRANSPARENT-DARK-3);
    left: 0;
    top: 0;
}

.home-hero-section .hero-overlay {
    background-color: var(--TRANSPARENT-DARK-1);
}

.hero-card {
    position: absolute;
    padding: 50px;
    background-color: var(--TRANSPARENT-DARK-3);
    border-radius: 15px;
    height: 450px;
    width: 650px;
    justify-content: space-between;
}

.hero-card-content-container {
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.hero-card-text-container {
    gap: 10px;
    text-align: center;
}

.carousel-dots-container {
    width: 600px;
    justify-content: space-between;
    padding: 0 100px;
    position: absolute;
    top: calc(50% + 2750px);
}

.carousel-dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--TRANSPARENT-DARK-1);
    border: 1px solid var(--GRAY-LIGHT-2);
    cursor: pointer;
}

.carousel-dot.active {
    background-color: var(--WHITE);
}

.carousel-swipe {
    position: absolute;
    color: var(--WHITE);
    font-size: 5rem;
    cursor: pointer;
}

.carousel-swipe.swipe-left {
    left: calc(50% - 500px);
}

.carousel-swipe.swipe-right {
    right: calc(50% - 500px);
}

.white-text {
    color: var(--WHITE);
    font-size: 1.5rem;
}

.red-text {
    color: var(--RED-LOGO)
}

.dark-text {
    color: var(--GRAY-DARK-1);
    font-size: 1.5rem;
}

.light-text {
    color: var(--GRAY-DARK-2);
    font-size: 1.5rem;
}

.yellow-text {
    color: var(--YELLOW-LOGO);
}

.reg-text {
    font-size: 1.5rem;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
}

.hero-text-container {
    --b: .5em; /* border width */
	--c: 4em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	border: solid var(--b) transparent;
	width: 100%;
    height: 100%;
    padding: 50px;
	font: 1.25em ubuntu, sans-serif;
    gap: 30px;
    text-align: center;
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(orange, var(--YELLOW-LOGO), var(--RED-LOGO)) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}

.hero-heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--WHITE);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1250px) {
    .home-hero-section {
        display: none;
    }
}

/* Home Welcome Seciton */

.home-welcome-section {
    padding-bottom: 50px;
    background-color: var(--GRAY-LIGHT-1);
}

svg#bigTriangleColor {
	pointer-events: none;
    background-color: var(--GRAY-LIGHT-3);
    padding: 0;
    display: block;
}

#bigTriangleColor path {
	fill: #f5f5f5;
	stroke: #eeeeee;
	stroke-width: 0;
}

.home-welcome-section-container {
    gap: 50px;
}

.home-welcome-section-heading {
    padding: 20px;
    border-radius: 15px;
    width: 1200px;
    text-align: center;
}

.section-container {
    padding: 100px 0 0 0;
    width: 1400px;
}

.home-welcome-content-container {
    gap: 100px;
}

.home-welcome-img-container, .hero-welcome-text-container {
    width: 575px;
    height: 575px;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;
}

.hero-welcome-text-container {
    gap: 30px;
    padding: 50px;
    text-align: left;
}

.home-page-account-section {
    padding: 0;
}

.home-welcome-main-text-container {
    width: 100%;
    gap: 20px;
    align-items: flex-start;
}



@media (max-width: 1250px) {
    .section-container {
        width: 950px;
    }

    .home-welcome-section-heading {
        width: 950px;
    }

    .home-welcome-img-container, .hero-welcome-text-container {
        width: 450px;
        height: 450px;
    }


    .white-text {
        font-size: 1.2rem;
    }
    
    .dark-text {
        font-size: 1.2rem;
    }
    
    .light-text {
        font-size: 1.2rem;
    }
    
    
    .reg-text {
        font-size: 1.2rem;
    }
    
    .heading {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) {
    .section-container {
        width: 750px;
    }

    .home-welcome-section-heading {
        width: 750px;
    }

    .home-welcome-content-container {
        gap: 14px;
    }

    .home-welcome-section-container {
        gap: 14px;
    }

    .home-welcome-img-container, .hero-welcome-text-container {
        width: 368px;
        height: 368px;
        padding: 12px;
    }


    .white-text {
        font-size: 1.04rem;
    }
    
    .dark-text {
        font-size: 1.04rem;
    }
    
    .light-text {
        font-size: 1.04rem;
    }
    
    
    .reg-text {
        font-size: 1.04rem;
    }
    
    .heading {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 1.04rem;
    }
}

@media (max-width: 768px) {
    .section-container {
        width: 350px;
    }

    .home-welcome-section-heading {
        width: 335px;
        display: none;
    }

    .home-welcome-content-container {
        gap: 10px;
        flex-direction: column;
    }

    .home-welcome-section-container {
        gap: 10px;
    }

    .home-welcome-img-container, .hero-welcome-text-container {
        width: 335px;
        height: auto;
        padding: 15px;
    }


    .white-text {
        font-size: 1rem;
    }
    
    .dark-text {
        font-size: 1rem;
    }
    
    .light-text {
        font-size: 1rem;
    }
    
    
    .reg-text {
        font-size: 1rem;
    }
    
    .heading {
        font-size: 1.7rem;
    }

    .btn {
        font-size: 1rem;
    }
}


/* Home History Section */

.history-section {
    width: 100%;
    padding: 0px 0 0px 0;
    position: relative;
}

.heroImageGrid-text-content-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heroImageGridTextContainer {
    gap: 30px;
}

.c-heroImageGrid {
	position: relative;
	overflow: hidden;
	height: 50vw;
	background: var(--GRAY-LIGHT-1);
	margin-bottom: 60px;
}

.c-heroImageGrid .container {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: -20vw;
	left: -8vw;
	transform: rotateZ(45deg);
	height: 100vw;
	width: 107vw;
}

.c-heroImageGrid .container .column {
	overflow: hidden;
	position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(1) {
	border-right: 8px solid var(--GRAY-LIGHT-1);
	width: 25%;
	height: 66vw;
}

.c-heroImageGrid .container .column:nth-of-type(1):before {
	position: absolute;
	top: 8.4vw;
	left: 8.1vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 37vw;
	height: 38vw;
	background-image: url(https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718614/history-1_wgmvwi.png);
}


.c-heroImageGrid .container .column:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 75%;
	height: 109.1vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row {
	border-top: 8px solid var(--GRAY-LIGHT-1);
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 50vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(1):before {
	position: absolute;
	top: -10.1vw;
	left: -14.3vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 65vw;
	height: 39vw;
	background-image: url(https://res.cloudinary.com/dikcjjfpo/image/upload/v1692719089/history-2-c_ns2g39.png);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) {
	display: flex;
	height: 40.5vw;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	border-top: none;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1) {
	overflow: hidden;
	width: 30%;
    position: relative;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(1):before {
	position: absolute;
	top: 0;
	left: -40vw;
	width: 110.1vw;
	height: 110vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718571/history-5-a_znuzhx.png);
}


.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2) {
	position: relative;
	width: 70%;
	border-left: 8px solid var(--GRAY-LIGHT-1);
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(2) div:nth-of-type(2):before {
	position: absolute;
	top: 0;
	left: -40vw;
	width: 110.1vw;
	height: 110vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718624/history-3-c_k2ndln.png);
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3) {
	position: relative;
	height: 18.6vw;
	overflow: hidden;
}

.c-heroImageGrid .container .column:nth-of-type(2) .row:nth-of-type(3):before {
	position: absolute;
	top: 7.5vw;
	left: 25vw;
	width: 33vw;
	height: 27vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718575/history-4-a_btzjtx.png);
}

@media (max-width: 1250px) {
    .history-section .hero-text-container {
        width: 800px;
    }

    
}

@media (max-width: 1250px) {
    .history-section .hero-text-container {
        width: 700px;
        gap: 20px;
    }

    .hero-text-container {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .hero-text-container {
        padding: 20px;
    }

    .c-heroImageGrid {
        display: none;
    }

    .history-section {
        height: 800px;
        background-color: var(--GRAY-DARK-1);
    }

    .history-section .hero-text-container {
        width: 335px;
        padding: 50px 20px;
    }



}

/* Account Login Section */

.account-section {
    min-height: calc(100vh - 100px);
    padding: 50px;
    width: 100%;
    position: relative;
    background-color: var();
}

.account-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
}

.login-account-section-upper {
    text-align: center;
    height: 350px;
    width: 650px;
    position: relative;
    gap: 10px;
}

.unregistered-account-link {
    color: var(--YELLOW-LOGO);
}

.unregistered-account-link:visited {
    color: var(--YELLOW-LOGO);
}

.unregistered-account-link:hover {
    color: var(--YELLOW-LOGO);
}

.account-card-section {
    padding: 50px 80px;
    min-width: 650px;
}

.login-accouint-section-lower {
    gap: 50px;
    background-color: var(--GRAY-LIGHT-1);
}

.login-form {
    gap: 30px;
}

.account-form {
    gap: 20px;
}

.account-form label {
    display: none;
}

.account-input-container {
    position: relative;
}

.account-form input[type="text"], .account-form input[type="password"], .account-form input[type="email"] {
    font-size: 1.5rem;
    color: white;
    background-color: var(--RED-LOGO);
    border-radius: 30px;
    padding: 15px 40px 15px 70px;
    border: none;
    position: relative;
}

.account-form input[type="text"]::placeholder, .account-form input[type="password"]::placeholder, .account-form input[type="email"]::placeholder {
    color: var(--WHITE);
}

.account-form input[type="text"]:focus, .account-form input[type="password"]:focus, .account-form input[type="email"]:focus {
    outline: none;
}

.account-input-icon-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 5;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-icon {
    font-size: 1.5rem;
    color: var(--WHITE);
}

.remember-checkbox-container {
    gap: 50px;
}

.remember-label {
    font-size: 1.5rem;
    color: var(--RED-LOGO);
}

.remember-container {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remember-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--RED-LOGO);
    border-radius: 3px;
    outline: none;
    position: relative;
    cursor: pointer;
}
  
.remember-checkbox::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30%;
    height: 70%;
    border: solid var(--YELLOW-LOGO);
    border-width: 0 3px 3px 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.remember-checkbox:checked::before {
    opacity: 1;
}

.forgot-password {
    color: var(--RED-LOGO);
    font-size: 1.5rem;
}

.reset-password-btn {
    margin: 20px auto;
}

.account-btn {
    border-radius: 50px;
    border: none;
    padding: 20px 50px;
    background-color: var(--YELLOW-LOGO);
    color: var(--GRAY-DARK-1);
}

.account-btn:hover {
    background-color: var(--YELLOW-LOGO);
    color: var(--GRAY-DARK-1);
}

.account-password-reset-section-container {
    height: calc(100vh - 200px);
    justify-content: flex-start;
    padding: 200px;
    gap: 50px;
}

.dark-btn {
    border: none;
}

.account-card-bg-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--TRANSPARENT-DARK-2);
    position: absolute;
    left: 0;
    top: 0;
}

.account-card-wrapper {
    z-index: 8;
    gap: 10px;
}

.account-card-img-overlay {
    z-index: 7;
}

.account-section-bg-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.account-card {
    z-index: 5;
}

.img-100a {
    width: 100%;
    height: auto;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 600;
}

.sign-in-heading {
    display: none;
}

.account-card-wrapper-logout {
    gap: 40px;
}

.goodbye-account-container {
    gap: 10px;
}

/* Announcements Hero Section */

.announcements-hero-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.announcements-hero-img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.announcements-hero-heading-container {
    position: absolute;
    padding: 50px;
    background-color: var(--TRANSPARENT-DARK-3);
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 1000px) {
    .announcements-hero-container {
        height: 600px;
    }

    .announcements-hero-section .hero-text-container {
        width: 600px;
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .announcements-hero-container {
        height: 800px;
    }

    .announcements-hero-section .hero-text-container {
        width: 335px;
        padding: 50px;
    }
}

/* Upcoming Events Section */


.upcoming-events-section-container, .past-events-section-container {
    gap: 30px;
}

.upcoming-events-content-container, .past-events-content-container {
    gap: 50px;
    width: 100%;
}

.upcoming-event-container, .past-event-container {
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    height: fit-content;
}

.event-date-container {
    width: 175px;
    height: 175px;
    justify-content: flex-start;
    position: relative;
    background: transparent;
}

.event-start-end-date-container {
    width: 175px;
    height: 175px;
    background-color: var(--RED-LOGO);
    justify-content: space-evenly;
    cursor: pointer;
    color: var(--WHITE);
    border-radius: 20px 0 0 20px;
}

.event-details-container {
    width: calc(100% - 475px);
    height: 175px;
    padding: 0 50px;
    border: 2px solid var(--GRAY-DARK-2);
    border-left: none;
    border-right: none;
    align-items: flex-start;
}

.upcoming-events-section-container {
    position: relative;
}

.upcoming-events-section-container .carousel-swipe {
    color: var(--GRAY-DARK-1);
}

.upcoming-events-section-container .swipe-left {
    left: 0;
}

.upcoming-events-section-container .swipe-right {
    right: 0;
}

.event-card {
    width: 400px;
    height: 540px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    background-color: var(--GRAY-LIGHT-1);
}

.event-card-img-container {
    position: relative;
    height: 225px;
    width: 100%;
}

.event-card-content-container {
    height: calc(100% - 225px);
    justify-content: space-between;
    padding: 40px 20px;
    align-items: flex-start;
}

.event-card-date {
    position: absolute;
    gap: 10px;
    right: 20px;
    top: 20px;
}

.event-card-date .white-text {
    font-size: 1.8rem;
}

.event-card-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;
    text-align: center;
}

.event-card-btns-container {
    gap: 20px;
    align-self: center;
}

.event-learn-more-btn {
    width: 160px;
    padding: 10px;
}

.event-card-description {
    height: 150px;
    overflow-y: scroll;
}

.events-carousel-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.events-carousel-container.no-events-carousel-container {
    height: 300px;
}

.events-carousel-item {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.loading-icon-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--GRAY-LIGHT-1);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.loading-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--GRAY-LIGHT-2);
    border-top: 10px solid var(--RED-LOGO);
    animation: spin 1s infinite linear;
}

.loading-icon-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}
  
::-webkit-scrollbar-track {
    background-color: var(--GRAY-LIGHT-1); /* Track color */
}
  
  /* Styles for the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
    background-color: var(--RED-LOGO); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--RED-LOGO-TRANSPARENT); /* Thumb color on hover */
}
  
  /* Styles for the scrollbar buttons (arrows at the ends) */
::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
}

.create-event-btn {
    margin-top: 50px;
}

.past-events-section {
    padding-bottom: 100px;
}


@media (max-width: 1000px) {
    .event-date-container, .event-start-end-date-container {
        width: 140px;
        height: 140px;
    }

    .event-learn-more-btn-container {
        height: 140px;
        width: 200px;
    }

    .event-learn-more-btn {
        width: 150px;
    }

    .event-details-container {
        width: calc(100% - 340px);
        height: 140px;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .upcoming-event-container {
        flex-wrap: wrap;
        width: 335px;
        border-radius: 15px;
    }
    
    .event-date-container {
        width: 150px;
        height: 150px;
        order: 1;
        flex-basis: 50%;
    }

    .event-start-end-date-container {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 15px;
    }

    .event-learn-more-btn-container {
        height: 150px;
        width: 150px;
        padding: 0;
        flex-basis: 50%;
        order: 2;
        border: none;
    }

    .event-learn-more-btn {
        width: 100%;
        height: 100%;
        border-radius: 0 0 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .event-details-container {
        width: 100%;
        min-height: 200px;
        padding: 30px;
        flex-basis: 100%;
        order: 0;
        border: 2px solid var(--GRAY-DARK-1);
        border-bottom: none;
        border-radius: 15px 15px 0 0;
    }
}

/* Account Member Section */

.account-member-section-container {
    width: 100%;
    padding: 0;
}

.account-member-wrapper {
    width: 100%;
    background-color: var(--GRAY-LIGHT-2);
}

.account-member-content-container {
    width: 750px;
    padding: 50px 0px;
    gap: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .account-member-content-container {
        width: 335px;
    }

    .btns-container {
        flex-direction: column;
    }
}

/* Create Event Section */

.create-event-form-section {
    padding: 100px;
}

.create-event-form-section-container {
    width: 1200px;
    gap: 50px;
}

.create-event-form-container {
    width: 100%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
}

.create-event-form {
    width: 100%;
}

.create-event-form label {
    color: var(--GRAY-DARK-1);
    font-size: 1.5rem;
    margin: 0;
}

.create-event-form input, .create-event-form textarea {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 5px 0 20px 0;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.create-event-form input:focus, .create-event-form textarea:focus {
    border: 3px solid var(--RED-LOGO);
    outline: none;
}

.create-event-form-btns-container {
    justify-content: space-between;
    width: 100%;
}

.create-event-form input[type="submit"], .create-event-cancel-btn{
    width: 45%;
    border: none;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.create-event-form input[type="submit"][value="Save"] {
    background: var(--YELLOW-LOGO);
}

.create-event-form input[type="submit"][value="Delete"] {
    background: var(--RED-LOGO);
    color: var(--WHITE);
}

.event-image-preview-container {
    align-items: flex-start;
    gap: 30px;
}

.event-form-img-container {
    width: 320px;
    height: 180px;
}

.event-image-upload .btn {
    align-self: flex-start;
    margin: 30px 0;
}

.event-image-change-container {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
    background-color: var(--TRANSPARENT-LIGHT-1);
    backdrop-filter: blur(10px);
    z-index: 9;
    display: none;
}

.event-image-change-container .cancel-btn {
    background-color: var(--YELLOW-LOGO);
    color: var(--GRAY-DARK-1);
}

.edit-event-img-input-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-3);
    transform: translate(-50%, -50%);
    display: none;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
}

.event-image-change-container #imageInput {
    width: fit-content;
    align-self: center;
}

.crop-event-img-container {
    width: 480px;
    height: 270px;
    margin: 20px 0 40px 0;
}

.preview-event-img-change-container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-3);
    transform: translate(-50%, -50%);
    display: none;
}

.preview-event-img-container {
    width: 480px;
    height: 270px;
    margin: 20px 0;
}

.event-current-resources-container {
    width: 100%;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px 0 20px 0;
    align-items: flex-start;
    gap: 10px;
}

.event-form-select-resources-btn {
    margin: 5px 0 20px 0;
}

.event-form-select-resources-wrapper {
    display: none;
}

.event-form-select-resources-overlay {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100vw;
    height: calc(100% - 200px);
    background-color: var(--TRANSPARENT-LIGHT-1);
    backdrop-filter: blur(7px);
    display: none;
    z-index: 10;
}

.event-form-select-resources-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    gap: 30px;
    background-color: var(--GRAY-LIGHT-1);
    z-index: 11;
}

.select-resource-items-container {
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
    gap: 10px;
}

.select-resource-item {
    width: 100%;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
    font-size: 1.5rem;
    background-color: var(--GRAY-LIGHT-3);
    cursor: pointer;
    border: 3px solid var(--GRAY-LIGHT-3);
}

.select-resource-item.selected {
    border: 3px solid var(--RED-LOGO);
}

.select-resource-close-btn {
    position: fixed;
    top: 50%;
    left: calc(50% + 350px);
    transform: translateY(-50%);
    font-size: 5rem;
    cursor: pointer;
}

/* Event Details Seciton */

.event-detail-section-container {
    gap: 20px;
    height: calc(100vh - 100px);
    padding: 0;
    background-color: var(--GRAY-LIGHT-3);
}

.event-detail-img-container {
    width: 50vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.event-detail-img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    animation: animatedBackground 30s linear alternate infinite;
}

@keyframes animatedBackground {
    0% { transform: translateX(0%); }
    100% { transform: translateX(calc(-100% + 50vw)); }
  }

.event-detail-content-container {
    width: 50vw;
    padding: 50px;
    gap: 20px;
}

/* Members Page Secton */

.members-page-account-seciton-1 {
    padding: 0;
}

.members-page-no-account-wrapper {
    height: calc(100vh - 100px);
}

.members-search-form-card {
    position: absolute;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--TRANSPARENT-DARK-3);
    width: 400px;
}

.members-search-form-reasons {
    right: calc(50% + 450px);
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
    align-items: flex-start;
}

.members-search-form-container {
    left: calc(50% + 450px);
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
}

.members-search-form-section .sub-heading,
.members-search-form-section .sub-heading-2 {
    font-weight: 800;
    text-align: center;
}

.members-search-form-reasons .sub-heading-2 {
    color: var(--YELLOW-LOGO);
}

.members-search-reasons-container {
    gap: 10px;
}

.members-search-reason {
    font-size: 1.1rem;
}

.members-search-img-container {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

.members-search-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    min-width: 100%;
    max-width: none;
}

.members-search-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.members-search-form label {
    color: var(--WHITE);
    font-size: 1.5rem;
    margin: 0;
}

.members-search-form input, .members-search-form textarea {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.members-search-form input:focus, .members-search-form textarea:focus {
    border: none;
    outline: none;
}

.members-search-form .btn {
    width: 100%;
    border: none;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--RED-LOGO);
    margin-top: 20px;
}

.members-search-form p {
    width: 100%;
}

.members-search-form select {
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 0 14px 0;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 15px;
    width: calc(100%);
    background-color: var(--GRAY-LIGHT-1);
    min-height: 50px;
    width: 100%;
}

.members-search-form .errorlist {
    display: none;
}

.members-search-form select:focus {
    border: none;
    outline: none;
}

/* Members Search form results Section */

.members-search-form-no-results-section-container {
    padding: 100px;
}

.members-search-form-results-section {
    background-color: var(--GRAY-LIGHT-1);
}

.members-search-form-results-section .member-profile-section-container {
    padding: 40px 0 0 0;
    gap: 20px;
}

.members-search-form-results-section-container {
    padding: 0 0 40px 0;
}

.members-search-form-results-section-container .password-email-card .dark-text {
    border: none;
    padding: 0;
}

.members-search-form-results-section-container .nothing-displayed {
    color: var(--GRAY-DARK-2);
}

.members-search-form-results-section .password-email-card {
    padding: 20px;
    gap: 0;
    justify-content: space-between;
}

.bio-container {
    height: calc(100% - 100px);
}

.bio-container .dark-text {
    height: 100%;
}

.members-results-circle {
	fill: var(--GRAY-LIGHT-1);
	stroke: none;
    display: block;
    transform: rotate(180deg);
    background-color: var(--GRAY-LIGHT-2);
}

.members-search-form-results-section:nth-child(even) .members-results-circle {
    background-color: var(--GRAY-LIGHT-1);
    fill: var(--GRAY-LIGHT-2);
}

.members-search-form-results-section:nth-child(even) {
    background-color: var(--GRAY-LIGHT-2);
}

/* Member Profile Section */

.member-profile-section {
    background: rgb(245,245,245);
    background: linear-gradient(90deg, rgba(245,245,245,1) 20%, rgba(240,240,240,1) 50%, rgba(245,245,245,1) 80%);
}

.member-profile-section .member-profile-section-container {
    gap: 20px;
    min-height: calc(100vh - 100px);
    padding: 75px 0;
}

.profile-left-side-container {
    width: 390px;
    gap: 20px;
}

.profile-right-side-container {
    width: 790px;
}

.profile-card {
    padding: 20px;
    background-color: var(--GRAY-LIGHT-1);
    border-radius: 15px;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
}

.profile-picture-card {
    width: 100%;
    height: 390px;
    justify-content: space-between;
}

.password-email-card {
    width: 100%;
    height: 290px;
    padding: 30px;
    gap: 30px;
}

.profile-details-card {
    width: 100%;
    height: 700px;
    justify-content: space-between;
}

.profile-picture-col-container {
    gap: 10px;
}

.members-search-form-results-section .profile-picture-card, .members-search-form-results-section .profile-picture-col-container {
    justify-content: center;
}

.profile-img-container {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 5px solid var(--GRAY-DARK-1);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.edit-picture-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: none;
    transform: translate(-50%, -50%);
}

.edit-picture-btn i {
    font-size: 3rem;
    color: var(--WHITE);
}

.edit-picture-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--TRANSPARENT-DARK-1);
    backdrop-filter: blur(10px);
    z-index: 9;
    display: none;
}

.profile-img-container:hover .edit-picture-btn, .profile-img-container:hover .edit-picture-overlay {
    display: flex;
}

.password-email-col-container {
    width: 100%;
    gap: 20px;
}

.password-email-row-container {
    width: 100%;
    justify-content: space-between;
}

.profile-details-row-container {
    width: 100%;
    justify-content: space-between;
}

.profile-details-col-container {
    width: 100%;
    align-items: flex-start;
    position: relative;
    gap: 10px;
}

.profile-details-col-container.double-row  {
    width: calc(50% - 10px);
}

.profile-details-card-container  {
    padding: 20px 20px;
}

.profile-details-col-container .light-text {
    font-size: 1.1rem;
    margin-left: 20px;
}

.profile-details-col-container .dark-text {
    width: 100%;
    font-size: 1.1rem;
    display: flex;
    border: 2px solid var(--GRAY-DARK-1);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.member-profile-section .short-bio {
    height: 250px;
}

.profile-details-col-container .short-bio {
    overflow-y: scroll;
}

.member-profile-section .profile-details-row-container .nothing-displayed {
    color: var(--RED-LOGO);
}

.expand-bio-btn {
    position: absolute;
    right: 12px;
    cursor: pointer;
    bottom: 12px;
}

.expand-bio-btn i {
    font-size: 1.5rem;
    color: var(--RED-LOGO);
}

.expand-bio-container {
    display: none;
    position: absolute;
    left: -740px;
    top: -255px;
    padding: 140px 40px 0 40px;
    background-color: var(--TRANSPARENT-DARK-1);
    width: 800px;
    height: 704px;
    backdrop-filter: blur(5px);
    z-index: 10;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 15px;
}

.expand-bio-text {
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.expand-bio-btn.active .expand-bio-container {
    display: flex;
}

.close-expand-bio-btn {
    display: none;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.close-expand-bio-btn.active {
    display: flex;
}

/* Members Searhc Results */

.members-search-form-results-section .profile-left-side-container,
.members-search-form-results-section .member-profile-section-container {
    width: 100%;
}

.members-search-form-results-section .profile-left-side-container {
    gap: 30px;
}

.members-search-form-results-section .profile-picture-card,
.members-search-form-results-section .password-email-card,
.members-search-form-results-section .profile-details-card {
    height: 500px;
}

.members-search-form-results-section .profile-picture-card {
    width: 350px;
}

.members-search-form-results-section .profile-picture-col-container {
    gap: 20px;
}

.members-search-form-results-section .password-email-card {
    width: 450px;
    padding: 40px 30px;
}

.members-search-form-results-section .profile-details-card {
    width: 540px;
}

.members-search-form-results-section .profile-details-card .light-text {
    align-self: center;
    margin: 0;
    font-size: 1.5rem;
}

.members-search-form-results-section .profile-details-card .short-bio {
    height: calc(100% - 30px);
    font-size: 1.3rem;
}

.members-search-form-results-section .profile-details-card .bio-container {
    height: 100%;
}

/* Edit Profile Section */

.edit-profile-section {
    background-color: var(--TRANSPARENT-DARK-2);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    height: calc(100% - 200px);
    pointer-events: all;
    left: 0;
    top: 100px; 
}

.edit-profile-card {
    width: 900px;
    padding: 50px 0;
    height: 100%;
    justify-content: flex-start;
}

.edit-profile-form-container {
    width: 100%;
    padding: 50px;
    background-color: var(--GRAY-LIGHT-1);
    border-radius: 15px;
    overflow-y: scroll;
    justify-content: flex-start;
    position: relative;
}

.edit-profile-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.edit-profile-form label {
    color: var(--GRAY-DARK-1);
    font-size: 1.5rem;
    margin: 0;
}

.edit-profile-form input, .edit-profile-form textarea {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 5px 0 20px 0;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.edit-profile-form input:focus, .edit-profile-form textarea:focus {
    border: 3px solid var(--RED-LOGO);
    outline: none;
}

.edit-profile-form .btn {
    width: calc(50% - 20px);
    border: none;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.edit-profile-form .form-save-btn{
    background: var(--YELLOW-LOGO);
}

.edit-profile-form .form-cancel-btn {
    background: var(--RED-LOGO);
    color: var(--WHITE);
}

.edit-profile-form .form-close-btn {
    border: none;
    font-size: 3.5rem;
    width: fit-content;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
}

.edit-profile-form .form-close-btn:focus {
    border: none;
}

.edit-profile-form .form-close-btn:hover {
    color: var(--RED-LOGO);
}

.edit-profile-form p {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.edit-profile-form-container p:has(label[for="id_display_email"]),
.edit-profile-form-container p:has(label[for="id_display_number"]) {
    flex-basis: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.edit-profile-form-container p:has(label[for="id_email"]),
.edit-profile-form-container p:has(label[for="id_phone_number"]) {
    flex-basis: 76%;
}

.edit-profile-form-container .form-bio {
    flex-basis: 100%;
    align-items: flex-start;
}

.form-bio p {
    width: 100%;
}

.bio-number-container {
    align-self: flex-end;
    width: fit-content;
    margin-right: 20px;
}

.edit-profile-form select {
    font-size: 1rem;
    text-align: center;
    padding: 14px 0 14px 0;
    margin: 5px 0 20px 0;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    width: calc(100% - 10px);
    background-color: var(--GRAY-LIGHT-1);
}


.edit-profile-form input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    padding: 1.5rem 1.5rem 0 0;
    margin: 18px 0 33px 0;
    border: 2px solid var(--RED-LOGO);
    border-radius: 3px;
    outline: none;
    position: relative;
    cursor: pointer;
}
  
.edit-profile-form input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30%;
    height: 70%;
    border: solid var(--YELLOW-LOGO);
    border-width: 0 3px 3px 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.edit-profile-form input[type="checkbox"]:checked::before {
    opacity: 1;
}

.edit-profile-picture-form-wrapper {
    display: none;
}

.edit-profile-form-container div.edit-pp-container {
    padding: 50px 0 20px 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.edit-pp-input-container {
    width: 80%;
}

.upload-clear-container {
    width: 100%;
    justify-content: space-between;
}

#clearPP {
    margin: 5px 0 0 0;
}

.clear-pp-container {
    gap: 10px;
    width: fit-content;
}

.clear-pp-text {
    font-size: 2rem;
    color: var(--RED-LOGO);
}

.crop-pp-img-container {
    width: 600px;
    height: 600px;
}

.preview-pp-container {
    display: none;
    width: 100%;
    padding: 20px 0;
    gap: 30px;
}

.preview-pp-img-container {
    width: 80%;
    border-radius: 50%;
    border: 5px solid var(--GRAY-DARK-1);
    overflow: hidden;
}

.crop-image {
    display: block;
    max-width: 100%;
}

/* Learn Section */

.learn-welcome-section-container {
    justify-content: space-between;
    flex-direction: row;
}

.learning-hero-section .announcements-hero-container {
    height: 800px;
}

.learn-welcome-section-content-container {
    gap: 20px;
    width: 575px;
    height: 575px;
    padding: 20px;
}

.learn-section-img-container {
    width: 575px;
    height: 575px;
    border-radius: 15px;
    overflow: hidden;
}

.learn-hero-welcome-section-content-container {
    width: 1000px;
    gap: 30px;
}

.learn-reasons-section-container {
    flex-direction: row-reverse;
}

.learn-reasons-section {
    padding-bottom: 100px;
}

.circle-img-container {
    border-radius: 50%;
}

.bigHalfCircle-a {
    background-color: var(--GRAY-LIGHT-1);
    display: block;
    transform: rotate(180deg);
}

.bigHalfCircle-a path {
    fill: var(--GRAY-LIGHT-2);
    stroke: none;
}

.bigHalfCircle-b {
    background-color: var(--GRAY-LIGHT-2);
    display: block;
    transform: rotate(180deg);
}

.bigHalfCircle-b path {
    fill: var(--GRAY-LIGHT-1);
    stroke: none;
}

.bg-a {
    background-color: var(--GRAY-LIGHT-2);
}

/* Contact Form Section */

.contact-form-section {
    padding: 100px 0;
    background-color: var(--GRAY-LIGHT-2);
}

.contact-form-section .section-container {
    padding: 0;
    width: 1000px;
}

.contact-section-container {
    gap: 100px;
}

.contact-form-container {
    width: 650px;
    padding: 0px;
}

.contact-form {
    width: 100%;
}

.contact-form label {
    color: var(--GRAY-DARK-1);
    font-size: 1.5rem;
    margin: 0;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 5px 0 20px 0;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.contact-form input:focus, .contact-form textarea:focus {
    border: 3px solid var(--RED-LOGO);
    outline: none;
}

.contact-form button{
    width: 100%;
    border: none;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.contact-details-container {
    width: 250px;
    height: 100%;
    gap: 30px;
    align-items: flex-start;
}

.contact-details-item {
    gap: 20px;
}

.contact-details-icon-container {
    width: 50px;
    height: 50px;
    background-color: var(--RED-LOGO);
    border-radius: 50%;
}

.contact-details-icon-container i {
    color: var(--WHITE);
    font-size: 1.8rem;
}

/* Benefits Section */

.benefits-section-container {
    gap: 50px;
}

.benefits-col-container {
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.benefit-col {
    width: 450px;
    gap: 20px;
    padding: 40px;
    text-align: center;
}

.benefit-col .sub-heading {
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--RED-LOGO);
}

.benefit-col-img-container {
    width: 150px;
    height: 150px;
    background-color: var(--RED-LOGO);
    border-radius: 50%;
    border: 5px solid var(--GRAY-DARK-1);
}

.benefit-col-text-container .white-text {
    color: var(--GRAY-DARK-1);
}

.benefit-img {
    width: 70%;
}

.benefit-col-text-container {
    height: 400px;
    width: 300px;
    justify-content: space-between;
    text-align: left;
    align-self: flex-end;
    margin-right: 20px;
}

.choose-hero-container {
    height: 700px;
}

.choose-hero-heading-container {
    background-color: transparent;
}

.benefits-section {
    padding-bottom: 100px;
    background-color: var(--GRAY-LIGHT-3);
}

.mission-section .choose-hero-container {
    height: 1000px;
}

@media (max-width: 1250px) {
    .benefit-col {
        width: 290px;
        padding: 30px;
    }

    .sub-heading {
        font-size: 1.6rem;
    }

    .benefit-col .sub-heading {
        height: 50px;
    }

    .benefit-col-img-container {
        width: 140px;
        height: 140px;
    }

    .benefit-col-text-container {
        height: 370px;
    }

    .mission-section .choose-hero-container{
        height: 800px;
    }

    .mission-section .hero-text-container, .choose-section .hero-text-container {
        width: 800px;
    }

    .hero-heading {
        font-size: 1.6rem;
    }


}

@media (max-width: 1000px) {
    .benefit-col {
        width: 240px;
        padding: 15px;
    }

    .sub-heading {
        font-size: 1.4rem;
    }

    .benefit-col .sub-heading {
        height: 40px;
    }

    .benefit-col-img-container {
        width: 120px;
        height: 120px;
    }

    .benefit-col-text-container {
        height: 300px;
    }

    .hero-heading {
        font-size: 1.4rem;
    }

    .mission-section .choose-hero-container {
        height: 600px;
    }

    .mission-section .hero-text-container, .choose-section .hero-text-container {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .benefits-col-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    
    .benefit-col {
        width: 335px;
        padding: 30px;
    }

    .sub-heading {
        font-size: 1.3rem;
    }

    .benefit-col .sub-heading {
        height: 40px;
    }

    .benefit-col-img-container {
        width: 130px;
        height: 130px;
    }

    .benefit-col-text-container {
        height: 270px;
    }

    .hero-heading {
        font-size: 1.3rem;
    }

    .mission-section .choose-hero-container {
        height: 800px;
    }

    .mission-section .hero-text-container, .choose-section .hero-text-container {
        width: 335px;
        padding: 40px 20px;
    }
}

/* Profile Btns */

.account-profile-container {
    cursor: pointer;
    position: relative;
    background: rgb(245,245,245);
    background: linear-gradient(90deg, rgba(245,245,245,1) 20%, rgba(240,240,240,1) 50%, rgba(245,245,245,1) 80%);
}

.account-profile-img-container {
    overflow: hidden;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid var(--RED-LOGO);
}

.account-profile-img-container.not-logged-in {
    border: none;
}

.profile-btns-container {
    position: absolute;
    top: -13px;
    right: 100%;
    width: calc(1200px);
    height: 100px;
    background-color: var(--GRAY-LIGHT-1);
    z-index: 999;
    gap: 50px;
    flex-direction: row;
    display: none;
}

.account-profile-container.active .profile-btns-container {
    display: flex;
}

.profile-btn-link {
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
}

@media (max-width: 768px) {
    .profile-btns-container {
        position: fixed;
        left: -100%;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--RED-LOGO);
        width: 100vw;
        max-width: 100%;
        height: fit-content;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        padding: 50px 0;
        gap: 30px;
        border: none;
        border-radius: 0px;
        transform: translateX(0%);
    }

    .account-profile-container.active .profile-btns-container {
        left: 0;
    }

    .profile-btns-container .btn {
        background-color: var(--YELLOW-LOGO);
        color: var(--GRAY-DARK-1);
    }

    .profile-btns-container .dark-text {
        color: var(--WHITE);
    }
}

/* Add Resource */

.add-resource-form-section {
    min-height: calc(100vh - 200px);
}

.add-resource-form-section-container {
    padding: 50px;
    gap: 30px;
}

.add-resource-form-container {
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 27px -6px rgba(0,0,0,0.86);
}

.add-resource-form {
    width: 350px;
    gap: 20px;
}

.hidden-form-item {
    display: none;
}

.add-resource-form-item {
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.add-resource-form-item input, .add-resource-form-dropdown {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 5px 0 20px 0;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
}

.add-resource-form-dropdown {
    justify-content: space-between;
    cursor: pointer;
}

.add-resource-form-dropdown-options-container {
    width: 100%;
    font-size: 1.5rem;
    border: 3px solid var(--GRAY-DARK-1);
    border-radius: 15px;
    background-color: var(--GRAY-LIGHT-1);
    gap: 20px 0;
    padding: 20px;
    display: none;
}

.add-resource-form-dropdown-options-container.active {
    display: flex;
}

.link-types-icon, .category-icon {
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.add-resource-form-dropdown-item {
    padding: 10px 0;
    border-radius: 15px;
    width: 100%;
}

.add-resource-form-dropdown-item:hover {
    cursor: pointer;
    background-color: var(--GRAY-LIGHT-3);
}

.add-resource-form-btns {
    width: 100%;
    justify-content: space-between;
}

.add-resource-form-btns .btn {
    width: calc(50% - 30px);
    padding: 12px 8px;
    border: none;
}


