$white: #ffffff;
$gl-1: #f7f7f7;
$gl-2: #ececec;
$red-1: #c64f4a;
$yellow-1: #ffe457;
$gd-1: #242424;
$gd-2: #494949;
$dark-overlay: rgba(36, 36, 36, 0.7);
$success: #399c3e;
$error: #c53d52;
$warning: #ff3c00;
$info: #0026ff;

$font-size: 1.4rem;
$small-font-size: 1.1rem;
$heading-size: 2.5rem;
$subheading-size: 1.8rem;
$round-corner-1: 5px;
$round-corner-2: 10px;
$round-corner-3: 15px;
$round-corner-4: 20px;
$round-corner-5: 25px;