{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block content %}

<section class="admin-section section justify-start">
    <div class="section-container container-col align-start">
        <div class="admin-container container-col align-start">
            <h2 class="subheading dark-text">User Management</h2>
            <div class="admin-items-container container-col align-start">
                <a href="{% url 'user_admin' %}" class="admin-item dark-text small-text"><span class="fa-icon-left"><i class="fa-solid fa-chevron-right"></i></span>Visit User Admin Page</a>
            </div>
        </div>

        <div class="admin-container container-col align-start">
            <h2 class="subheading dark-text">Home Page Management</h2>
            <div class="admin-items-container container-col align-start">
                <a href="{% url 'home' %}" class="admin-item dark-text small-text"><span class="fa-icon-left"><i class="fa-solid fa-chevron-right"></i></span>Visit Home Page</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}