{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cta-section.css' %}">
{% endblock %}

{% block content %}


<section class="blog-section section">
    <div class="section-container container-col">
        <h2 class="dark-text-2">Blog Posts</h2>

        
        <p class="dark-text">Coming Soon...</p>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


{% endblock %}