{% extends "base.html" %}

{% load static %}

{% block extra_title %}- New Blog Post{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_form.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'ckeditor5/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}


<section class="blog-section section">
    <form method="POST" class="section-container container-col" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="hidden-input-container sr-only">
            {{ form.title }}
            <label for="id_title" class="sr-only">Title</label>
        </div>

        <div class="content-container container-col">
            {{ form.content }}
        </div>

        <button type="submit" class="btn">Save</button>
    </form>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


{% endblock %}