@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.account-section {
    background-color: $gl-1;
    position: relative;
    overflow: hidden;
    padding: 40px 0;

    .section-container {
        gap: 16px;
    }

    .account-container {
        width: 600px;
        padding: 40px;
        gap: 32px;
        background-color: $gl-1;
        border-radius: $round-corner-3;
        border-top: 2px solid $red-1;

        &.small-container {
            width: 480px;
            padding: 24px;
            gap: 20px;
        }
    }

    .info-container {
        gap: 12px;
    }

    .form-container {
        width: 100%;
    }

    

    /* Small devices (larger phones, 576px to 767px) */
    @media (max-width: 767px) {
        .account-container {
            width: 496px;
        }
    }

    /* Extra small devices (phones, 380px to 575px) */
    @media (max-width: 575px) {
        .account-container {
            width: 320px;

            .input-group-container {
                flex-direction: column;
                width: 100%;
                gap: 15px;
        
                .input-container {
                    width: 100%;
                }
            }
        }
    }
}