@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.account-section {
    background-color: $gl-2;

    .account-container {
        width: 640px;
        padding: 20px;
        gap: 12px;
        background-color: $gl-1;
        border-radius: $round-corner-3;
    }

    .info-container {
        gap: 4px;
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}