@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.account-section {
    background-color: $gl-1;
    position: relative;
    overflow: hidden;

    .section-container {
        gap: 16px;
    }

    .account-container {
        width: 600px;
        padding: 32px;
        gap: 24px;
        background-color: $gl-1;
        border-radius: $round-corner-3;
    }

    .form-container {
        width: 100%;
    }
}