@import '../../../static/css/variables';
@import '../../../static/css/mixins';
@import '../../../static/account/css/account';

.package-info-container {
    width: 350px;
    gap: 20px;

    .info-group {
        width: 100%;
    }

    .package-description-text {
        text-align: center;
    }
}