@import '../../../static/css/variables';
@import '../../../static/css/mixins';
@import '../../../static/account/css/account';

.membership-status-section {
    padding: 40px 0;

    .form {
        gap: 12px;
    }
    
    .info-group {
        width: 100%;
    }

    .info-left {
        font-weight: 600;
    }

    /* Extra small devices (phones, 380px to 575px) */
    @media (max-width: 575px) {
        .info-group {
            flex-direction: column;
            gap: 8px;
        }
    }
}