{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/members.css' %}">
{% endblock %}

{% block content %}

<section class="member-search-section section">
    <div class="section-container container-col img-container">
        <img src="{{ MEDIA_URL }}members-search-img.png" alt="Members shaking hands" class="img-100a">

        <div class="text-container container-col">
            <h2 class="subheading white-text">Find a MREEA Member</h2>
            <div class="form-container">
                <form action="{% url 'members' %}" method="POST" class="form container-row">
                    {% csrf_token %}
                    <div class="input-group">
                        <label for="id_first_name" class="dark-text">First Name</label>
                        <input type="text" name="id_first_name" id="id_first_name">
                    </div>
                    <div class="input-group">
                        <label for="id_last_name" class="dark-text">Last Name</label>
                        <input type="text" name="id_last_name" id="id_last_name">
                    </div>
                    <div class="custom-select-input-group container-col align-start">
                        <div class="hidden-input-container">
                            <div class="input-group">
                                <label for="id_classes" class="dark-text">Classes</label>
                                <input type="text" name="id_classes" id="id_classes">
                            </div>
                        </div>
                        <div class="dark-text">Class Select</div>
                        <div class="custom-select-container container-row space-between">
                            <p class="default-text dark-text">(<span class="number-selected">0</span>) Selected</p>
                            <p class="dark-text"><span class="sr-only">select icon</span><i class="fa-solid fa-expand"></i></p>
                        </div>
                        <div class="custom-select-options-container container-col align-start box-shadow space-between">
                            <div class="options-container container-col align-start justify-start">
                                <div class="input-group row">
                                    <input type="checkbox" name="id_all_categories" id="id_all_categories" data-category-name="all_categories" class="checkbox-input select-all-checkbox select-all-checkbox-mega">
                                    <label for="id_all_categories" class="dark-text small-text checkbox-label">All Classes</label>
                                </div>
                                {% for category in category_and_classes %}
                                <div class="category-options-container container-col align-start">
                                    <p class="category-heading dark-text small-text">{{ category.category.friendly_name }}</p>
                                    <div class="input-group row">
                                        <input type="checkbox" name="id_all_{{ category.category.name }}" id="id_all_{{ category.category.name }}" data-category-name="{{ category.category.name }}" class="checkbox-input select-all-checkbox">
                                        <label for="id_all_{{ category.category.name }}" class="dark-text small-text checkbox-label">All {{ category.category.friendly_name }}</label>
                                    </div>
                                    {% for item in category.classes %}
                                    <div class="input-group row">
                                        <input type="checkbox" name="id_class_{{ item.name }}" id="id_class_{{ item.name }}" data-class-name="{{ item.name }}" class="checkbox-input {{ category.category.name }}-class class-checkbox-input">
                                        <label for="id_class_{{ item.name }}" class="dark-text small-text checkbox-label">{{ item.friendly_name }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="close-select-btn btn">
                                <span class="fa-icon-left"><i class="fa-solid fa-xmark"></i></span>Close
                            </div>
                        </div>
                    </div>
                    <button class="search-btn btn" type="submit">
                        <span class="fa-icon-left"><i class="fa-solid fa-magnifying-glass"></i></span>Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% if search_query %}

<section class="search-results-section section">
    <div class="section-container container-col">
        {% for p in query_profiles %}
        <a href="{% url 'profile' p.user.username %}" class="overview-container container-row space-between">
            <div class="profile-container container-row justify-start">
                <div class="img-container">
                    {% if p.image %}
                    <img src="{{ p.image.url }}" alt="{{ p.first_name }}'s Profile Image" class="img-100a">
                    {% else %}
                    <img src="{{ MEDIA_URL }}default-profile-picture.webp" alt="Default Profile Image" class="img-100a">
                    {% endif %}
                </div>
                <div class="text-container container-col align-start">
                    <p class="name-text dark-text">{{ p.first_name }} {{ p.last_name }}</p>
                    <p class="title-text dark-text">
                        {% if p.title %}{{ p.title }}{% else %}No Title{% endif %} <i class="fa-solid fa-circle"></i> {% if p.category_field %}{{ p.category_field.friendly_name }}{% else %}None{% endif %} <i class="fa-solid fa-circle"></i> {% if p.class_field %}{{ p.class_field.friendly_name }}{% else %}None{% endif %}
                    </p>
                </div>
            </div>
            <div class="btn btn-2 small-btn"><span class="fa-icon-left"><i class="fa-regular fa-eye"></i></span>View Profile</div>
        </a>
        {% endfor %}
    </div>   
</section>

{% endif %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/members.js' %}"></script>

{% endblock %}