{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Resources{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resources.css' %}">
{% endblock %}

{% block content %}

<section class="resources-section section">
    <div class="section-container container-col align-start">
        <div class="folder-container container-row justify-start">
            {% if folder.parent_folder %}
            <a href="{% url 'folder' folder.parent_folder.name %}" class="folder-name-text dark-text">{{ folder.parent_folder.friendly_name }}</a>
            <p class="folder-name-text red-text"><span class="sr-only">Arrow Icon</span><i class="fa-solid fa-chevron-right"></i></p>
            {% endif %}
            <p class="folder-name-text dark-text">{{ folder.friendly_name }}</p>
        </div>

        <div class="search-container container-row">
            <a href="{{ return_url }}" class="return-btn dark-text container-row">
                <span class="red-text"><i class="fa-solid fa-chevron-left"></i></span>Back
            </a>
            <div class="search-input-group container-row">
                <p class="dark-text red-text search-icon"><span class="sr-only">Search Icon</span><i class="fa-solid fa-magnifying-glass"></i></p>
                <input type="text" placeholder="Search in {{ folder.friendly_name }}" class="search-input">
            </div>
        </div>

        <div class="sort-container container-row">
            <div class="sort-btn w-50 container-row justify-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}sort-icon.png" alt="Sort Icon" class="img-100a">
                </div>
                <p class="dark-text">Name</p>
            </div>
            <div class="sort-btn w-25 container-row justify-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}sort-icon.png" alt="Sort Icon" class="img-100a">
                </div>
                <p class="dark-text">Type</p>
            </div>
            <div class="sort-btn w-25 container-row justify-start">
                <div class="icon-container">
                    <img src="{{ MEDIA_URL }}sort-icon.png" alt="Sort Icon" class="img-100a">
                </div>
                <p class="dark-text">Date</p>
            </div>
        </div>

        <div class="items-container container-col">

            {% for f in sub_folders %}

            <div class="item-container container-row" data-url="{% url 'folder' f.name %}">
                <div class="info-container w-50 container-row justify-start">
                    <div class="icon-container circle">
                        <img src="{{ MEDIA_URL }}default-folder-icon.png" alt="Folder Icon" class="img-100a">
                    </div>
                    <p class="dark-text">{{ f.friendly_name }}</p>
                </div>
                <div class="info-container w-25 container-row justify-start">
                    <p class="dark-text">Folder</p>
                </div>
                <div class="info-container w-25 container-row space-between">
                    <p class="dark-text">{{ f.date | date:"m/d/Y" }}</p>
                    <div class="icon-container open-menu-btn">
                        <img src="{{ MEDIA_URL }}internal-open-icon.png" alt="Internal Open Icon" class="img-100a">
                    </div>
                </div>
            </div>

            {% endfor %}

            {% for r in resources %}

            <div class="item-container container-row" data-url="{{ r.link }}" data-new-tab="true">
                <div class="info-container w-50 container-row justify-start">
                    <div class="icon-container">
                        <img src="{{ r.resource_type.icon.url }}" alt="Folder Icon" class="img-100a">
                    </div>
                    <p class="dark-text">{{ r.friendly_name }}</p>
                </div>
                <div class="info-container w-25 container-row justify-start">
                    <p class="dark-text">{{ r.resource_type.friendly_name }}</p>
                </div>
                <div class="info-container w-25 container-row space-between">
                    <p class="dark-text">{{ r.date | date:"m/d/Y" }}</p>
                    <div class="icon-container open-menu-btn">
                        <img src="{{ MEDIA_URL }}external-open-icon.png" alt="External Open Icon" class="img-100a">
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/resources.js' %}"></script>

{% endblock %}