<section class="section mission-section">
    <div class="container-row announcements-hero-container choose-hero-container">
        <div class="announcements-hero-img-container img-container container-col">
            <div class="hero-overlay"></div>
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718591/mission_bggya3.png" alt="MREEA Meeting" class="hero-image">
        </div>
        <div class="announcements-hero-heading-container container-col choose-hero-heading-container">
            <div class="hero-text-container">
                <div class="hero-heading">MISSION</div>
                <div class="white-text">
                    At MREEA, our mission is to empower and elevate the real estate education community in Maryland through a steadfast commitment to networking, professional development, and advocacy. We strive to cultivate a dynamic platform that connects real estate educators, professionals, and industry leaders, fostering collaboration, innovation, and mutual growth. Our association is dedicated to providing exceptional learning resources and specialized training, equipping educators with the knowledge and skills needed to deliver high-quality instruction and stay ahead of industry trends. As advocates, we actively engage with policymakers and stakeholders to shape progressive policies that support the advancement of real estate education and strengthen the integrity of our profession. Together, we aim to create a positive impact, nurturing a thriving, knowledgeable, and forward-looking real estate education landscape in Maryland.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="history-section">
    <div class="c-heroImageGrid">
        <div class="container">
            <div class="column"></div>
            <div class="column">
                <div class="row"></div>
                <div class="row">
                    <div>
                        
                    </div>
                    <div></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
    <div class="hero-overlay"></div>
    <div class="heroImageGrid-text-content-container container-col">
        <div class="hero-text-container container-col heroImageGridTextContainer">
            <div class="hero-heading">
                Our Story - Our History
            </div>
            <div class="white-text">
                The Maryland Real Estate Educators Association (MREEA) was established in 1978 with the mission of promoting excellence and professionalism in real estate education. 
            </div>
            <div class="white-text">
                Since its inception, MREEA has played a crucial role in shaping Maryland's real estate education landscape, advocating for legislative changes, and providing comprehensive professional development opportunities for educators. 
            </div>
            <div class="white-text">
                Through community outreach programs and technological advancements, MREEA continues to empower both educators and the public, ensuring a well-informed and capable real estate workforce in the state.
            </div>
        </div>
    </div>
</section>