{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section add-resource-form-section">
    <div class="container-col add-resource-form-section-container">
        {% if resource %}
        <div class="heading dark-text">Edit Resource</div>
        {% else %}
        <div class="heading dark-text">Add Resource</div>
        {% endif %}
        <div class="container-col add-resource-form-container">
            <form method="post" class="add-resource-form container-col">
                {% csrf_token %}
                <div class="add-resource-form-item container-col">
                    <div class="dark-text">{{ add_resource_form.link.label_tag }}</div>
                    {{ add_resource_form.link }}
                </div>
                <div class="add-resource-form-item container-col">
                    <div class="dark-text">Link Type</div>
                    <input type="hidden" class="hidden-form-item" name="id_link_type_input" id="id_link_type_input">
                    <div class="add-resource-form-dropdown container-row link-type-dropdown">
                        <div class="add-resource-form-dropdown-selected-text link-type-dropdown-selected-text">Select</div>
                        <div class="add-resource-form-dropdown-icon-container container-col ">
                            <i class="fa-solid fa-caret-down link-type-icon"></i>
                        </div>
                    </div>
                    <div class="add-resource-form-dropdown-options-container container-col link-type-dropdown-container">
                        {% for option in link_types %}
                        <div class="add-resource-form-dropdown-item container-col link-type-dropdown-item">{{ option.link_type }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="add-resource-form-item">
                    <div class="dark-text">Category</div>
                    <input type="hidden" class="hidden-form-item" name="id_category_input" id="id_category_input">
                    <div class="add-resource-form-dropdown container-row category-dropdown category-dropdown">
                        <div class="add-resource-form-dropdown-selected-text category-dropdown-selected-text">Select</div>
                        <div class="add-resource-form-dropdown-icon-container container-col">
                            <i class="fa-solid fa-caret-down category-icon"></i>
                        </div>
                    </div>
                    <div class="add-resource-form-dropdown-options-container container-col category-dropdown-container">
                        {% for option in categories %}
                        <div class="add-resource-form-dropdown-item category-dropdown-item">{{ option.category }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="add-resource-form-btns container-row">
                    {% if resource %}
                    <input type="submit" name="delete" value="Delete" class="btn">
                    {% else %}
                    <a class="btn cancel-add-resource-btn" href="{% url 'resources' %}">Cancel</a>
                    {% endif %}
                    
                    <input type="submit" value="Save" class="btn create-event-submit-btn yellow-btn">
                  </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/add-resource.js' %}"></script>

{% endblock %}