{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section announcements-hero-section">
    <div class="container-row announcements-hero-container">
        <div class="announcements-hero-img-container img-container container-col">
            <div class="hero-overlay"></div>
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718573/announcements_l9qmfa.png" alt="MREEA Meeting" class="hero-image">
        </div>
        <div class="announcements-hero-heading-container container-col choose-hero-heading-container">
            <div class="hero-text-container">
                <div class="hero-heading">Events &amp; Calendar</div>
                <div class="white-text">
                    Explore our Upcoming and Past Events, Browse Our Calendar and click on the events to find out more.
                    MREEA hosts a number of events throughout the year allowing you to connect to other members and increase your growth here.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section upcoming-events-section container-col">
    <div class="section-container container-col upcoming-events-section-container">
        <div class="heading dark-text section-heading">Upcoming Events</div>
        {% if upcoming_events %}
        <div class="container-row upcoming-events-carousel-container events-carousel-container">
        {% else %}
        <div class="container-row no-events-carousel-container events-carousel-container">
        {% endif %}
            <div class="upcoming-loading-icon-overlay loading-icon-overlay">
                <div class="loading-icon-container">
                    <div class="loading-icon"></div>
                </div>
            </div>
            {% if upcoming_events %}
            {% for event in upcoming_events %}
            <div class="upcoming-events-carousel-item container-col events-carousel-item ">
                <div class="event-card container-col">
                    <div class="event-card-img-container container-col">
                        <div class="dark-overlay"></div>
                        <img src="{{ event.event_image }}" alt="Event image" class="img-100a event-card-img">
                        <div class="container-row event-card-date">
                            <div class="white-text">{{ event.start_date|date:"d" }}</div>
                            <div class="white-text">{{ event.start_date|date:"M" }}</div>
                            <div class="white-text">{{ event.start_date|time:"H:i" }}</div>
                        </div>
                        <div class="event-card-title white-text">{{ event.title }}</div>
                    </div>
                    <div class="event-card-content-container container-col">
                        <div class="dark-text event-card-description">{{ event.description }}</div>
                        <div class="container-row event-card-btns-container">
                            {% if user.is_superuser %}
                            <a href="{% url 'edit_event' event.event_short_uuid %}" class="btn event-learn-more-btn">Edit Event</a>
                            {% endif %}
                            <a href="{% url 'event_detail' event.event_short_uuid %}" class="event-learn-more-btn btn yellow-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container-col no-events-message">
                <div class="dark-text">No Upcoming Events!</div>
            </div>
            {% endif %}
        </div>
        <div class="upcoming-swipe-left carousel-swipe container-col swipe-left">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="upcoming-swipe-right carousel-swipe container-col swipe-right">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% if user.is_superuser %}
    <a href="{% url 'create_event' %}" class="btn create-event-btn">Create Event</a>
    {% endif %}
</section>

<section class="section upcoming-events-section container-col past-events-section">
    <div class="section-container container-col upcoming-events-section-container">
        <div class="heading dark-text section-heading">Past Events</div>
        {% if past_events %}
        <div class="container-row events-carousel-container past-events-carousel-container">
        {% else %}
        <div class="container-row no-events-carousel-container events-carousel-container">
        {% endif %}
            <div class="loading-icon-overlay past-loading-icon-overlay">
                <div class="loading-icon-container">
                    <div class="loading-icon"></div>
                </div>
            </div>
            {% if past_events %}
            {% for event in past_events %}
            <div class="events-carousel-item container-col past-events-carousel-item">
                <div class="event-card container-col">
                    <div class="event-card-img-container container-col">
                        <div class="dark-overlay"></div>
                        <img src="{{ event.event_image }}" alt="Event image" class="img-100a event-card-img">
                        <div class="container-row event-card-date">
                            <div class="white-text">{{ event.start_date|date:"d" }}</div>
                            <div class="white-text">{{ event.start_date|date:"M" }}</div>
                            <div class="white-text">{{ event.start_date|time:"H:i" }}</div>
                        </div>
                        <div class="event-card-title white-text">{{ event.title }}</div>
                    </div>
                    <div class="event-card-content-container container-col">
                        <div class="dark-text event-card-description">{{ event.description }}</div>
                        <div class="container-row event-card-btns-container">
                            {% if user.is_superuser %}
                            <a href="{% url 'edit_event' event.event_short_uuid %}" class="btn event-learn-more-btn">Edit Event</a>
                            {% endif %}
                            <a href="{% url 'event_detail' event.event_short_uuid %}" class="event-learn-more-btn btn yellow-btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="container-col no-events-message">
                <div class="dark-text">No Past Events!</div>
            </div>
            {% endif %}
        </div>
        <div class="swipe-left carousel-swipe container-col past-swipe-left">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="swipe-right carousel-swipe container-col past-swipe-right">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% if user.is_superuser %}
    <a href="{% url 'create_event' %}" class="btn create-event-btn">Create Event</a>
    {% endif %}
</section>

<section class="section account-member-section">
    <div class="section-container container-col account-member-section-container">
        {% if user.is_authenticated %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Join our wonderful community, where you have endless opportunities to learn and grow. Already a previous member? You can easily renew your membership.</div>
                <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank"  class="btn">Join / Renew</a>
            </div>
        </div>
        {% else %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Sign up and become a member to join an amazing community where you can learn and grow. Already a member or have an account? Then sign in to join or renew your membership.</div>
                <div class="btns-container container-row">
                    <a href="{% url 'account_login' %}" class="btn">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn">Register</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/announcements.js' %}"></script>

{% endblock %}