{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section announcements-hero-section">
    <div class="container-row announcements-hero-container">
        <div class="announcements-hero-img-container img-container container-col">
            <div class="hero-overlay"></div>
            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690195123/MREEA/announcements_dahj3g.png" alt="MREEA Meeting" class="hero-image">
        </div>
        <div class="announcements-hero-heading-container container-col choose-hero-heading-container">
            <div class="hero-text-container">
                <div class="hero-heading">Events & Calendar</div>
                <div class="white-text">
                    Explore our Upcoming and Past Events, Browse Our Calendar and click on the events to find out more.
                    MREEA hosts a number of events throughout the year allowing you to connect to other members and increase your growth here.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section upcoming-events-section container-col">
    <div class="section-container container-col upcoming-events-section-container">
        <div class="heading dark-text section-heading">Upcoming Events</div>
        {% if upcoming_events %}
        <div class="container-row events-carousel-container">
            <div class="events-carousel-item container-col">
                
            </div>
        </div>
        {% else %}
        <div class="container-col no-events-message">
            <div class="dark-text">No Upcoming Events!</div>
        </div>
</section>

<section class="section upcoming-events-section container-col">
    <div class="section-container container-col upcoming-events-section-container">
        <div class="heading dark-text section-heading">Upcoming Events</div>
        {% if upcoming_events %}
        {% for event in upcoming_events %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="container-col upcoming-events-content-container yellow-container">
        {% else %}
        <div class="container-col upcoming-events-content-container red-container">
        {% endif %}
            <div class="container-row upcoming-event-container">
                <div class="container-row event-date-container">
                    <div class="container-col event-start-end-date-container">
                        <div class="reg-text event-date-text">{{ event.start_date|date:"d" }}</div>
                        <div class="reg-text event-date-text">{{ event.start_date|date:"M" }}</div>
                        <div class="reg-text event-date-text">{{ event.start_date|time:"H:i" }}</div>
                    </div>
                </div>
                <div class="container-col event-details-container">
                    <div class="dark-text event-details">{{ event.title }}</div>
                    <div class="dark-text event-details">{{ event.description }}</div>
                    <div class="dark-text event-details">Start Date: {{ event.start_date|date:"m" }}/{{ event.start_date|date:"d" }}/{{ event.start_date|date:"Y" }} at {{ event.start_date|time:"H:i" }}</div>
                    <div class="dark-text event-details">End Date: {{ event.end_date|date:"m" }}/{{ event.end_date|date:"d" }}/{{ event.end_date|date:"Y" }} at {{ event.end_date|time:"H:i" }}</div>
                </div>
                <div class="container-col event-learn-more-btn-container">
                    {% if user.is_superuser %}
                    <a href="{% url 'edit_event' event.event_short_uuid %}" class="btn event-learn-more-btn">Edit Event</a>
                    {% endif %}
                    <a href="{% url 'event_detail' event.event_short_uuid %}" class="event-learn-more-btn btn yellow-btn">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container-col no-events-message">
            <div class="dark-text">No Upcoming Events!</div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="add-event-btn-container container-col">
            <a href="{% url 'create_event' %}" class="btn">Add Event</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="section upcoming-events-section container-col">
    <div class="section-container container-col upcoming-events-section-container">
        <div class="heading dark-text section-heading">Past Events</div>
        {% if past_events %}
        {% for event in past_events %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="container-col upcoming-events-content-container yellow-container">
        {% else %}
        <div class="container-col upcoming-events-content-container red-container">
        {% endif %}
            <div class="container-row upcoming-event-container">
                <div class="container-row event-date-container">
                    <div class="container-col event-start-end-date-container">
                        <div class="reg-text event-date-text">{{ event.start_date|date:"d" }}</div>
                        <div class="reg-text event-date-text">{{ event.start_date|date:"M" }}</div>
                        <div class="reg-text event-date-text">{{ event.start_date|time:"H:i" }}</div>
                    </div>
                </div>
                <div class="container-col event-details-container">
                    <div class="dark-text event-details">{{ event.title }}</div>
                    <div class="dark-text event-details">{{ event.description }}</div>
                    <div class="dark-text event-details">Start Date: {{ event.start_date|date:"m" }}/{{ event.start_date|date:"d" }}/{{ event.start_date|date:"Y" }} at {{ event.start_date|time:"H:i" }}</div>
                    <div class="dark-text event-details">End Date: {{ event.end_date|date:"m" }}/{{ event.end_date|date:"d" }}/{{ event.end_date|date:"Y" }} at {{ event.end_date|time:"H:i" }}</div>
                </div>
                <div class="container-col event-learn-more-btn-container">
                    {% if user.is_superuser %}
                    <a href="{% url 'edit_event' event.event_short_uuid %}" class="btn event-learn-more-btn">Edit Event</a>
                    {% endif %}
                    {% if user.is_member %}
                    <a href="{% url 'event_detail' event.event_short_uuid %}" class="event-learn-more-btn btn yellow-btn">Learn More</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="container-col no-events-message">
            <div class="dark-text">No Past Events!</div>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <div class="add-event-btn-container container-col">
            <a href="{% url 'create_event' %}" class="btn">Add Event</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="section account-member-section">
    <div class="section-container container-col account-member-section-container">
        {% if user.is_authenticated %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Join our wonderful community, where you have endless opportunities to learn and grow. Already a previous member? You can easily renew your membership.</div>
                <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank"  class="btn">Join / Renew</a>
            </div>
        </div>
        {% else %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Sign up and become a member to join an amazing community where you can learn and grow. Already a member or have an account? Then sign in to join or renew your membership.</div>
                <div class="btns-container container-row">
                    <a href="{% url 'account_login' %}" class="btn">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn">Register</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}