{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" 
            content="">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

        <title>MREEA {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Header Logo, Nav Bar and Social Links -->
        <header class="container-col">
            <div class="header-container container-row space-between">
                <!-- Logo -->
                <div class="logo-container container-row">
                    <a href="{% url 'home' %}" class="logo-img-container img-container">
                        <img src="{{ MEDIA_URL }}mreea-logo.png" alt="MREEA Logo" class="img-100a">
                    </a>

                    <h1 class="logo-text dark-text sr-only">MREEA (Maryland Real Estate Educators Association)</h1>
                </div>

                <!-- Nav Btn -->
                <div class="nav-btn container-col">
                    <div class="nav-btn-bar b1"></div>
                    <div class="nav-btn-bar b2"></div>
                    <div class="nav-btn-bar b3"></div>
                </div>

                <!-- Nav Menu -->
                <nav class="nav-menu container-row">
                    <a href="{% url 'members' %}" class="nav-link">Members</a>
                    {% if is_membership_valid %}
                    <a href="{% url 'announcements' %}" class="nav-link">Announcements</a>
                    {% endif %}
                    <a href="{% url 'events' %}" class="nav-link">Events</a>
                    {% if is_membership_valid %}
                    <a href="{% url 'resources' %}" class="nav-link">Resources</a>
                    {% endif %}
                    <a href="{% url 'blog_list' %}" class="nav-link">Blog</a>
                    {% if user.is_superuser %}
                    <a href="{% url 'testimonials' %}" class="nav-link">Testimonials</a>
                    {% else %}
                    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    {% endif %}
                </nav>

                <!-- Notifications and Profile -->
                {% if user.is_authenticated %}
                <div class="profile-container container-row justify-end">
                    <div class="notification-wrapper wrapper-menu show-new">
                        <div class="notification-btn-container wrapper-btn container-col">
                            <div class="notification-icon-container icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                    <path d="M168 224a8 8 0 0 1-8 8H96a8 8 0 1 1 0-16h64a8 8 0 0 1 8 8m53.85-32a15.8 15.8 0 0 1-13.85 8H48a16 16 0 0 1-13.8-24.06C39.75 166.38 48 139.34 48 104a80 80 0 1 1 160 0c0 35.33 8.26 62.38 13.81 71.94a15.89 15.89 0 0 1 .03 16.06ZM208 184c-7.73-13.27-16-43.95-16-80a64 64 0 1 0-128 0c0 36.06-8.28 66.74-16 80Z" />
                                </svg>
                                <span class="sr-only">Notification Icon</span>
                            </div>
                            <div class="notification-btn-icon profile-btn-icon container-col {% if num_of_new_notifications == 0 %}hide{% endif %}">
                                <p class="notification-number white-text">{{ num_of_new_notifications }}</p>
                            </div>
                        </div>
                        <div class="notification-menu-container container-col align-start box-shadow">
                            <div class="heading-container container-row space-between">
                                <h3 class="dark-text-2 subheading">Notifications</h3>
                                <div class="notification-action-menu-btn action-menu-btn wrapper-menu">
                                    <div class="btn-wrapper relative-pos">
                                        <p class="icon-container dark-text-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                                <path fill="black" d="M7 12a2 2 0 1 1-4.001-.001A2 2 0 0 1 7 12m12-2a2 2 0 1 0 .001 4.001A2 2 0 0 0 19 10m-7 0a2 2 0 1 0 .001 4.001A2 2 0 0 0 12 10" />
                                            </svg>
                                            <span class="sr-only">Ellipisis Icon</span>
                                        </p>
                                        <div class="notification-heading-action-menu action-menu-container absolute-pos wrapper-menu">
                                            <div class="new-notifications-heading-action-container action-item-container">
                                                <a href="{% url 'clear_all_notifications' user.username %}" class="clear-all-notification-btn action-item" data-username="{{ user.username }}">
                                                    <p class="icon-container dark-text-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                                            <path d="M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924t-1.925-2.856T3 12.003t.709-3.51Q4.417 6.85 5.63 5.634t2.857-1.925T11.997 3t3.51.709q1.643.708 2.859 1.922t1.925 2.857t.709 3.509t-.708 3.51t-1.924 2.859t-2.856 1.925t-3.509.709M12 20q1.465 0 2.82-.514q1.357-.515 2.465-1.494L6.008 6.716q-.96 1.107-1.484 2.463T4 12q0 3.35 2.325 5.675T12 20m5.992-2.716q.98-1.107 1.493-2.463Q20 13.465 20 12q0-3.35-2.325-5.675T12 4q-1.471 0-2.834.505q-1.362.504-2.45 1.503z" />
                                                        </svg>
                                                        <span class="sr-only">Clear Notification Icon</span>
                                                    </p>
                                                    <p class="item-text dark-text-2 small-text">Clear All Notifications</p>
                                                </a>
                                            </div>
                                            <div class="cleared-notifications-heading-action-container action-item-container">
                                                <a href="{% url 'delete_all_notifications' user.username %}" class="delete-all-notification-btn action-item" data-username="{{ user.username }}">
                                                    <p class="icon-container dark-text-2">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                                            <path d="M12 2.75a2.25 2.25 0 0 0-2.122 1.5a.75.75 0 0 1-1.414-.5a3.751 3.751 0 0 1 7.073 0a.75.75 0 0 1-1.415.5A2.251 2.251 0 0 0 12 2.75M2.75 6a.75.75 0 0 1 .75-.75h17a.75.75 0 0 1 0 1.5h-17A.75.75 0 0 1 2.75 6m3.165 2.45a.75.75 0 1 0-1.497.1l.464 6.952c.085 1.282.154 2.318.316 3.132c.169.845.455 1.551 1.047 2.104c.591.554 1.315.793 2.17.904c.822.108 1.86.108 3.146.108h.879c1.285 0 2.324 0 3.146-.108c.854-.111 1.578-.35 2.17-.904c.591-.553.877-1.26 1.046-2.104c.162-.814.23-1.85.316-3.132l.464-6.952a.75.75 0 0 0-1.497-.1l-.46 6.9c-.09 1.347-.154 2.285-.294 2.99c-.137.685-.327 1.047-.6 1.303c-.274.256-.648.422-1.34.512c-.713.093-1.653.095-3.004.095h-.774c-1.35 0-2.29-.002-3.004-.095c-.692-.09-1.066-.256-1.34-.512c-.273-.256-.463-.618-.6-1.303c-.14-.705-.204-1.643-.294-2.99z" />
                                                            <path d="M9.425 10.254a.75.75 0 0 1 .821.671l.5 5a.75.75 0 0 1-1.492.15l-.5-5a.75.75 0 0 1 .671-.821m5.821.821a.75.75 0 0 0-1.492-.15l-.5 5a.75.75 0 0 0 1.492.15z" />
                                                        </svg>
                                                        <span class="sr-only">Delete Notification Icon</span>
                                                    </p>
                                                    <p class="item-text dark-text-2 small-text">Delete All Notifications</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="notification-display-container container-col align-start">
                                <div class="type-headings-container container-row space-between">
                                    <div class="new-type-heading-container type-heading-container label-container container-col" data-class="new">
                                        <div class="icon-container">
                                            <span class="sr-only">New Notification Icon</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                                <path d="M168 224a8 8 0 0 1-8 8H96a8 8 0 0 1 0-16h64a8 8 0 0 1 8 8m59.39-163.68a111.36 111.36 0 0 0-39.12-43.08a8 8 0 1 0-8.54 13.53a94.13 94.13 0 0 1 33.46 36.91a8 8 0 0 0 14.2-7.36M35.71 72a8 8 0 0 0 7.1-4.32a94.13 94.13 0 0 1 33.46-36.91a8 8 0 1 0-8.54-13.53a111.36 111.36 0 0 0-39.12 43.08A8 8 0 0 0 35.71 72m186.1 103.94A16 16 0 0 1 208 200H48a16 16 0 0 1-13.79-24.06C43.22 160.39 48 138.28 48 112a80 80 0 0 1 160 0c0 26.27 4.78 48.38 13.81 63.94M208 184c-10.64-18.27-16-42.49-16-72a64 64 0 0 0-128 0c0 29.52-5.38 53.74-16 72Z" />
                                            </svg>
                                        </div>
                                        <p class="dark-text-2 small-text label">New Notifications</p>
                                    </div>
                                    <div class="cleared-type-heading-container type-heading-container label-container container-col" data-class="cleared">
                                        <div class="icon-container">
                                            <span class="sr-only">Cleared Notification Icon</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                                <path d="M53.92 34.62a8 8 0 1 0-11.84 10.76L58.82 63.8A79.6 79.6 0 0 0 48 104c0 35.34-8.26 62.38-13.81 71.94A16 16 0 0 0 48 200h134.64l19.44 21.38a8 8 0 1 0 11.84-10.76ZM48 184c7.7-13.24 16-43.92 16-80a63.65 63.65 0 0 1 6.26-27.62L168.09 184Zm120 40a8 8 0 0 1-8 8H96a8 8 0 0 1 0-16h64a8 8 0 0 1 8 8m46-44.75a8.1 8.1 0 0 1-2.93.55a8 8 0 0 1-7.44-5.08C196.35 156.19 192 129.75 192 104a64 64 0 0 0-95.57-55.69a8 8 0 0 1-7.9-13.91A80 80 0 0 1 208 104c0 35.35 8.05 58.59 10.52 64.88a8 8 0 0 1-4.52 10.37" />
                                            </svg>
                                        </div>
                                        <p class="dark-text-2 small-text label">Cleared Notifications</p>
                                    </div>
                                </div>
                                <div class="notification-items-container container-col">
                                    <div class="new-notifications-container items-display-container container-col">
                                        {% if num_of_new_notifications == 0 %}
                                        <div class="no-item-wrapper item-wrapper container-row space-between">
                                            <div class="item-container container-row space-between">
                                                <p class="item-icon dark-text-2 container-col">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd" d="M20.207 6.793a1 1 0 0 1 0 1.414l-9.5 9.5a1 1 0 0 1-1.414 0l-4.5-4.5a1 1 0 0 1 1.414-1.414L10 15.586l8.793-8.793a1 1 0 0 1 1.414 0" clip-rule="evenodd" />
                                                    </svg>
                                                    <span class="sr-only">Check Circle Icon</span>
                                                </p>
                                                <p class="item-heading dark-text-2 small-text gap">No New Notifications</p>
                                            </div>
                                        </div>
                                        {% else %}
                                        {% for n in new_notifications %}
                                        <a href="{% url 'view_notification' n.sku %}" class="item-wrapper container-row space-between relative-pos" data-sku="{{ n.sku }}" data-container="new" data-url-name="{{ n.url_name }}">
                                            <div class="item-container container-row clickable">
                                                <p class="item-icon dark-text-2 container-col">
                                                    {{ n.icon|safe }}
                                                    <span class="sr-only">Notification Icon</span>
                                                </p>
                                                <p class="item-heading dark-text-2 small-text">{{ n.heading }}</p>
                                                <p class="item-age dark-text-2 small-text">{{ n.age }}</p>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="cleared-notifications-container items-display-container container-col">
                                        {% if num_of_cleared_notifications == 0 %}
                                        <div class="no-item-wrapper item-wrapper container-row space-between">
                                            <div class="item-container container-row space-between">
                                                <p class="item-icon dark-text-2 container-col">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd" d="M20.207 6.793a1 1 0 0 1 0 1.414l-9.5 9.5a1 1 0 0 1-1.414 0l-4.5-4.5a1 1 0 0 1 1.414-1.414L10 15.586l8.793-8.793a1 1 0 0 1 1.414 0" clip-rule="evenodd" />
                                                    </svg>
                                                    <span class="sr-only">Check Circle Icon</span>
                                                </p>
                                                <p class="item-heading dark-text-2 small-text gap">No Cleared Notifications</p>
                                            </div>
                                        </div>
                                        {% else %}
                                        {% for n in cleared_notifications %}
                                        <a href="{% url 'view_notification' n.sku %}" class="item-wrapper container-row space-between relative-pos" data-sku="{{ n.sku }}" data-container="cleared" data-url-name="{{ n.url_name }}">
                                            <div class="item-container container-row clickable">
                                                <p class="item-icon dark-text-2 container-col">
                                                    {{ n.icon|safe }}
                                                    <span class="sr-only">Notification Icon</span>
                                                </p>
                                                <p class="item-heading dark-text-2 small-text">{{ n.heading }}</p>
                                                <p class="item-age dark-text-2 small-text">{{ n.age }}</p>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-wrapper wrapper-menu">
                        <div class="profile-btn-container wrapper-btn container-row">
                            <div class="profile-img-container img-container">
                                {% if profile.image %}
                                <img src="{{ profile.image.url }}" alt="{{ profile.first_name }}'s Profile Image" class="img-100a">
                                {% else %}
                                <img src="{{ MEDIA_URL }}default-profile-picture.png" alt="Default Profile Image" class="img-100a">
                                {% endif %}
                            </div>
                            <div class="profile-btn-down-icon profile-btn-icon container-col">
                                <p class="dark-text-2 small-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414" clip-rule="evenodd" />
                                    </svg>
                                    <span class="sr-only">Chevron Down Icon</span>
                                </p>
                            </div>
                        </div>
                        <div class="profile-menu-container container-col box-shadow align-start">
                            <a href="{% url 'profile' user.username %}" class="profile-menu-btn container-row">
                                <div class="icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                        <path d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56" />
                                    </svg>
                                    <span class="sr-only">User Icon</span>
                                </div>
                                <p class="dark-text-2">Profile</p>
                            </a>
                            <a href="{% url 'membership_status' %}" class="profile-menu-btn container-row">
                                <div class="icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M10.193 9.556L12 6.665l1.807 2.891a.85.85 0 0 0 1.221.237l3.88-2.822l-1.49 7.826a.25.25 0 0 1-.245.203H6.828a.25.25 0 0 1-.246-.203L5.092 6.97l3.88 2.822a.85.85 0 0 0 1.22-.237m2.528-4.568a.85.85 0 0 0-1.442 0L9.29 8.17L4.646 4.792c-.623-.453-1.48.09-1.335.846l1.797 9.44a1.75 1.75 0 0 0 1.72 1.422h10.345a1.75 1.75 0 0 0 1.719-1.423l1.797-9.439c.145-.756-.711-1.3-1.334-.846L14.71 8.17zM6 18a.75.75 0 0 0 0 1.5h12a.75.75 0 1 0 0-1.5z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="sr-only">Crown Icon</span>
                                </div>
                                <p class="dark-text-2">Membership</p>
                            </a>
                            <a href="{% url 'account_logout' %}" class="profile-menu-btn container-row">
                                <div class="icon-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 20 20">
                                        <path d="M12.75 17.5a.75.75 0 0 0 0-1.5H6.5a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6.25a.75.75 0 0 0 0-1.5H6.5A3.5 3.5 0 0 0 3 6v8a3.5 3.5 0 0 0 3.5 3.5zm.991-11.301a.75.75 0 0 1 1.06.042l3 3.25a.75.75 0 0 1 0 1.018l-3 3.25A.75.75 0 1 1 13.7 12.74l1.838-1.991H7.75a.75.75 0 0 1 0-1.5h7.787l-1.838-1.991a.75.75 0 0 1 .042-1.06" />
                                    </svg>
                                    <span class="sr-only">Exit Icon</span>
                                </div>
                                <p class="dark-text-2">Log Out</p>
                            </a>
                        </div>
                    </div>
                </div>

                {% else %}

                <div class="account-btns-container container-row">
                    <a href="{% url 'account_login' %}" class="visit-link">
                        <span class="btn-icon icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 256 256">
                                <path d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56" />
                            </svg>
                        </span>
                        <p class="dark-text-2">Login</p>
                    </a>
                    <a href="{% url 'account_signup' %}" class="btn small-btn yellow-btn">
                        <p class="dark-text-2">Join Now</p>
                    </a>
                </div>

                {% endif %}
                <div class="messages-container box-shadow">
                    <div class="messages-heading-container">
                        <p class="dark-text subheading">Messages</p>
                        <div class="messages-close-btn-wrapper label-container">
                            <p class="messages-close-btn icon-container dark-text gl-2 error pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M17.707 7.707a1 1 0 0 0-1.414-1.414L12 10.586L7.707 6.293a1 1 0 0 0-1.414 1.414L10.586 12l-4.293 4.293a1 1 0 1 0 1.414 1.414L12 13.414l4.293 4.293a1 1 0 1 0 1.414-1.414L13.414 12z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Xmark Icon</span>
                            </p>
                            <span class="label dark-text small-text">Close Messages</span>
                        </div>
                    </div>
                    <div class="messages-display-container">
                        {% for message in custom_messages %}
                        <div class="message-container">
                            <div class="icon-container color-{{ message.tags }}">
                                {{ message.icon|safe }}
                                <span class="sr-only">{{ message.tags }} Icon</span>
                            </div>
                            <p class="message-text dark-text small-text">{{ message.message }}</p>
                        </div>
                        {% endfor %}

                        {% if form.errors %}
                        {% for error in form.non_field_errors %}
                        <div class="message-container">
                            <div class="icon-container color-error">
                                <svg xmlns="http://www.w3.org/2000/svg" class="white-text" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M17.707 7.707a1 1 0 0 0-1.414-1.414L12 10.586L7.707 6.293a1 1 0 0 0-1.414 1.414L10.586 12l-4.293 4.293a1 1 0 1 0 1.414 1.414L12 13.414l4.293 4.293a1 1 0 1 0 1.414-1.414L13.414 12z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Error Icon</span>
                            </div>
                            <p class="message-text dark-text small-text">{{ error }}</p>
                        </div>
                        {% endfor %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="message-container">
                            <div class="icon-container color-error">
                                <svg xmlns="http://www.w3.org/2000/svg" class="white-text" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M17.707 7.707a1 1 0 0 0-1.414-1.414L12 10.586L7.707 6.293a1 1 0 0 0-1.414 1.414L10.586 12l-4.293 4.293a1 1 0 1 0 1.414 1.414L12 13.414l4.293 4.293a1 1 0 1 0 1.414-1.414L13.414 12z" clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Error Icon</span>
                            </div>
                            <p class="message-text dark-text small-text">{{ field.label }}: {{ error }}</p>
                        </div>
                        {% endfor %}
                    {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        
        {% block page_header %}
        {% endblock %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="container-col">
            <div class="footer-container container-row space-between">
                <div class="footer-logo-container container-row">
                    <div class="img-container">
                        <img src="{{ MEDIA_URL }}mreea-logo-gray.png" alt="Gray Mreea Logo" class="img-100a">
                    </div>
                    <div class="text-container">
                        <p class="dark-text-2">Maryland Real Estate</p>
                        <p class="dark-text-2">Educators Association</p>
                    </div>
                </div>
                <div class="footer-nav container-row">
                    {% if user.is_authenicated %}
                    <a href="{% url 'membership_status' %}" class="dark-text-2">Membership</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dark-text-2">Join</a>
                    {% endif %}
                    <div class="divider"></div>
                    <a href="{% url 'privacy' %}" class="dark-text-2">Privacy</a>
                    <div class="divider"></div>
                    <a href="{% url 'contact' %}" class="dark-text-2">Contact</a>
                </div>
                <div class="footer-contact-container container-col align-end">
                    <div class="text-container container-col align-start">
                        <p class="visit-link">
                            <span class="icon-container btn-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 16 16">
                                    <path d="M3.714 5.258C3.523 4 4.41 2.87 5.765 2.456a.99.99 0 0 1 1.214.598l.435 1.16a1 1 0 0 1-.26 1.088L5.86 6.487a.5.5 0 0 0-.152.47l.012.052l.031.13a7.3 7.3 0 0 0 .729 1.805a7.3 7.3 0 0 0 1.296 1.627l.04.036a.5.5 0 0 0 .482.103l1.673-.527a1 1 0 0 1 1.072.319l.792.961c.33.4.29.988-.089 1.341c-1.037.967-2.463 1.165-3.455.368a12.7 12.7 0 0 1-3.024-3.529a12.4 12.4 0 0 1-1.554-4.385m3.043 1.765l1.072-.984a2 2 0 0 0 .521-2.176l-.434-1.16A1.99 1.99 0 0 0 5.473 1.5c-1.683.515-3.034 2.024-2.748 3.909c.2 1.316.661 2.99 1.678 4.738a13.7 13.7 0 0 0 3.262 3.805c1.488 1.195 3.474.787 4.764-.415a1.98 1.98 0 0 0 .179-2.708l-.792-.962a2 2 0 0 0-2.144-.636l-1.389.437a6.6 6.6 0 0 1-.936-1.223a6.3 6.3 0 0 1-.59-1.421" />
                                </svg>
                            </span>
                            <span class="dark-text-2">(555) 5555 555</span>
                        </p>
                        <p class="visit-link">
                            <span class="icon-container btn-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 16 16">
                                    <path d="M2 6.038V11a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM4 4h8a1 1 0 0 1 1 1v.74L8 8.432L3 5.74V5a1 1 0 0 1 1-1M3 6.876L7.763 9.44a.5.5 0 0 0 .474 0L13 6.876V11a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                                </svg>
                            </span>
                            <span class="dark-text-2">mail@mreea.org</span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        <script src="{% static 'js/messages.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        {% endblock %}
    </body>
</html>

