{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Cropper -->
    {% if edit_profile_picture %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.css">
    <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.js"></script>
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

    <title>MREEA</title>
</head>
<body>
    <!-- Header Logo, Nav Bar and Social Links -->
    <header>
        <div class="header-container">
            <!-- Logo -->
            <div class="logo-container">
                <a href="{% url 'home' %}" class="logo">
                    
                    <div class="logo-img-container">
                        <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689257491/MREEA/uwjiymtjgpcrfncnhlzk.png" alt="MREEA Logo"
                            class="logo-img">
                    </div>

                </a>
            </div>
            <!-- Nav Bar -->
            <nav class="nav-bar">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url 'membership' %}" class="nav-link">Membership</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'announcements' %}" class="nav-link">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'members' %}" class="nav-link">Members</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'learn' %}" class="nav-link">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
            <!-- Account Buttons -->
            <div class="account-login-container">
                <div class="account-login-btns-container">
                    {% if user.is_authenticated %}
                    <div class="account-profile-container">
                        <div class="account-profile-img-container">
                            {% if member_profile %}
                            <img src="{{ member_profile.profile_image }}" alt="Profile Picture" class="account-profile-img img-100a">
                            {% else %}
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689692743/MREEA/default-profile-pic_yp9kzz.png" alt="Profile Picture" class="account-profile-img img-100a">
                            {% endif %}
                        </div>
                        <div class="profile-btns-container container-col">
                            <a href="{% url 'member_profile' user.member_short_uuid %}" class="profile-btn-link">
                                View Profile
                            </a>
                            <a href="{% url 'account_logout' %}" class="btn logout-btn">
                                Log Out
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="account-profile-container">
                        <div class="account-profile-img-container not-logged-in">
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690486403/log-in_qo9dg3.png" alt="Profile Picture" class="account-profile-img img-100a">
                        </div>
                        <div class="profile-btns-container container-col">
                            <a href="{% url 'account_login' %}" class="dark-text">
                                Login
                            </a>
                            <a href="{% url 'account_signup' %}" class="btn register-btn">
                                Register
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <!-- Copyright -->
            <div class="copyright">
                © Copyrights 2023
                MREEA (Maryland Real Estate Educators Association)
            </div>
            <!-- Footer Logo -->
            <div class="footer-logo-img-container">
                <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689257491/MREEA/nsd84exqufcvrfhuuzi5.png" alt="MREEA Logo"
                    class="footer-logo">
            </div>
        </div>
    </footer>

    

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5821df7d40.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/nav-menu.js' %}"></script>

    {% block js %}
    {% endblock %}
    
</body>
</html>