{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section contact-form-section">
    <div class="section-container container-col">
        <div class="contact-form-container container-col">
            <form method="post" class="contact-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</section>

<section class="contact-details-section">
    <div class="contact-details-section-container">
        <div class="contact-details-heading">Get In Touch</div>
        <div class="contact-details-container">
            <div class="contact-details-col">
                <div class="contact-details-icon-container">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689766360/MREEA/destination-icon_qvz9zq.png" alt="Destination Icon"
                        class="contact-details-icon">
                </div>
                <div class="contact-details-col-heading">Address</div>
                <div class="contact-details-info-container">
                    <div class="contact-details-info-heading">MREEA</div>
                    <div class="contact-details-info-text">
                        <a href="#" class="copy-link" data-copy-text="#">
                            <div class="address-line">#</div>
                            <div class="address-line">#</div>
                            <div class="address-line">#</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-details-col">
                <div class="contact-details-icon-container">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689766360/MREEA/phone-icon_yfwuto.png" alt="Destination Icon" class="contact-details-icon">
                </div>
                <div class="contact-details-col-heading">Phone</div>
                <div class="contact-details-info-container">
                    <div class="contact-details-info-heading">MREEA Number</div>
                    <div class="contact-details-info-text">
                        <a href="#" class="copy-link" data-copy-text="#">#</a>
                    </div>
                </div>
                <div class="contact-details-info-container">
                    <div class="contact-details-info-heading">MREEA Office Number</div>
                    <div class="contact-details-info-text">
                        <a href="#" class="copy-link" data-copy-text="#">#</a>
                    </div>
                </div>
            </div>
            <div class="contact-details-col">
                <div class="contact-details-icon-container">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689766360/MREEA/email-icon_lhhrsb.png" alt="Destination Icon" class="contact-details-icon">
                </div>
                <div class="contact-details-col-heading">Email</div>
                <div class="contact-details-info-container">
                    <div class="contact-details-info-heading">MREEA Email</div>
                    <div class="contact-details-info-text">
                        <a href="#" class="copy-link" data-copy-text="#">#</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="google-maps-section">
    <div class="google-maps-section-container">
        <div class="google-maps-container">
            <iframe
                src="#"
                width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="btn google-maps-btn">Get Directions</div>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}

{% endblock %}