{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section create-event-form-section">
    <div class="container-col create-event-form-section-container">
      {% if event.id %}
      <div class="heading dark-text">Edit Event</div>
      {% else %}
      <div class="heading dark-text">Create Event</div>
      {% endif %}
        <div class="container-col create-event-form-container">
          <form method="post" class="create-event-form">
              {% csrf_token %}
              {{ event_form.as_p }}

              <input type="hidden" name="croppedImageData" id="croppedImageData">
              <div class="event-image-preview-container container-col">
                <div class="dark-text">Current Image:</div>
                <div class="event-form-img-container container-col">
                  {% if event.id %}
                  <img src="{{ event.event_image }}" alt="Event Image" class="event-form-img-preview img-100a">
                  {% else %}
                  <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692719680/mreea-meeting-3_leh5cl.png" alt="Event Image" class="event-form-img-preview img-100a">
                  {% endif %}
                </div>
              </div>
              <div class="event-image-upload container-col">
                <div class="btn change-event-img-btn">Upload Image</div>
                <div class="container-col event-image-change-container">
                  <div class="edit-event-img-input-container container-col">
                    <input type="file" id="imageInput" accept="image/*">
                    <div class="sub-heading dark-text">Crop</div>
                    <div class="crop-event-img-container">
                        <img id="croppedImage" src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692719680/mreea-meeting-3_leh5cl.png" alt="Cropped Image Preview" class="crop-image img-100a">
                    </div>
                    <div class="btns-container container-row">
                      <div class="btn cancel-btn cancel-crop-btn">Cancel</div>
                      <div class="btn preview-btn">Preview</div>
                    </div>
                  </div>
                  <div class="preview-event-img-change-container container-col">
                    <div class="sub-heading dark-text">Preview</div>
                    <div class="preview-event-img-container container-col">
                        <img id="previewImage" src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692719680/mreea-meeting-3_leh5cl.png" alt="Cropped Image Preview" class="img-100a">
                    </div>
                    <div class="btns-container container-row">
                      <div class="btn cancel-btn cancel-preview-btn">Cancel</div>
                      <div class="btn save-crop-btn">Save</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="event-current-resources-container container-col">
                {% if event_resources %}
                {% for resource in event_resources %}
                <div class="event-current-resource-item dark-text">{{ resource.name }} - {{ resource.link }}</div>
                {% endfor %}
                {% endif %}
                <div class="dark-text"><span class="event-form-resource-count">{{ number_of_event_resources }}</span> Resources Added!</div>
              </div>
              <div class="event-form-select-resources-btn btn">Select Resources</div>

              <div class="event-form-select-resources-wrapper container-col">
                <div class="event-form-select-resources-container container-col">
                  <div class="sub-heading dark-text">Choose Resource(s)</div>
                  <div class="select-resource-items-container container-col">
                    {% if event_resources %}
                    {% for resource in event_resources %}
                    <div class="select-resource-item selected">{{ resource.name }} - {{ resource.link }}</div>
                    {% endfor %}
                    {% endif %}
                    {% for resource in resources %}
                    <div class="select-resource-item">{{ resource.name }} - {{ resource.link }}</div>
                    {% endfor %}
                  </div>
                  <div class="select-resource-confirm-btn btn">Select (<span class="select-resource-count">{{ number_of_event_resources }}</span>)</div>
                  <input type="hidden" name="selectedResources" id="selectedResources">
                  <div class="select-resource-close-btn">&times;</div>
                </div>
              </div>

              <div class="create-event-form-btns-container container-row">
                {% if event.id %}
                <input type="submit" name="delete" value="Delete" class="btn">
                {% else %}
                <a class="btn create-event-cancel-btn" href="{% url 'announcements' %}">Cancel</a>
                {% endif %}
                
                <input type="submit" value="Save" class="btn create-event-submit-btn yellow-btn">
              </div>
            </form>
        </div>
    </div>
</section>

<div class="event-form-select-resources-overlay"></div>

{% endblock %}

{% block js %}

<script src="{% static 'js/create-event.js' %}"></script>
<script src="{% static 'js/crop-event-img.js' %}"></script>

{% endblock %}