{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section event-detail-section">
    <div class="event-detail-section-container container-row">
        <div class="event-detail-img-container">
            <img src="{{ event.event_image }}" alt="Event Image" class="event-detail-img">
            <div class="dark-overlay"></div>
        </div>
        <div class="container-col event-detail-content-container">
            <div class="heading dark-text">{{ event.title }}</div>
            <div class="dark-text">{{ event.description }}</div>
            <div class="container-col event-detail-text-container">
                <div class="sub-heading dark-text">Starts:</div>
                <div class="dark-text">{{ event.start_date }}</div>
            </div>
            <div class="container-col event-detail-text-container">
                <div class="sub-heading dark-text">Ends:</div>
                <div class="dark-text">{{ event.end_date }}</div>
            </div>
            <div class="container-col event-detail-text-container">
                <div class="sub-heading dark-text">Location:</div>
                <div class="dark-text">{{ event.location }}</div>
            </div>
            <a href="{% url 'edit_event' event.event_short_uuid %}" class="btn">Edit Event</a>
        </div>

    </div>
</section>

<section class="section event-resources-section">
    <div class="section-container container-col event-resources-section-container">
        <div class="heading dark-text">Event Resources</div>
        {% if event_resources %}
        {% for resource in event_resources %}
        <div class="resources-page-dropdown-heading resource-link-dropdown-item container-row">
            <div class="resources-type-img-container">
                {% if resource.link_type.link_type == 'Youtube' %}
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693300603/youtube_mhh1wj.png" alt="Youtube Logo" class="img-100a">
                {% elif resource.link_type.link_type == 'PDF' %}
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693300603/pdf_rcq2o5.png" alt="Youtube Logo" class="img-100a">
                {% else %}
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693301018/link_fvjmsd.png" alt="Youtube Logo" class="img-100a">
                {% endif %}
            </div>
            <div class="resources-resource-heading container-col">
                <div class="resources-resource-name-heading">
                    {{ resource.name }}:
                </div>
                <a class="resources-resource-link-heading" href="{{ resource.link}}" target="_blank">{{ resource.link }}</a>
                <div class="hidden-resource-data resource-embed-link-data">{{ resource.embed_link }}</div>
                <div class="hidden-resource-data resource-link-type-data">{{ resource.link_type.link_type }}</div>
            </div>
            <div class="resources-resource-open-btn container-col">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="resources-resource-open-container container-col">
                <div class="dark-text resources-resource-open-text resource-open-here-btn">Open here</div>
                <a href="{{ resource.link}}" target="_blank" class="dark-text resources-resource-open-text">Open in new tab</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="dark-text">Event resources will go here</div>
        {% endif %}
    </div>
</section>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'membership' %}" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

<div class="resource-link-embed-section container-col">
    <div class="iframe-video-container">
        <iframe src="https://www.youtube.com/embed/7PIji8OubXU" width="100%" height="100%" title="Youtube Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="youtube-iframe"></iframe>
    </div>
    <iframe src="https://drive.google.com/file/d/1aA76C_4a6cKyx2-61Fg1F3fimfAY9zJx/preview" width="100%" height="100%" frameborder="0" allow="autoplay" class="pdf-iframe"></iframe>
    <div class="btn close-resource-link-embed-btn">Close &times;</div>
</div>


{% endblock %}

{% block js %}

<script src="{% static 'js/cta-btn.js' %}"></script>
<script src="{% static 'js/event-detail.js' %}"></script>

{% endblock %}