{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section home-hero-section">
    <div class="section-container container-row home-hero-section-container">
        <div class="container-col home-hero-hook-container">
            <div class="home-hero-hook-heading-container container-col">
                <h2 class="dark-text home-hero-hook-heading">Real Estate Mastery</h2>
                <h2 class="dark-text home-hero-hook-heading">Starts Here</h2>
            </div>
            <div class="container-col home-hero-hook-content-container">
                <h3 class="dark-text home-hero-hook-subheading">Maryland Real Estate Education Association</h3>
                <div class="dark-text">Your Journey to Success Begins here</div>
                <div class="dark-text">Building Minds, Building Futures</div>
                <a href="{% url 'membership' %}" class="btn home-hero-hook-btn">Join Now</a>
            </div>
        </div>
        <div class="container-col tmp-img">
            <div class="dark-text">Image Will go here</div>
        </div>
    </div>
    <div class="big-triangle-svg-container">
        <svg class="bigTriangleColor flip" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="200px" viewBox="0 0 100 102" preserveAspectRatio="none">
            <path d="M0 0 L50 100 L100 0 Z" />
        </svg>
    </div>
</section>

<section class="section home-welcome-section ss-style-bigtriangle">
    <div class="home-welcome-section-container section-container container-col">
        <div class="home-welcome-content-container container-row">
            <div class="home-welcome-img-section-container container-col">
                <div class="home-welcome-img-container img-container">
                    <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407046/welcome-1_rmlibh.png" alt="MREEA Logo" class="home-welcome-img img-100a">
                </div>
            </div>
            <div class="hero-welcome-text-container container-col">
                <h2 class="sub-heading dark-text">Who is MREEA?</h2>
                <div class="home-welcome-main-text-container container-col">
                    <div class="home-welcome-item-container container-row">
                        <div class="home-welcome-item-icon-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693401839/community-1_k8gypj.png" alt="Communit Icon" class="img-100a">
                        </div>
                        <div class="dark-text">
                            MREEA unites real estate educators, including instructors, school owners, regulators, attorneys, lenders, inspectors, and more, fostering a comprehensive network
                        </div>
                    </div>
                    <div class="home-welcome-item-container container-row">
                        <div class="home-welcome-item-icon-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693401839/improvement-1_brt6do.png" alt="Improvements Icon" class="img-100a">
                        </div>
                        <div class="dark-text">
                            Join us quarterly to learn, connect, and engage with industry leaders. Elevate your skills and knowledge to excel as a Maryland real estate educator
                        </div>
                    </div>
                    
                    <div class="home-welcome-item-container container-row">
                        <div class="home-welcome-item-icon-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693401839/empowerment-1_phewiq.png" alt="Empower Icon" class="img-100a">
                        </div>
                        <div class="dark-text">
                            MREEA empowers members through shared insights, networking, and continuous development. Together, we enhance real estate education in Maryland.
                        </div>
                    </div>
                    <a href="#" class="btn">Visit About</a>
                </div>
            </div>
        </div>
    </div>
</section>

<svg class="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="200px" viewBox="0 0 100 102" preserveAspectRatio="none">
    <path d="M0 0 L50 100 L100 0 Z" />
</svg>

<section class="section home-problems-section">
    <div class="section-container container-row home-problems-section-container">
        <div class="home-problems-text-container container-col">
            <h2 class="sub-heading dark-text">We know your struggles</h2>
            <div class="home-problems-main-text-container container-col">
                <div class="home-problems-item-container container-row">
                    <div class="home-problems-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407956/arrow-1_b9oouc.png" alt="Communit Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        Your often confused by the intricate nature of real estate education without any proper guidance or resources
                    </div>
                    
                </div>
                <div class="home-problems-item-container container-row">
                    <div class="home-problems-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407956/arrow-1_b9oouc.png" alt="Improvements Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        It's challenging and time-contsuming to keep up with the constantly evolving regulations, teaching methods and industry trends
                    </div>
                </div>
                
                <div class="home-problems-item-container container-row">
                    <div class="home-problems-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407956/arrow-1_b9oouc.png" alt="Empower Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        The feeling of isolation with no one to share experiences or connect with when a problem arises
                    </div>
                </div>
            </div>
        </div>

        <div class="home-problems-img-section-container container-col">
            <div class="home-problems-img-container img-container">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693405494/problems_n2ydey.png" alt="MREEA Logo" class="home-problems-img img-100a">
            </div>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-b" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section home-solutions-section">
    <div class="section-container container-row home-solutions-section-container">
        <div class="home-solutions-img-section-container container-col">
            <div class="home-solutions-img-container img-container">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693405494/solutions_msmoax.png" alt="MREEA Logo" class="home-solutions-img img-100a">
            </div>
        </div>

        <div class="home-solutions-text-container container-col">
            <h2 class="sub-heading dark-text">We have your answers</h2>
            <div class="home-solutions-main-text-container container-col">
                <div class="home-solutions-item-container container-row">
                    <div class="home-solutions-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407933/check-1_ju095u.png" alt="Communit Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        MREEA simplifies the complexities of real estate education by offering valuable resources, shared insights, and a platform for collaborative problem-solving, making your journey easy
                    </div>
                    
                </div>
                <div class="home-solutions-item-container container-row">
                    <div class="home-solutions-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407933/check-1_ju095u.png" alt="Improvements Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        Through regular interactions with industry leaders, MREEA provides access to the latest updates, regulations, and effective teaching strategies
                    </div>
                </div>
                
                <div class="home-solutions-item-container container-row">
                    <div class="home-solutions-item-icon-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693407933/check-1_ju095u.png" alt="Empower Icon" class="img-100a">
                    </div>
                    <div class="dark-text">
                        MREEA offers a vibrant community where real estate educators can connect, collaborate, and learn from diverse peers, eliminating isolation
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<svg class="bigHalfCircle-b flip" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section benefits-section">
    <div class="section-container container-col benefits-section-container">
        <div class="heading dark-text">Benefits to Joining</div>
        <div class="benefits-col-container container-row">
            <div class="benefit-col container-col">
                <div class="container-col benefit-col-img-heading-container">
                    <div class="benefit-col-img-container img-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693415548/communit-1_tmeve6.png" alt="Community Icon" class="benefit-img img-100a">
                    </div>
                    <div class="container-col benefit-heading-container">
                        <div class="benefit-heading dark-text">Community</div>
                        <div class="benefit-heading dark-text">Collaboration</div>
                    </div>
                </div>
                <div class="benefit-points-container container-col">
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Peer Learning:</span> Engage with a diverse network of real estate educators, sharing insights and experiences that enhance your teaching methods
                        </div>
                    </div>
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Collaborative Help:</span> Tap into collective wisdom to address challenges and find innovative solutions through community discussions
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-col container-col">
                <div class="container-col benefit-col-img-heading-container">
                    <div class="benefit-col-img-container img-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693415548/progress-1_knqvf5.png" alt="Progress Icon" class="benefit-img img-100a">
                    </div>
                    <div class="container-col benefit-heading-container">
                        <div class="benefit-heading dark-text">Professional</div>
                        <div class="benefit-heading dark-text">Advancement</div>
                    </div>
                </div>
                <div class="benefit-points-container container-col">
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Industry Insights:</span> Gain exclusive access to industry leaders' expertise and stay informed about regulatory changes, trends, and best practices.
                        </div>
                    </div>
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Continuous Development: </span> Participate in workshops, seminars, and events that empower you to refine your skills, ultimately elevating your career as an educator.
                        </div>
                    </div>
                </div>
            </div>
            <div class="benefit-col container-col">
                <div class="container-col benefit-col-img-heading-container">
                    <div class="benefit-col-img-container img-container container-col">
                        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693415548/resource-support-1_crw11r.png" alt="Support Icon" class="benefit-img img-100a">
                    </div>
                    <div class="container-col benefit-heading-container">
                        <div class="benefit-heading dark-text">Resourceful</div>
                        <div class="benefit-heading dark-text">Support</div>
                    </div>
                </div>
                <div class="benefit-points-container container-col">
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Resource Hub:</span> Access a wealth of curated materials, lesson plans, and educational resources, streamlining your curriculum planning
                        </div>
                    </div>
                    <div class="benefit-point-container container-row">
                        <div class="benefit-point-img-container container-col">
                            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693416631/circle-2_p5luwx.png" alt="Benefit Bullet point" class="img-100a">
                        </div>
                        <div class="benefit-point-text dark-text">
                            <span class="benefit-point-highlight">Guidance and Mentorship:</span> Benefit from experienced educators' mentorship, offering personalized guidance for your professional growth
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-b" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section testimonial-section">
    <div class="section-container testimonial-section-container container-row">
        <div class="testimonial-card container-col">
            <div class="testimonial-img-container">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693418895/sample-pp_tuyp1p.png" alt="Testimonial Picture" class="img-100a">
            </div>
            <div class="testimonail-text dark-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus justo ac risus iaculis, vel efficitur velit euismod. Nullam quis libero non tellus malesuada ultricies. Integer quis nulla sed quam ultrices ultricies. 
            </div>
            <div class="testimonial-quote-container quote-marks-1">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-left_ewg4uq.png" alt="Quote Mark left" class="img-100a">
            </div>
            <div class="testimonial-quote-container quote-marks-2">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-right_xixbv4.png" alt="Quote Mark right" class="img-100a">
            </div>
        </div>

        <div class="testimonial-card container-col">
            <div class="testimonial-img-container">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693418895/sample-pp_tuyp1p.png" alt="Testimonial Picture" class="img-100a">
            </div>
            <div class="testimonail-text dark-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus justo ac risus iaculis, vel efficitur velit euismod. Nullam quis libero non tellus malesuada ultricies. Integer quis nulla sed quam ultrices ultricies. 
            </div>
            <div class="testimonial-quote-container quote-marks-1">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-left_ewg4uq.png" alt="Quote Mark left" class="img-100a">
            </div>
            <div class="testimonial-quote-container quote-marks-2">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-right_xixbv4.png" alt="Quote Mark right" class="img-100a">
            </div>
        </div>

        <div class="testimonial-card container-col">
            <div class="testimonial-img-container">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693418895/sample-pp_tuyp1p.png" alt="Testimonial Picture" class="img-100a">
            </div>
            <div class="testimonail-text dark-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus justo ac risus iaculis, vel efficitur velit euismod. Nullam quis libero non tellus malesuada ultricies. Integer quis nulla sed quam ultrices ultricies. 
            </div>
            <div class="testimonial-quote-container quote-marks-1">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-left_ewg4uq.png" alt="Quote Mark left" class="img-100a">
            </div>
            <div class="testimonial-quote-container quote-marks-2">
                <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693419164/quote-right_xixbv4.png" alt="Quote Mark right" class="img-100a">
            </div>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-red a" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'membership' %}" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/cta-btn.js' %}"></script>

{% endblock %}