{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section home-hero-section">
    <div class="container-row home-hero-container carousel-container">
        <div class="container-col home-hero-content-container carousel-item carousel-item-1">
            <div class="home-hero-content-wrapper">
                <div class="container-col hero-img-container img-container">
                    <div class="hero-overlay"></div>
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689506829/MREEA/hero-1-HdsRd5l4u-transformed_t4jhzg.png" alt="Real Estate picture" class="hero-image">
                </div>
                <div class="hero-card hero-card-1 container-col">
                    {% if user.is_authenticated %}
                    <div class="hero-card-content-container container-col">
                        <div class="hero-card-heading white-text heading">Maryland Real Estate Educators Asscociation</div>
                        <div class="white-text">Simply click the button to join or renew our memebership and access our community</div>
                        <a class="btn">Join / Renew</a>
                    </div>
                    {% else %}
                    <div class="hero-card-content-container container-col">
                        <div class="hero-card-heading white-text heading">Maryland Real Estate Educators Asscociation</div>
                        <div class="white-text">Login in or register a account, to get access to join our membership and access our member information</div>
                        <div class="btns-container container-row">
                            <a href="{% url 'account_login' %}" class="btn">Log in</a>
                            <a href="{% url 'account_signup' %}" class="btn">Register</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container-col home-hero-content-container carousel-item carousel-item-2">
            <div class="home-hero-content-wrapper">
                <div class="container-col hero-img-container img-container">
                    <div class="hero-overlay"></div>
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689506832/MREEA/hero-2-transformed_qzjltn.jpg" alt="Real Estate picture" class="hero-image">
                </div>
                <div class="hero-card hero-card-2 container-col">
                    <div class="hero-card-content-container container-col">
                        <div class="hero-card-heading white-text heading">Upcoming Events</div>
                        <div class="hero-card-text-container container-col">
                            <div class="white-text">Date: 30/07/23</div>
                            <div class="white-text">Group Meeting</div>
                            <div class="white-text">Link: https:asdfasdfasdf</div>
                        </div>
                        <a href="#" class="btn">Go To Announcements</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-col home-hero-content-container carousel-item carousel-item-3" id="calendar-section">
            <div class="home-hero-content-wrapper">
                <div class="container-col hero-img-container img-container">
                    <div class="hero-overlay"></div>
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689506831/MREEA/hero-3-transformed_ykoty6.jpg" alt="Real Estate picture" class="hero-image">
                </div>
                <div class="hero-card hero-card-3 container-col">
                    <div class="calendar"></div>
                </div>
            </div>
        </div>

        <div class="swipe-left carousel-swipe container-col">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="swipe-right carousel-swipe container-col">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="carousel-dots-container container-row">
            <div class="carousel-dot carousel-dot-1 active"></div>
            <div class="carousel-dot carousel-dot-2"></div>
            <div class="carousel-dot carousel-dot-3"></div>
        </div>
    </div>
</section>

<section class="section home-welcome-section">
    <div class="home-welcome-section-container section-container container-col">
        <div class="home-welcome-section-heading dark-text heading">Introducing M<span class="red-text">R</span><span class="yellow-text">E</span>E<span class="yellow-text">A</span></div>
        <div class="home-welcome-content-container container-row">
            <div class="home-welcome-img-container img-container">
                <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1689257491/MREEA/uwjiymtjgpcrfncnhlzk.png" alt="MREEA Logo" class="home-welcome-img img-100a">
            </div>
            <div class="hero-welcome-text-container container-col">
                <div class="dark-text">
                    Welcome to the Maryland Real Estate Educators Association (MREEA) - a dynamic group of real estate professionals dedicated to providing exceptional education and resources to industry practitioners in Maryland. Our diverse membership includes instructors, school owners, regulators, real estate attorneys, lenders, home inspectors, title officers, and anyone passionate about real estate education. Through quarterly meetings, we foster professional development, facilitate knowledge sharing, and engage with industry leaders to ensure we are at the forefront of real estate education in Maryland. Join us to enhance your skills, broaden your network, and make a lasting impact in the real estate education community.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section benefits-section">
    <div class="section-container container-col benefits-section-container">
        <div class="heading dark-text">Benefits to Joining</div>
        <div class="benefits-col-container container-row">
            <div class="benefit-col container-col">
                <div class="benefit-col-img-container img-container container-col">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690187257/MREEA/professional-development_rhibm6.png" alt="Professional Development Icon" class="benefit-img img-100a">
                </div>
                <div class="sub-heading dark-text">Professional Development</div>
                <div class="benefit-col-text-container container-col">
                    <div class="dark-text">
                        Specialized training and resources for enhancing teaching skills, instructional techniques, and curriculum development
                    </div>
                    <div class="dark-text">
                        Stay updated on changes in real estate regulations, laws, and market dynamics
                    </div>
                    <div class="dark-text">
                        Access to a vast repository of educational materials, webinars, and conferences
                    </div>
                </div>
            </div>
            <div class="benefit-col container-col">
                <div class="benefit-col-img-container img-container container-col second">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690187257/MREEA/networking_cwp4jk.png" alt="Professional Development Icon" class="benefit-img img-100a">
                </div>
                <div class="sub-heading dark-text">Networking</div>
                <div class="benefit-col-text-container container-col">
                    <div class="dark-text">
                        Connects members with a diverse community of real estate professionals, educators, and industry leaders
                    </div>
                    <div class="dark-text">
                        Opens doors to potential partnerships, collaborations, and business opportunities
                    </div>
                    <div class="dark-text">
                        Access to networking events, workshops, and seminars
                    </div>
                </div>
            </div>
            <div class="benefit-col container-col">
                <div class="benefit-col-img-container img-container container-col">
                    <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690187257/MREEA/career-impact_gkk5jc.png" alt="Professional Development Icon" class="benefit-img img-100a">
                </div>
                <div class="sub-heading dark-text">Career Impact</div>
                <div class="benefit-col-text-container container-col">
                    <div class="dark-text">
                        Elevates members' standing in the real estate education realm
                    </div>
                    <div class="dark-text">
                        Enhances professional growth and expertise through continuous learning opportunities
                    </div>
                    <div class="dark-text">
                        Contributes to the advancement and improvement of the entire real estate education industry
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section mission-section">
    <div class="container-row announcements-hero-container choose-hero-container">
        <div class="announcements-hero-img-container img-container container-col">
            <div class="hero-overlay"></div>
            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1690189364/MREEA/mission_phcn48.png" alt="MREEA Meeting" class="hero-image">
        </div>
        <div class="announcements-hero-heading-container container-col choose-hero-heading-container">
            <div class="hero-text-container">
                <div class="hero-heading">MISSION</div>
                <div class="white-text">
                    At MREEA, our mission is to empower and elevate the real estate education community in Maryland through a steadfast commitment to networking, professional development, and advocacy. We strive to cultivate a dynamic platform that connects real estate educators, professionals, and industry leaders, fostering collaboration, innovation, and mutual growth. Our association is dedicated to providing exceptional learning resources and specialized training, equipping educators with the knowledge and skills needed to deliver high-quality instruction and stay ahead of industry trends. As advocates, we actively engage with policymakers and stakeholders to shape progressive policies that support the advancement of real estate education and strengthen the integrity of our profession. Together, we aim to create a positive impact, nurturing a thriving, knowledgeable, and forward-looking real estate education landscape in Maryland.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section account-member-section">
    <div class="section-container container-col account-member-section-container members-page-account-seciton-1">
        {% if user.is_authenticated %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Thank you for creating an account, if you haven't purchased a membership or your membership is expired or expiring, you can simply join or renew with a few clicks</div>
                <a href="#" class="btn">Join / Renew</a>
            </div>
        </div>
        {% else %}
        <div class="account-member-wrapper container-col members-page-no-account-wrapper">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Sign up and become a member to join an amazing community where you can learn and grow. Already a member or have an account? Then sign in to join or renew your membership.</div>
                <div class="btns-container container-row">
                    <a href="{% url 'account_login' %}" class="btn">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn">Register</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/home-hero-carousel.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}