{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_member %}

<section class="section learn-reasons-section bg-a">
    <div class="section-container container-col learn-welcome-section-container learn-resources-section-container">
        <div class="learn-section-img-container img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718588/learn-hand_lbqrku.png" alt="Raising Hand" class="learn-section-img img-100a">
        </div>
        <div class="learn-welcome-section-content-container container-col learn-resources-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading resources-section-heading">
                Fair Housing Coach Newsletter
            </div>
            <div class="dark-text">
                Uncover a treasure trove of resources, including articles, ebooks, videos, webinars, and case studies, all focused on various aspects of real estate. Our content covers a wide array of topics, ranging from the fundamentals of property investment and market analysis to advanced strategies for successful negotiations and property management. No matter your level of experience, you'll find valuable insights and practical tips to further your expertise.
            </div>
            <div class="dark-text">
                Visit the Fair Housing Coach Newsletter resources here by clicking the button
            </div>
            <a href="{% url 'resources' %}" class="btn">View Resources</a>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-a" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section learn-reasons-section">
    <div class="section-container container-col learn-welcome-section-container learn-reasons-section-container">
        <div class="learn-section-img-container img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718592/learn-connect_l5ioj8.png" alt="MREEA meeting" class="learn-section-img img-100a">
        </div>
        <div class="learn-welcome-section-content-container container-col learn-reasons-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading reasons-section-heading">
                Connect and Collaborate
            </div>
            <div class="dark-text">
                Learning doesn't happen in isolation, and at MREEA, we value the power of connection. Join our vibrant community of like-minded individuals, where you can network, share ideas, and collaborate with fellow learners, industry professionals, and mentors. Exchange insights, seek advice, and build relationships that will enrich your journey in the real estate field.
            </div>
            <div class="dark-text">Register or Log in to gain access to our members, here you can connect with people in your area, to help speed up the learning process</div>
            <a href="{% url 'members' %}" class="btn">Find a Member</a>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-b" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section learn-reasons-section bg-a">
    <div class="section-container container-col learn-welcome-section-container">
        <div class="learn-section-img-container img-container circle-img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692967031/Facebook-logo-2_wawiw4.png" alt="MREEA meeting" class="learn-section-img img-100a">
        </div>
        <div class="learn-welcome-section-content-container container-col learn-reasons-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading reasons-section-heading">
                Facebook Group
            </div>
            <div class="dark-text">
                Join our Facebook group to connect with fellow members and foster valuable relationships. Engage in insightful discussions, share experiences, and broaden your network in this dynamic online community. Don't miss out on the chance to establish meaningful connections that can enrich both your personal and professional life.
            </div>
            <div class="dark-text">Click the button and request to join</div>
            <a href="https://www.facebook.com/groups/715064345509383" class="btn" target="_blank">Join MREEA</a>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-a" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section learn-reasons-section">
    <div class="section-container container-col learn-welcome-section-container learn-reasons-section-container">
        <div class="learn-section-img-container img-container circle-img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692967032/nfha_zs8eow.png" alt="MREEA meeting" class="learn-section-img img-100a">
        </div>
        <div class="learn-welcome-section-content-container container-col learn-reasons-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading reasons-section-heading">
                Nation Fair Housing Association (NFHA)
            </div>
            <div class="dark-text">
                The National Fair Housing Alliance (NFHA) spearheads the fair housing movement, striving to end discrimination and promote equitable housing through education, advocacy, policy, enforcement, and community development programs.
            </div>
            <div class="dark-text">As a benefit of joining MREEA you will receive the reports from the NFHA, click the button to get the resources</div>
            <a href="{% url 'resources' %}" class="btn">View Resources</a>
        </div>
    </div>
</section>

<svg class="bigHalfCircle-red" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'membership' %}" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

{% else %}

<section class="section learning-hero-section">
    <div class="container-row announcements-hero-container">
        <div class="announcements-hero-img-container img-container container-col">
            <div class="hero-overlay"></div>
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718591/learning_xwxgiv.png" alt="MREEA Meeting" class="hero-image">
        </div>
        <div class="announcements-hero-heading-container container-col choose-hero-heading-container">
            <div class="hero-text-container learn-hero-welcome-section-content-container container-col">
                <div class="hero-heading">Learning Resources</div>
                <div class="white-text">
                    At MREEA (Maryland Real Estate Educators Association), we are passionate about empowering individuals like you to achieve success in the dynamic world of real estate. Whether you're a seasoned professional or just starting your journey, this learning resources section is designed to provide you with a wealth of knowledge and tools to enhance your skills and expand your expertise.
                </div>
                <div class="white-text">
                    Our mission is to foster a community of lifelong learners, where individuals can access comprehensive resources and stay up to date with the latest industry trends. Here, you will find a diverse range of educational materials, carefully curated to cater to the needs of aspiring real estate professionals, investors, brokers, and anyone seeking to gain a deeper understanding of the real estate market.
                </div>

                <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank"  class="btn yellow-btn">Join / Renew</a>
            </div>
        </div>
    </div>
</section>

<section class="section learn-reasons-section">
    <div class="section-container container-col learn-welcome-section-container learn-reasons-section-container">
        <div class="learn-welcome-section-content-container container-col learn-reasons-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading reasons-section-heading">
                Stay Ahead of the Curve:
            </div>
            <div class="dark-text">
                The world of real estate is constantly evolving, and staying ahead of the curve is crucial for success. Our learning resources section keeps you updated with the latest market trends, regulatory changes, and innovative technologies shaping the industry. By staying informed, you can adapt your strategies, identify new opportunities, and make informed decisions in a competitive market.
            </div>
        </div>
        <div class="learn-section-img-container img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692719600/stay-ahead_dfwzqp.png" alt="MREEA MEETING" class="learn-section-img img-100a">
        </div>
    </div>
</section>

<svg class="bigHalfCircle-b" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section learn-resources-section bg-a">
    <div class="section-container container-col learn-welcome-section-container learn-resources-section-container">
        
        <div class="learn-welcome-section-content-container container-col learn-resources-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading resources-section-heading">
                Explore a Wealth of Knowledge:
            </div>
            <div class="dark-text">
                Uncover a treasure trove of resources, including articles, ebooks, videos, webinars, and case studies, all focused on various aspects of real estate. Our content covers a wide array of topics, ranging from the fundamentals of property investment and market analysis to advanced strategies for successful negotiations and property management. No matter your level of experience, you'll find valuable insights and practical tips to further your expertise.
            </div>
        </div>
        <div class="learn-section-img-container img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718588/learn-hand_lbqrku.png" alt="Raising Hand" class="learn-section-img img-100a">
        </div>
    </div>
</section>

<svg class="bigHalfCircle-a" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section learn-reasons-section">
    <div class="section-container container-col learn-welcome-section-container learn-reasons-section-container">
        
        <div class="learn-welcome-section-content-container container-col learn-reasons-section-content-container">
            <div class="sub-heading heading dark-text welcome-section-heading reasons-section-heading">
                Connect and Collaborate:
            </div>
            <div class="dark-text">
                Learning doesn't happen in isolation, and at MREEA, we value the power of connection. Join our vibrant community of like-minded individuals, where you can network, share ideas, and collaborate with fellow learners, industry professionals, and mentors. Exchange insights, seek advice, and build relationships that will enrich your journey in the real estate field.
            </div>
            <div class="dark-text">Register or Log in to gain access to our members, here you can connect with people in your area, to help speed up the learning process</div>
            <a href="{% url 'members' %}" class="btn">Find a Member</a>
        </div>
        <div class="learn-section-img-container img-container">
            <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718592/learn-connect_l5ioj8.png" alt="MREEA meeting" class="learn-section-img img-100a">
        </div>
    </div>
</section>

<svg class="bigHalfCircle-red" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'membership' %}" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

{% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'js/cta-btn.js' %}"></script>

{% endblock %}