{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section member-profile-section">
    <div class="section-container container-col member-profile-section-container">
        <div class="heading dark-text">{{ member_profile.first_name }}'s Profile </div>
        <div class="member-profile-basic-info container-col">
            <div class="profile-img-container">
                <img src="{{ member_profile.profile_image.url }}" alt="{{ member_profile.first_name }} Profile Image" class="profile-img img-100a"></img>
            </div>
            <div class="profile-name">{{ member_profile.first_name }} {{ member_profile.last_name }}</div>
            <a href="{% url 'edit_member_profile' user.member_short_uuid %}" class="btn">Edit Profile</a>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}


{% endblock %}