{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section members-heading-section">
    <div class="container-col members-heading-section-container section-container">
        <div class="sub-heading dark-text">Find a MREEA Member in your area</div>
        <div class="sub-heading-2 dark-text">What can a MREEA Member do for you?</div>
        <div class="container-col members-heading-reasons-container">
            <div class="container-row members-heading-reason-item">
                <div class="members-heading-reason-item-icon-container">
                    <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693840784/learning-1_njnfag.png" alt="Learning Icon" class="img-100a">
                </div>
                <div class="dark-text mt">
                    Develop diverse, personalized courses for adult learners to maximize engagement and learning
                </div>
            </div>
            <div class="container-row members-heading-reason-item">
                <div class="members-heading-reason-item-icon-container">
                    <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693840234/quality-1_hhfdwl.png" alt="Quality Icon" class="img-100a">
                </div>
                <div class="dark-text">
                    Conduct regular evaluations of programs and instructors to enhance educational quality
                </div>
            </div>
            <div class="container-row members-heading-reason-item">
                <div class="members-heading-reason-item-icon-container">
                    <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1693840234/growth-1_tjeise.png" alt="Growth Icon" class="img-100a">
                </div>
                <div class="dark-text">
                    Align educational offerings with evolving member needs for ongoing relevance and effectiveness
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section members-search-form-section container-row">
    <div class="members-search-img-container img-container">
        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718576/dmccaffrey01_black_business_woman_shaking_white_business_man_ha_89eb8833-1ac1-4591-aa8e-9b3221b50371-transformed_e3zjvu.png" alt="Business Woman and Man shaking hands" class="members-search-img">
    </div>
    <div class="members-search-form-content-container container-col">
        <div class="container-col members-search-form-card members-search-form-container">
            <form method="get" class="members-search-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search" class="btn">
            </form>
        </div>
    </div>
</section>

{% if members %}

<section class="members-results-section">
    {% for member in members %}
    <div class="section members-search-form-results-section container-col">
        <div class="section-container container-col members-search-form-results-section-container">
            <div class="container-col member-profile-section-container">
                <div class="profile-left-side-container container-row">
                    <div class="profile-card container-col profile-picture-card">
                        <div class="profile-picture-col-container container-col">
                            <div class="profile-img-container">
                                <img src="{{ member.profile_image.url }}" alt="{{ member.first_name }} Profile Image" class="profile-img img-100a"></img>
                            </div>
                            <div class="profile-details-row-container container-row">
                                <div class="light-text">First Name</div>
                                {% if member.first_name %}
                                <div class="dark-text">{{ member.first_name }}</div>
                                {% else %}
                                <div class="dark-text nothing-displayed">Nothing Displayed</div>
                                {% endif %}
                            </div>
                            <div class="profile-details-row-container container-row">
                                <div class="light-text">Last Name</div>
                                {% if member.last_name %}
                                <div class="dark-text">{{ member.last_name }}</div>
                                {% else %}
                                <div class="dark-text nothing-displayed">Nothing Displayed</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="profile-card container-col password-email-card">
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Email</div>
                            {% if member.display_email %}
                            {% if member.email %}
                            <div class="dark-text">{{ member.email }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                            {% else %}
                            <div class="dark-text">Email Not Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Phone Number</div>
                            {% if member.display_number %}
                            {% if member.phone_number %}
                            <div class="dark-text">{{ member.phone_number }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                            {% else %}
                            <div class="dark-text">Number Not Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Facebook</div>
                            {% if member.facebook %}
                            <div class="dark-text">{{ member.facebook }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Website</div>
                            {% if member.website %}
                            <div class="dark-text">{{ member.website }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Teaching Category</div>
                            {% if member.teaching_category and member.teaching_category != 'nothing' %}
                            <div class="dark-text">{{ member.teaching_category }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Class</div>
                            {% if member.classes and member.classes != 'nothing' %}
                            <div class="dark-text">{{ member.classes }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-card container-col profile-details-card">
                        <div class="profile-details-col-container container-col bio-container">
                            <div class="light-text">Bio</div>
                            {% if member.bio %}
                            <div class="dark-text short-bio">{{ member.bio|linebreaksbr }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% else %}
<section class="section members-search-form-no-results-section">
    <div class="section-container container-col members-search-form-no-results-section-container">
        <div class="dark-text sub-heading">No members found! Change your search query.</div>
    </div>
</section>

{% endif %}

<svg class="bigHalfCircle-red" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="{% url 'membership' %}" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/select-dropdown.js' %}"></script>

{% endblock %}