{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="section member-profile-section">
    <div class="section-container container-row member-profile-section-container">
        <div class="profile-left-side-container container-col">
            <div class="profile-card container-col profile-picture-card">
                <div class="profile-picture-col-container container-col">
                    <div class="profile-img-container">
                        <img src="{{ member_profile.profile_image.url }}" alt="{{ member_profile.first_name }} Profile Image" class="profile-img img-100a"></img>
                        <a href="{% url 'edit_profile_picture' user.member_short_uuid %}" class="edit-picture-btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <div class="edit-picture-overlay"></div>
                    </div>
                    <div class="profile-name dark-text sub-heading">{{ member_profile.first_name }}'s Profile</div>
                </div>
                
            </div>
            <div class="profile-card container-col password-email-card">
                <div class="password-email-col-container container-col">
                    <div class="password-email-row-container container-row">
                        <div class="light-text">Email</div>
                        <div class="dark-text">{{ member_profile.user.email }}</div>
                    </div>
                </div>
                <div class="password-email-col-container container-col">
                    <div class="password-email-row-container container-row">
                        <div class="light-text">Password</div>
                        <div class="dark-text">●●●●●●●●</div>
                    </div>
                    <a href="/accounts/password/change/" class="btn">Change Password</a>
                </div>
            </div>
        </div>
        <div class="profile-right-side-container container-col">
            <div class="profile-card container-col profile-details-card profile-details-card-container">
                <div class="profile-details-row-container container-row">
                    <div class="profile-details-col-container double-row container-col">
                        <div class="light-text">First Name</div>
                        {% if member_profile.first_name %}
                        <div class="dark-text">{{ member_profile.first_name }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                    </div>
                    <div class="profile-details-col-container double-row container-col">
                        <div class="light-text">Last Name</div>
                        {% if member_profile.last_name %}
                        <div class="dark-text">{{ member_profile.last_name }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-details-col-container container-col">
                    <div class="light-text">Bio</div>
                    {% if member_profile.bio %}
                    <div class="dark-text short-bio">{{ member_profile.bio|linebreaksbr }}</div>
                    {% else %}
                    <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                    {% endif %}
                </div>
                <div class="profile-details-row-container container-row">
                    <div class="profile-details-col-container container-col double-row">
                        <div class="light-text">Email</div>
                        {% if member_profile.display_email %}
                        {% if member_profile.email %}
                        <div class="dark-text">{{ member_profile.email }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                        {% else %}
                        <div class="dark-text">Email Not Displayed</div>
                        {% endif %}
                    </div>
                    <div class="profile-details-col-container container-col double-row">
                        <div class="light-text">Phone Number</div>
                        {% if member_profile.display_number %}
                        {% if member_profile.phone_number %}
                        <div class="dark-text">{{ member_profile.phone_number }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                        {% else %}
                        <div class="dark-text">Number Not Displayed</div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-details-row-container container-row">
                    <div class="profile-details-col-container container-col double-row">
                        <div class="light-text">Website</div>
                        {% if member_profile.website %}
                        <div class="dark-text">{{ member_profile.website }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                    </div>
                    <div class="profile-details-col-container container-col double-row">
                        <div class="light-text">Facebook</div>
                        {% if member_profile.facebook %}
                        <div class="dark-text">{{ member_profile.facebook }}</div>
                        {% else %}
                        <div class="dark-text nothing-displayed">*Nothing Displayed</div>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'edit_member_profile' user.member_short_uuid %}" class="btn">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

{% if edit_profile %}

<section class="edit-profile-section section">
    <div class="edit-profile-card container-col">
        <div class="edit-profile-form-container container-col">
            <div class="heading dark-text">{{ member_profile.first_name }}'s Profile </div>
            <form method="post" class="edit-profile-form">
                {% csrf_token %}
                {% if edit_image %}
                <div class="edit-profile-picture-form-wrapper container-col">
                    {{ form }}
                    <input type="hidden" name="croppedImageData" id="croppedImageData">
                </div>
                <input type="submit" name="cancel" value="&#10006;" class="form-close-btn">
                <div class="edit-pp-container container-col">
                    <div class="edit-pp-input-container">
                        <input type="file" id="imageInput" accept="image/*">
                    </div>

                    <div class="clear-pp-container container-row">
                        <div class="clear-pp-text">Clear</div>
                        <input type="checkbox" id="clearPP">
                    </div>

                    <div class="sub-heading dark-text">Crop</div>
                    <div class="crop-pp-img-container">
                        <img id="croppedImage" src="{{ member_profile.profile_image }}" alt="Cropped Image Preview" class="crop-image img-100a">
                    </div>

                    <div class="btn preview-btn">Preview</div>
                </div>
                <div class="preview-pp-container container-col">
                    <div class="sub-heading dark-text">Preview</div>
                    <div class="preview-pp-img-container container-col">
                        <img id="previewImage" src="{{ member_profile.profile_image }}" alt="Cropped Image Preview" class="img-100a">
                    </div>

                    <div class="create-event-form-btns-container container-row">
                        <input type="submit" name="cancel" value="Cancel" class="form-cancel-btn btn">
                        <input type="submit" value="Save" class="btn form-save-btn">
                    </div>
                    <input type="submit" name="cancel" value="&#10006;" class="form-close-btn">
                </div>
                {% else %}
                <p>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </p>
                <p>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </p>
                <div class="form-bio container-col">
                    <p>
                        {{ form.bio.label_tag }}
                        {{ form.bio }}
                        <div class="bio-number-container">
                            <div class="bio-number-text"><span class="bio-number-counter">0</span> / 2000</div>
                        </div>
                    </p>
                    
                </div>
                
                <p>
                    {{ form.display_email.label_tag }}
                    {{ form.display_email }}
                </p>
                <p>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </p>
                <p>
                    {{ form.display_number.label_tag }}
                    {{ form.display_number }}
                </p>
                <p>
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </p>
                <p>
                    {{ form.website.label_tag }}
                    {{ form.website }}
                </p>
                <p>
                    {{ form.facebook.label_tag }}
                    {{ form.facebook }}
                </p>
                <div class="create-event-form-btns-container container-row">
                    <input type="submit" name="cancel" value="Cancel" class="form-cancel-btn btn">
                    <input type="submit" value="Save" class="btn form-save-btn">
                </div>
                <input type="submit" name="cancel" value="&#10006;" class="form-close-btn">
                {% endif %}
            </form>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}

{% block js %}

{% if edit_image %}

<script src="{% static 'js/crop-pp.js' %}"></script>

{% else %}

<script src="{% static 'js/member-profile.js' %}"></script>

{% endif %}

{% endblock %}