{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<section class="section membership-hero-section">
    <div class="section-container membership-hero-section-container container-col">
        {% if logged_in %}
        {% if user.is_member %}
        <div class="heading dark-text">Thank You for your membership!</div>
        <div class="dark-text">
            If you would like to renew your membership, please click the Renew button down below
        </div>
        <div class="dark-text">(Please use the same email as you logged in with)</div>
        {% else %}
        <div class="heading dark-text">Thank You for your Creating an Account</div>
        <div class="dark-text">
            If you would like to purchase a membership, please click the Join button down below
        </div>
        <div class="dark-text">(Please use the same email as you logged in with)</div>
        {% endif %}
        {% else %}
        <div class="heading dark-text">Please Register First To Access Membership</div>
        <div class="container-col account-card">
            <div class="account-card-section login-account-section-upper container-col">
              <div class="account-card-wrapper container-col">
                  <div class="heading white-text">Begin your Journey</div>
                  {% if membership %}
                  <div class="white-text">Please Sign Up or Sign In to access membership</div>
                  {% else %}
                  <div class="white-text">
                      Already have an account? Then please <a class="unregistered-account-link" href="{% url 'account_login' %}">sign in</a>.
                  </div>
                  {% endif %}
              </div>
              <div class="account-card-img-overlay dark-overlay"></div>
              <div class="account-card-bg-img-container">
                  <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718357/dmccaffrey01_beautiful_real_estate_in_scenic_area_dark_red_and__df3017ac-2bb6-4803-85c3-097194818d3e_uperzf.png" alt="Starry background image" class="img-100a account-card-bg-img">
              </div>
            </div>
            <div class="account-card-section container-col login-accouint-section-lower">
                <div class="sub-heading dark-blue-text sign-in-heading">User {% trans "Sign Up" %}</div>
                <form class="account-form login-form container-col" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="dark-btn btn white-text account-btn" type="submit">{% trans "Sign Up" %}</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<svg class="bigHalfCircle-red" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C40 0 60 0 100 100 Z" />
</svg>

<section class="section cta-section">
    <div class="section-container container-col cta-section-container">
        <div class="cta-heading">Ready to elevate your real estate education journey?</div>
        {% if user.is_authenticated %}
        {% if user.is_member %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Renew</div>
        </a>
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
        {% else %}
        <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" class="btn cta-btn container-col">
            <div class="cta-btn-arrow-container container-col">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="cta-btn-text">Join Now</div>
        </a>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}

<script src="{% static 'js/register.js' %}"></script>
<script src="{% static 'js/cta-btn.js' %}"></script>

{% endblock %}