{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section account-member-section">
    <div class="section-container container-col account-member-section-container members-page-account-seciton-1">
        {% if user.is_authenticated %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">Thank you for creating an account, if you haven't purchased a membership or your membership is expired or expiring, you can simply join or renew with a few clicks</div>
                <a href="https://next.waveapps.com/checkouts/7d1108f10cbe4cbaae8599386fe3ea17" target="_blank"  class="btn">Join / Renew</a>
            </div>
        </div>
        {% else %}
        <div class="account-member-wrapper container-col">
            <div class="account-member-content-container container-col">
                <div class="heading dark-text">Maryland Real Estate Educators Asscociation</div>
                <div class="dark-text">To get access to finding and searching members, please sign in or sign up. Sign up and become a member to join an amazing community where you can learn and grow. Already a member or have an account? Then sign in to join or renew your membership.</div>
                <div class="btns-container container-row">
                    <a href="{% url 'account_login' %}" class="btn">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn">Register</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

<section class="section members-search-form-section">
    <div class="members-search-img-container img-container">
        <div class="dark-overlay"></div>
        <div class="container-col members-search-form-card members-search-form-reasons">
            <div class="sub-heading white-text">Find a MREEA Member in your area</div>
            <div class="sub-heading-2 white-text">What can a MREEA Member do for you?</div>
            <ul class="container-col members-search-reasons-container">
                <li class="members-search-reason white-text">Deliver high-quality instruction for maximum member engagement and learning.</li>
                <li class="members-search-reason white-text">Design a variety of courses that cater to the unique learning preferences and needs of adult learners, ensuring a more personalized and fulfilling educational experience.</li>
                <li class="members-search-reason white-text">Conduct systematic evaluations of existing educational programs to identify areas for improvement and make necessary enhancements.</li>
                <li class="members-search-reason white-text">Evaluate the performance and competence of current instructors to maintain the standard of instruction.</li>
                <li class="members-search-reason white-text">Assess both present and future educational requirements to align with the changing needs of your members.</li>
            </ul>
        </div>
        <div class="container-col members-search-form-card members-search-form-container">
            <div class="sub-heading white-text">Search Member Directory</div>
            <form method="get" class="members-search-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search" class="btn">
            </form>
        </div>
        <img src="https://res.cloudinary.com/dikcjjfpo/image/upload/v1692718576/dmccaffrey01_black_business_woman_shaking_white_business_man_ha_89eb8833-1ac1-4591-aa8e-9b3221b50371-transformed_e3zjvu.png" alt="Business Woman and Man shaking hands" class="members-search-img">
    </div>
</section>

{% if members %}

<section class="members-results-section">
    {% for member in members %}
    <div class="section members-search-form-results-section container-col">
        <div class="section-container container-col members-search-form-results-section-container">
            <div class="container-col member-profile-section-container">
                <div class="profile-left-side-container container-row">
                    <div class="profile-card container-col profile-picture-card">
                        <div class="profile-picture-col-container container-col">
                            <div class="profile-img-container">
                                <img src="{{ member.profile_image.url }}" alt="{{ member.first_name }} Profile Image" class="profile-img img-100a"></img>
                            </div>
                            <div class="profile-details-row-container container-row">
                                <div class="light-text">First Name</div>
                                {% if member.first_name %}
                                <div class="dark-text">{{ member.first_name }}</div>
                                {% else %}
                                <div class="dark-text nothing-displayed">Nothing Displayed</div>
                                {% endif %}
                            </div>
                            <div class="profile-details-row-container container-row">
                                <div class="light-text">Last Name</div>
                                {% if member.last_name %}
                                <div class="dark-text">{{ member.last_name }}</div>
                                {% else %}
                                <div class="dark-text nothing-displayed">Nothing Displayed</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="profile-card container-col password-email-card">
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Email</div>
                            {% if member.display_email %}
                            {% if member.email %}
                            <div class="dark-text">{{ member.email }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                            {% else %}
                            <div class="dark-text">Email Not Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Phone Number</div>
                            {% if member.display_number %}
                            {% if member.phone_number %}
                            <div class="dark-text">{{ member.phone_number }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                            {% else %}
                            <div class="dark-text">Number Not Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Facebook</div>
                            {% if member.facebook %}
                            <div class="dark-text">{{ member.facebook }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Website</div>
                            {% if member.website %}
                            <div class="dark-text">{{ member.website }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Teaching Category</div>
                            {% if member.teaching_category and member.teaching_category != 'nothing' %}
                            <div class="dark-text">{{ member.teaching_category }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                        <div class="profile-details-row-container container-row">
                            <div class="light-text">Class</div>
                            {% if member.classes and member.classes != 'nothing' %}
                            <div class="dark-text">{{ member.classes }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="profile-card container-col profile-details-card">
                        <div class="profile-details-col-container container-col bio-container">
                            <div class="light-text">Bio</div>
                            {% if member.bio %}
                            <div class="dark-text short-bio">{{ member.bio|linebreaksbr }}</div>
                            {% else %}
                            <div class="dark-text nothing-displayed">Nothing Displayed</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% elif search_results %}
    <section class="section members-search-form-no-results-section">
        <div class="section-container container-col members-search-form-no-results-section-container">
            <div class="dark-text sub-heading">No members found! Change your search query.</div>
        </div>
    </section>
{% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'js/select-dropdown.js' %}"></script>

{% endblock %}