{% extends "base.html" %}

{% load static %}
{% block extra_title %}- Contact{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="contact-section account-section section h-100b">
    <div class="section-container container-col">
        <div class="account-container container-col align-start box-shadow">
            <h2 class="dark-text subheading">Contact Us!</h2>
            <div class="form-container">
                <form class="form" method="POST" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <div class="visit-link">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 256 256">
                                    <path d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56" />
                                </svg>
                                <span class="sr-only">User Icon</span>
                            </div>
                            <label for="id_name" class="dark-text-2 small-text">Name</label>
                        </div>
                        <div class="input-container col-2">
                            {{ form.name }}
                        </div>
                    </div>
    
                    <div class="input-wrapper">
                        <div class="visit-link">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 16 16">
                                    <path d="M2 6.038V11a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM4 4h8a1 1 0 0 1 1 1v.74L8 8.432L3 5.74V5a1 1 0 0 1 1-1M3 6.876L7.763 9.44a.5.5 0 0 0 .474 0L13 6.876V11a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                                </svg>
                                <span class="sr-only">Email Icon</span>
                            </div>
                            <label for="id_email" class="dark-text-2 small-text">Email</label>
                        </div>
                        <div class="input-container col-2">
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="input-wrapper">
                        <div class="visit-link">
                            <div class="icon-container">
                                <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 16 16">
                                    <path d="M4.5 2A2.5 2.5 0 0 0 2 4.5v7A2.5 2.5 0 0 0 4.5 14h7a2.5 2.5 0 0 0 2.5-2.5v-7A2.5 2.5 0 0 0 11.5 2zM3 4.5A1.5 1.5 0 0 1 4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5zm2.5.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                                </svg>
                                <span class="sr-only">Text Icon</span>
                            </div>
                            <label for="id_message" class="dark-text-2 small-text">Message</label>
                        </div>
                        <div class="input-container col-2">
                            {{ form.message }}
                        </div>
                    </div>
                    
                    <button class="btn" type="submit">
                        <span class="white-text">Send</span>
                    </button>
                  </form>
            </div>
        </div>
        <div class="contact-info-container container-col align-start">
            <p class="visit-link">
                <span class="icon-container btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 16 16">
                        <path d="M2 6.038V11a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2zM4 4h8a1 1 0 0 1 1 1v.74L8 8.432L3 5.74V5a1 1 0 0 1 1-1M3 6.876L7.763 9.44a.5.5 0 0 0 .474 0L13 6.876V11a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                    </svg>
                </span>
                <span class="dark-text-2">contact@mreea.com</span>
            </p>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}


{% endblock %}


