{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="contact-section account-section section h-100b">
    <div class="section-container container-row">

        <div class="info-container container-col">
            <div class="text-container container-col">
                <h2 class="dark-text heading">Contact Us!</h2>
                <div class="contact-btns-container container-col align-start">
                    <div class="contact-btn container-row" data-action-name="email" data-action-info="example@mreea.com">
                        <p class="dark-text red-text container-col"><span class="sr-only">Email Icon</span><i class="fa-solid fa-envelope"></i></p>
                        <p class="dark-text">example@mreea.com</p>
                    </div>
                    <div class="contact-btn container-row" data-action-name="phone_number" data-action-info="(555) 555 5555" >
                        <p class="dark-text red-text container-col"><span class="sr-only">Phone Icon</span><i class="fa-solid fa-phone-flip"></i></p>
                        <p class="dark-text">(555) 555 5555</p>
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img src="{{ MEDIA_URL }}mreea-colored-lines.webp" alt="MREEA Colors" class="img-100a">
            </div>
        </div>

        <div class="form-container">
            
            <form class="form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <p class="input-label dark-text">Name</p>
                    <label for="id_name" class="sr-only">contact name</label>
                    {{ form.name }}
                </div>

                <div class="input-group">
                    <p class="input-label dark-text">Email</p>
                    <label for="id_email" class="sr-only">email</label>
                    {{ form.email }}
                </div>

                <div class="input-group">
                    <p class="input-label dark-text">Message</p>
                    <label for="id_message" class="sr-only">message</label>
                    {{ form.message }}
                </div>
                
                <button class="btn btn-2" type="submit">Send<span class="fa-icon-right"><i class="fa-solid fa-right-to-bracket"></i></span></button>
              </form>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/contact.js' %}"></script>

{% endblock %}