@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.home-hero-section {
    height: calc(100vh - 100px);

    .section-container {
        width: 1600px;
    }

    .img-container {
        width: 500px;
        height: 500px;
        position: relative;

        .img-100a {
            opacity: 0;
            transition: all 1s ease;
        }
    }

    .svg-container {
        position: absolute;
        width: 100%;
        height: 100%;

        svg path {
            stroke-dashoffset: 1560;
            stroke-dasharray: 1560;
            stroke: $red-1;
            stroke-width: 2px;
            fill: transparent;
        }
    }

    .img-container.active {
        .svg-container svg path {
            animation: animate-img 2s linear forwards;
        }

        @keyframes animate-img {
            0% {
                stroke-dashoffset: 1560;
            }
            50% {
                stroke-dashoffset: 0;
                fill: transparent;
            }
            100% {
                fill: $red-1;
            }
        }

        .img-100a {
            opacity: 1;
            transition-delay: 1s;
        }
    }

    .main-text-container {
        width: 900px;
        gap: 30px;
    }

    .heading-container {
        gap: 5px;
    }

    .heading {
        font-size: 5rem;
        letter-spacing: 3px;
    }

    .subheading {
        font-weight: 400;
    }

    .subheading-container {
        gap: 5px;
    }
}

/* Home about */

.home-about-section {
    overflow: hidden;
    .main-text-container {
        width: 700px;
        gap: 50px;
    }

    .heading {
        @include underline($yellow-1);
    }

    .text-container {
        gap: 30px;
    }

    .img-container {
        width: 500px;
        height: 500px;
        transition: all 1.5s ease;

        &.hidden {
            transform: translateX(100%) rotate(180deg);
            opacity: 0;
        }

        &.show {
            transform: translateX(0) rotate(0);
            opacity: 1;
        }
    }
}

/* Home Benefits */

.home-benefits-section {
    overflow: hidden;

    .section-container {
        gap: 100px;
    }

    .heading {
        @include underline($red-1);
    }

    .card-container {
        width: 100%;
    }

    .card {
        position: relative;
        width: 400px;
        height: 350px;
        padding: 75px 50px 20px 50px;
        background-color: $gl-2;
        border-radius: 15px;
        gap: 20px;
        transition: all 0.9s ease;

        &.hidden {
            transform: translateX(-100%);
            opacity: 0;
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
        }

        &:nth-of-type(2) {
            transition-delay: 0.3s;
        }

        &:nth-of-type(3) {
            transition-delay: 0.6s;
        }
    }

    .icon-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $red-1;
        padding: 10px;
        position: absolute;
        left: 20px;
        top: -50px;
    }
}

.testimonial-section {
    overflow: hidden;
    padding-bottom: 200px;

    .section-container {
        gap: 50px;
    }

    .heading {
        @include underline($yellow-1);
    }

    .card-container {
        width: 100%;
    }

    .card {
        width: 400px;
        height: 520px;
        padding: 50px;
        border-radius: 15px;
        background-color: $gl-2;
        position: relative;
        transition: all 0.9s ease;

        &.hidden {
            transform: translateX(100%);
            opacity: 0;
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
        }

        &:nth-of-type(2) {
            transition-delay: 0.3s;
        }

        &:nth-of-type(3) {
            transition-delay: 0.6s;
        }
    }

    .subheading {
        height: $subheading-size;
    }

    .message {
        height: 216px;
    }

    .rating-container {
        gap: 5px;
    }

    .star-icon i {
        font-size: $font-size;
        color: $yellow-1;
    }

    .profile-container {
        gap: 10px;
    }

    .profile-img-container {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .name {
        font-weight: 600;
    }
}

/* Cta section */

.cta-section {
    gap: 30px;
    background-color: $gl-2;
}

