@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.testimonial-section {
    padding: 40px 0 80px 0;
    background: $gl-1;
    min-height: calc(100vh - 100px);

    .section-container {
        gap: 32px;
    }

    .section-heading-visit-link {
        gap: 16px;
    
        .icon-container {
            $icon-width: calc(2.5rem + 24px);
            width: $icon-width;
            height: $icon-width;
            padding: 12px;
        }
        
        .section-heading {
            font-size: 2.5rem;
        }
    }

    .testimonial-input-container {
        width: 600px;
        padding: 24px;
        border-radius: $round-corner-3;
        background-color: $gl-1;

        textarea {
            width: 100%;
            font-size: 1.5rem;
            color: $gd-3;
            line-height: calc($font-size + 8px);
            resize: none;
            padding: 16px;
            border-radius: $round-corner-2;
            border: none;
            outline: none;
            background-color: $gl-2;
            font-family: "Roboto", sans-serif;

            &::placeholder {
                color: $gd-3;
                font-style: normal;
                opacity: 1;
                font-family: "Roboto", sans-serif;
            }

            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
        }
    }

    .testimonial-container {
        width: 600px;
        border-radius: $round-corner-3;
        background-color: $gl-1;
        padding: 40px;
        position: relative;
        gap: 16px;
        height: 386px;

        .preview-text {
            display: -webkit-box;
            line-height: calc($font-size + 8px);
            font-size: 1.5rem;
            color: $gd-3;
            overflow: hidden;
            min-height: 230px;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            width: 100%;
        }

        .author-container {
            gap: 16px;
        }

        .author-text {
            font-size: 1.5rem;
        }

        .author-img-container {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    .management-btns-container {
        gap: 4px;
        width: 600px;
        padding: 16px;
        border-radius: $round-corner-3;
        background-color: $gl-1;

        .save-btn {
            padding: 0;
            background-color: $gl-1;
            border: none;
        }

        .visit-link {
            justify-content: flex-start;
            width: 100%;
            border-radius: $round-corner-2;
            background-color: $gl-1;
            padding: 12px;
            gap: 8px;
            cursor: pointer;

            &:hover {
                background-color: $gl-2;

                .icon-container {
                    background-color: $gl-1;

                    &.success:hover {
                        background-color: $success;
                    }

                    &.error:hover {
                        background-color: $error;
                    }
                }
            }
        }
    }

    /* Small devices (larger phones, 576px to 767px) */
    @media (max-width: 767px) {
        .testimonial-input-container {
            width: 496px;
            padding: calc(24px * ((496px) / 600px));

            textarea {
                padding: calc(16px * ((496px) / 600px));
                font-size: calc(1.5rem * ((496px) / 600px));
            }
        }

        .testimonial-container {
            padding: calc(40px * ((496px) / 600px));
            width: 496px;
            height: fit-content;

            .preview-text {
                font-size: calc(1.5rem * ((320px) / 600px));
                line-height: calc((1.5rem * ((320px) / 600px)) + 6px);
                min-height: calc(((1.5rem * ((320px) / 600px)) + 6px) * 8);
            }
        }

        .management-btns-container {
            width: 496px;
        }
    }

    /* Extra small devices (phones, 380px to 575px) */
    @media (max-width: 575px) {
        .section-heading-visit-link {
            .subheading {
                font-size: 1.4rem;
            }

            .icon-container {
                width: calc(1.4rem + 16px);
                height: calc(1.4rem + 16px);
                padding: 8px;
            }
        }

        .testimonial-input-container {
            width: 320px;
            padding: calc(24px * ((320px) / 600px));

            textarea {
                padding: calc(16px * ((320px) / 600px));
                font-size: calc(1.5rem * ((320px) / 600px));
                line-height: calc((1.5rem * ((320px) / 600px)) + 6px);
            }
        }

        .testimonial-container {
            padding: calc(40px * ((320px) / 600px));
            width: 320px;
            height: fit-content;

            .preview-text {
                font-size: calc(1.5rem * ((320px) / 600px));
                line-height: calc((1.5rem * ((320px) / 600px)) + 6px);
                min-height: calc(((1.5rem * ((320px) / 600px)) + 6px) * 8);
            }

            .author-text {
                font-size: calc(1.5rem * ((320px) / 600px));
            }

            .author-img-container {
                width: calc(60px * ((320px) / 600px));
                height: calc(60px * ((320px) / 600px));
            }
        }

        .management-btns-container {
            width: 320px;
        }
    }

}
