{% extends "base.html" %}

{% load static %}

{% block extra_title %}- Notifications{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view_notification.css' %}">
{% endblock %}

{% block content %}

<section class="view-notification-section section">
    <div class="section-container container-col">
        <div class="view-notification-container container-col box-shadow relative-pos">
            <div class="heading-container container-row">
                <p class="heading-icon-container icon-container">
                    {{ selected_notification.icon|safe }}
                    <span class="sr-only">Notification Icon</span>
                </p>
                <h2 class="heading-text subheading dark-text">{{ selected_notification.heading }}</h2>
                <p class="age-text dark-text small-text">{{ selected_notification.age }}</p>
    
                <div class="view-notification-action-menu-btn action-menu-btn wrapper-menu" data-sku="{{ selected_notification.sku }}">
                    <div class="btn-wrapper relative-pos">
                        <p class="icon-container dark-text">
                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 16 16">
                                <path d="M4 8a2 2 0 1 1-3.999.001A2 2 0 0 1 4 8m6 0a2 2 0 1 1-3.999.001A2 2 0 0 1 10 8m6 0a2 2 0 1 1-3.999.001A2 2 0 0 1 16 8" />
                            </svg>
                            <span class="sr-only">Ellipisis Icon</span>
                        </p>
                        <div class="action-menu-container absolute-pos wrapper-menu">
                            <div class="visit-url-notification-btn action-item" data-sku="{{ selected_notification.sku }}">
                                <p class="icon-container dark-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 3a1 1 0 0 0 0 2h9v13a1 1 0 0 1-1 1H9a1 1 0 0 0 0 2h8a3 3 0 0 0 3-3V4a1 1 0 0 0-1-1zm3.707 5.293A1 1 0 0 0 11 9v2H5a1 1 0 0 0 0 2h6v2a1 1 0 0 0 1.707.707l3-3a1 1 0 0 0 0-1.414z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="sr-only">Visit Link Icon</span>
                                </p>
                                <p class="item-text dark-text small-text">Visit {{ selected_notification.url_name }}</p>
                            </div>
                            <div class="delete-notification-btn action-item confirm-action-btn relative-pos" data-sku="{{ selected_notification.sku }}">
                                <p class="icon-container dark-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M8.106 2.553A1 1 0 0 1 9 2h6a1 1 0 0 1 .894.553L17.618 6H20a1 1 0 1 1 0 2h-1v11a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V8H4a1 1 0 0 1 0-2h2.382zM14.382 4l1 2H8.618l1-2zM11 11a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0zm4 0a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="sr-only">Delete Notification Icon</span>
                                </p>
                                <p class="item-text dark-text small-text">Delete Notification</p>
                                <div class="confirm-action-container absolute-pos wrapper-menu">
                                    <p class="dark-text small-text">Confirm Delete</p>
                                    <div class="confirm-options">
                                        <p class="confirm-delete-notification-btn icon-container dark-text gl-1 success" data-sku="{{ selected_notification.sku }}" data-view-sku="{{ selected_notification.sku }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 24 24">
                                                <g fill-rule="evenodd">
                                                    <path fill="black" d="M21.546 5.111a1.5 1.5 0 0 1 0 2.121L10.303 18.475a1.6 1.6 0 0 1-2.263 0L2.454 12.89a1.5 1.5 0 1 1 2.121-2.121l4.596 4.596L19.424 5.111a1.5 1.5 0 0 1 2.122 0" />
                                                </g>
                                            </svg>
                                            <span class="sr-only">Check Icon</span>
                                        </p>
                                        <p class="deny-action-btn icon-container dark-text gl-1 error">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="dark-text" viewBox="0 0 15 15">
                                                <path d="M3.64 2.27L7.5 6.13l3.84-3.84A.92.92 0 0 1 12 2a1 1 0 0 1 1 1a.9.9 0 0 1-.27.66L8.84 7.5l3.89 3.89A.9.9 0 0 1 13 12a1 1 0 0 1-1 1a.92.92 0 0 1-.69-.27L7.5 8.87l-3.85 3.85A.92.92 0 0 1 3 13a1 1 0 0 1-1-1a.9.9 0 0 1 .27-.66L6.16 7.5L2.27 3.61A.9.9 0 0 1 2 3a1 1 0 0 1 1-1c.24.003.47.1.64.27" />
                                            </svg>
                                            <span class="sr-only">Xmark Icon</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-container container-col align-start">
                <p class="message-text dark-text">
                    {{ selected_notification.message }}
                </p>
                <a href="{{ selected_notification.url }}" class="visit-link">
                    <p class="dark-text-2 small-text">Visit {{ selected_notification.url_name }}</p>
                    <span class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dark-text-2" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M9 3a1 1 0 0 0 0 2h9v13a1 1 0 0 1-1 1H9a1 1 0 0 0 0 2h8a3 3 0 0 0 3-3V4a1 1 0 0 0-1-1zm3.707 5.293A1 1 0 0 0 11 9v2H5a1 1 0 0 0 0 2h6v2a1 1 0 0 0 1.707.707l3-3a1 1 0 0 0 0-1.414z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/view_notification.js' %}"></script>

{% endblock %}