@import '../../../static/css/variables';
@import '../../../static/css/mixins';

.admin-section {
    min-height: calc(100vh - 100px);

    .section-container {
        gap: 16px;
    }

    .admin-container {
        gap: 8px;

        .subheading {
            text-decoration: underline;
            font-size: 1.6rem;
        }
    }
}